<div class="edit-user">
  <header class="naked"></header>
  <section class="container site-content">
    <section class="row mb-5 justify-content-md-center">
      <div class="col-md-auto align-self-center">
        <h2 class="subheader">Edit Profile</h2>
        <div class="form-elements">
          <form class="form form-wrapper ng-pristine ng-invalid ng-invalid-required" name="form" ng-submit="vm.edituser(form)" novalidate="">

            <div class="form-group " ng-class="{ 'has-success': form.first_name.$valid && vm.submitted,'has-error': form.first_name.$invalid && vm.submitted }">
              <label>First Name</label>
              <input type="text" name="first_name" class="form-control input-md" ng-model="vm.user.first_name" required="required"/>
              <p class="help-block" ng-show="form.first_name.$error.required && vm.submitted">
                A first name is required
              </p>
            </div>

            <div class="form-group" ng-class="{ 'has-success': form.last_name.$valid && vm.submitted,'has-error': form.last_name.$invalid && vm.submitted }">
              <label>Last Name</label>
              <input type="text" name="last_name" class="form-control input-md" ng-model="vm.user.last_name" required="required"/>
              <p class="help-block" ng-show="form.last_name.$error.required && vm.submitted">
                A last name is required
              </p>
            </div>
            <p class="help-block" name="error" ng-model="vm.user.error" ng-show="vm.errors.error">
              {{ vm.errors.error }}
            </p>
            <div>
              <span><button id='save_user_profile_btn' type="submit" class="btn btn-alt-2 btn-sm">Save Changes</button></span>
              <span><a class="ml-0" ui-sref="site.user.editpassword">Change Password</a></span>
            </div>
          </form>
        </div>
      </div>
    </section>
  </section>
</div>
