<div class="br-pageheader">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="site.user.home">Home</a>
      <a class="breadcrumb-item" ui-sref="site.emails.home">Emails</a>
      <a class="breadcrumb-item">{{ vm.pageTitle }}</a>
    </nav>
</div>
  
<div class="emails-edit">
  <div class="br-pagetitle">
    <h3 class="mb-2">{{ vm.pageTitle }}</h3>
  </div>

  <div class="br-pagebody">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
        <loading-overlay ng-if="vm.isLoading" show-spinner="true"></loading-overlay>
        <form name="emailForm" id="email-form" ng-submit="vm.updateEmail()" novalidate>
          <!-- Email Details -->
          <div class="email-details card">
            <div class="card-header">
              <h6 class="card-title">Email Details</h6>
            </div>

            <div class="card-body">
              <div class="form-layout form-inputs">
                <div class="email-details-name">
                  <label class="required">Name</label>
                  <input type="text" id="name" name="name" class="form-control" ng-model="vm.inputEmail.name" required
                          minlength='3' maxlength='20' size="2  0" mongoose-error="mongoose-error" />
                </div>

                <div class="email-details-description">
                  <label class="required">Description</label>
                  <!-- <textarea name="description" rows="4" class="form-control" ng-model="vm.inputEmail.description"
                            maxlength="255" required /> -->
                  <input type="text" id="description" name="description" class="form-control" ng-model="vm.inputEmail.description" required
                          minlength='3' maxlength='144' size="2  0" mongoose-error="mongoose-error" />
                </div>

                <div class="email-details-schedule">
                  <label class="required">Manual Schedule</label>
                  <input type="text" id="schedule" name="schedule" class="form-control" ng-disabled="vm.inputEmail.by_shift" ng-model="vm.inputEmail.schedule" required
                          minlength='3' maxlength='255' size="2  0" mongoose-error="mongoose-error" />

                  <div class="btn-group">
                    <button type="button" ng-click="vm.setScheduleAt()" class="btn btn-outline-inverse-alt mr-2">At 8 am</button>
                    <button type="button" ng-click="vm.setScheduleEvery()" class="btn btn-outline-inverse-alt mr-2">Every 4 hours</button>
                    <button id='schedule_help_btn' type="button" class="btn btn-outline-inverse-alt mr-2" ng-click="vm.showScheduleHelp()">
                      Help
                    </button>
                  </div>
                </div>

                <br>

                <div class="email-details-shift-schedule ">
                  <label >Schedule By Shift</label>
                  <div>
                    <toggle-switch
                      on="vm.inputEmail.by_shift"
                      ng-click="vm.handleShift()"
                    ></toggle-switch>
                  </div>
                </div>

                <div class="email-details-enabled">
                  <label >Email Enabled</label>
                  <div>
                    <toggle-switch
                      on="vm.inputEmail.enabled"
                    ></toggle-switch>
                  </div>
                </div>

                <div class="email-details-sections">
                  <label class="required">Sections</label>
                  <select style="height: 250px;" name="sections" id="sections" 
                  ng-options="e.type as e.label for e in vm.allSections" ng-model="vm.selectedSections" multiple>
                  </select>
                  <div>Selected Sections
                    <ul>
                      <li ng-repeat="section in vm.selectedSections">{{section}}</li>
                    </ul>
                  </div>
                </div>

                <div class="email-details-choose-recipients">
                  <label >Choose Recipients</label>
                  <div>
                    <toggle-switch
                      on="vm.chooseRecipients"
                    ></toggle-switch>
                  </div>
                </div>

                <div class="email-details-recipients-list" ng-show="vm.chooseRecipients">
                  <label>Send List</label>
                  <select style="height: 250px;" name="recipients" id="recipients" 
                  ng-options="e.email for e in vm.deptEmails" ng-model="vm.selectedEmails" multiple>
                  </select>
                  <div>Selected Emails
                    <ul>
                      <li ng-repeat="email in vm.selectedEmails">{{email.email}}</li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="help-block" ng-if="vm.errors">
            <ul>
              <li ng-repeat="error in vm.errors">
                <span class="text-danger">{{ error.message }}</span>
              </li>
            </ul>
          </div>

          <div class="help-block" ng-if="vm.showErrors">
            <ul>
              <li ng-repeat="error in vm.errors">
                <span class="text-danger">{{ error.message }}</span>
              </li>
            </ul>
          </div>

          <div class="d-flex align-items-center">
            <button id='back_edit_btn' ui-sref="site.emails.home" class="btn btn-outline-inverse-alt mr-2">
              Cancel
            </button>
            <button id='preview_edit_btn' type="button" class="btn btn-outline-inverse-alt mr-2" ng-click="vm.getPreview()">
              Preview
            </button>
            <button id='save_edit_btn' type="submit" class="btn btn-primary" ng-disabled="vm.saveDisabled()">
              {{ vm.saveButtonText }}
            </button>
            <span ng-show="vm.isSaving" class="mg-b-0 mg-l-20">
              {{ vm.savingText }}
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="scheduleHelpModal" style="display: none;">
    <h4 class="heavyheader">Manual</h4>
    <div>Schedules can be entered by hand. It uses a "plain English" notation. Here are some examples, explanations in parentheses</div>
    <ul class="statengine text-left">
      <li>
        every 3 hours (this will send the email every three hours)
      </li>
      <li>
        at 8:45 am (this will send the email every day at 8:45 am)
      </li>
    </ul>
    <h4 class="mt-5 heavyheader">By Shift</h4>
    <div>If you want the email to be sent after the conclusion of every shift, then toggle the Schedule By Shift to <strong class="text-success text-left">ON</strong> </div>
  </div>
</div>
