<div ng-if="vm.initialized">
  <div class="incidents-table-desktop">
    <div
      class="ui-grid-table"
      ui-grid="vm.uiGridOptions"
      ui-grid-resize-column
    >
      <loading-overlay ng-if="vm.isLoading" show-spinner="true"></loading-overlay>
      <h2
        class="watermark heavyheader text-muted"
        ng-show="!vm.isLoading && !vm.uiGridOptions.data.length"
      >
        No data available
      </h2>
    </div>

    <table-controls
      ng-if="vm.showControls"
      pagination="vm.pagination"
      on-pagination-change="vm.handlePaginationChange({ pagination })"
      position="bottom"
      show-sort="false"
      max-pages="10"
    ></table-controls>
  </div>

  <!-- Incidents (mobile) -->
  <div class="incidents-table-mobile">
    <table-controls
      ng-if="vm.showControls"
      pagination="vm.pagination"
      sort="vm.sortSelect"
      on-pagination-change="vm.handlePaginationChange({ pagination })"
      on-sort-change="vm.handleSortChange({ sort })"
      is-loading="vm.isLoading"
      position="top"
      max-pages="10"
    ></table-controls>

    <!-- Incidents table -->
    <div class="table">
      <loading-overlay ng-if="vm.isLoading" show-spinner="false"></loading-overlay>

      <div
        class="table-row"
        ng-repeat="incident in vm.incidents"
      >
        <div
          class="cell"
          ng-repeat="columnDef in vm.uiGridOptions.columnDefs"
          ng-attr-data-title="{{ columnDef.displayName }}"
        >
          <a
            ng-if="columnDef.field === 'description.incident_number'"
            ng-attr-ui-sref="{{ vm.getIncidentUiSref(incident) }}"
            href=""
          >
            {{ vm.getIncidentColumn(incident, columnDef) }}
          </a>

          <span ng-if="columnDef.field !== 'description.incident_number'">
          {{ vm.getIncidentColumn(incident, columnDef) }}
        </span>
        </div>
      </div>
    </div>

    <table-controls
      ng-if="vm.showControls && !vm.isLoadingFirst"
      pagination="vm.pagination"
      sort="vm.sortSelect"
      on-pagination-change="vm.handlePaginationChange({ pagination })"
      on-sort-change="vm.handleSortChange({ sort })"
      is-loading="vm.isLoading"
      position="bottom"
      max-pages="10"
    ></table-controls>
  </div>
</div>
