<div class="br-mainpanel">
  <div class="br-pagebody p-0 m-0">
    <div class="marketplace-home">
      <section class="masthead container-fluid animated fadeIn">
        <div class="px-4 py-5">
          <div class="row justify-content-center">
            <div class="col-lg-12 masthead-content">
              <h1 class="subheader">StatEngine Marketplace</h1>
              <p>We have a plethora of powerful extensions that enable data enrichments, extension with Social Media platforms, and much more!</p>
              <div class="marketplace-search input-group mb-3">
                <input ng-model="query" class="search-input form-control" type="text" placeholder="Search the Marketplace">
                <div class="input-group-append">
                  <button class="btn btn-primary btn-search" type="button">Search</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="container-fluid p-3 p-md-5 mx-wd-1350">
        <section class="row">
          <div class="categories-sidenav col-md-4 d-none d-sm-block">
            <div class="mr-5">
              <h6 class="text-uppercase heavyheader tx-13 mg-b-15">CATEGORIES</h6>
              <ul class="nav nav-pills flex-column align-items-start">
                <li ng-repeat="category in vm.categories" ng-class="{'active' : vm.selectedCategory === category}">
                  <a href="#" class="nav-link" ng-click="vm.filterByCategory(category)">{{category}}</a>
                </li>
              </ul>
            </div>
            <hr class="my-3 mr-3 my-md-5 mr-md-5">
            <div class="extension-request mr-5 mb-5 pt-2">
              <h6 class="text-uppercase heavyheader tx-13 mg-b-15">REQUEST</h6>
              <p>Don't see a plugin, enrichment, or app you're looking for? Request an extension and include the data that is most valuable to you and we'll make it a priority!</p>
              <a id='' href="mailto: contact@statengine.io" target="_blank">
                <button class="btn btn-outline-inverse-alt btn-sm hvr-float">Request</button>
              </a>
            </div>
          </div>
          <div class="extensions-content col-md-8">
            <section class="featured-extensions">
              <h4 class="mt-0 pb-4">Featured</h4>
              <div class="row align-items-center">
                <div ng-repeat="extension in vm.filteredFeaturedExtensions | filter:query as filteredFeatured" class="col">
                  <a ui-sref="site.marketplace.extensionRequest({id: extension._id})" class="card hvr-float">
                    <img ng-src="{{vm.loadImage(extension.image)}}" alt="">
                    <h5 class="heavyheader text-truncate text-">{{extension.name}}</h5>
                    <p>{{extension.short_description}}</p>
                  </a>
                </div>
                <div ng-if="filteredFeatured.length == 0" class="col">
                  <p class="text-danger">No featured extensions available </p>
                </div>
              </div>
            </section>
            <section class="extensions code-quality mt-md-3 pt-5">
              <h4 class="mt-0 pb-4">{{vm.selectedCategory}}</h4>
              <div class="row align-items-center">
                <div ng-repeat="extension in vm.filteredExtensions | filter:query as filtered" class="col">
                  <a ui-sref="site.marketplace.extensionRequest({id: extension._id})" class="card hvr-float">
                    <img ng-src="{{vm.loadImage(extension.image)}}" alt="">
                    <h5 class="heavyheader text-truncate">{{extension.name}}</h5>
                    <p>{{extension.short_description}}</p>
                  </a>
                </div>
                <div ng-if="filtered.length == 0" class="col">
                  <p class="text-danger">No extensions available </p>
                </div>
              </div>
            </section>
          </div>
        </section>
      </section>
    </div>
  </div>
</div>
