/////////////////////////////////
// MARKETPLACE //
////////////////////////////////

.marketplace-home {
  header.naked {
    margin-bottom: 0;
  }
  .masthead {
    background-image:url('../assets/images/marketplace-bg-left.png'), url('../assets/images/marketplace-bg-right.png');
    background-position: calc(50% - 550px) 3px,calc(50% + 550px) 3px;
    background-repeat: no-repeat,no-repeat;
    min-height: 335px;
  }
  .masthead-content {
    padding-top: 5rem;
    text-align: center;
    h1 {
      font-weight: 300;
      font-size: 45px;
    }
    > p {
      color: $color-pale-sky;
      font-size: 16px;
      margin: 1.5rem 0 2rem;
    }
  }
  .marketplace-search {
  	margin: 0 auto;
  	position: relative;
  	width:90%;
    display: flex;
    .search-input {
      border-radius: 99rem;
      border-right: none;
      box-sizing: border-box;
      padding: 2.2rem 13rem 2.2rem 2.2rem;
    }
    button {
      padding: .75rem 3rem;
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }
  .categories-sidenav {
    ul.nav {
      margin-left: -8px;
    }
    .nav > li {
      > a {
        border-radius: 3px;
        color: inherit;
        padding: .75rem;
        &:hover, &:active, &:focus {
          background-color: lighten($color-pale-sky,50%);
          color: darken($color-cerulean,5%);
        }
      }
      &.active
      a {
        background-color: lighten($color-pale-sky,50%);
        color: darken($color-cerulean,5%);
        &:after {
          content: "\E072";
          font-family: 'Glyphicons Halflings';
          font-size: 8px;
          position: absolute;
          right: 1rem;
          top: 1.3rem;
        }
      }
    }
  }
  .extension-request p {
    font-size: 14px;
  }
  .extensions-content {
    a.card {
      color: inherit;
      padding-left: 9rem;
      &:hover, &:active, &:focus {
        text-decoration: none;
      }
      &:hover {
        transform: translateY(-5px);
      }
      img {
        position: absolute;
        left: 2rem;
        top: 2.5rem;
      }
      h5 {
        font-size: 15px;
        line-height: 1.25;
        margin: 0 0 5px;
      }
      p {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 0;

        // Line clamp code (keep it to 3 lines only)
  			-webkit-box-orient: vertical;
  			display: -webkit-box;
  			-webkit-line-clamp: 3;
  			overflow: hidden;
      }
    }
    .featured-extensions {
      .col {
        width: 430px;
        min-width: 430px;
        max-width: 430px;

        margin-bottom: 1.5rem;
        @media (max-width: 976px) {
          min-width: 100%;
          width: 100%;
        }
      }
      a.card{
        background-color: #f6f8fa;
        border-color: #d5dbe3;
        width: 100%;
        min-height: 130px;
        p {
          // Line clamp code (keep it to 2 lines only)
          -webkit-box-orient: vertical;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
      }
    }
    .extensions {
      .col {
        width: 278px;
        max-width: 278px;
        min-width: 278px;
        margin-right: 2.95rem;
        @media (max-width: 976px) {
          margin-right: 0;
          max-width: 100%;
          width: 100%;
        }
      }
      a.card {
        max-width: 278px;
        width: 278px;
        margin-bottom: 1.5rem;
        min-height: 130px;
        @media (max-width: 976px) {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
}
