<div class="br-pagebody p-0 m-0">
  <div class="marketplace-home">
    <section class="masthead container-fluid animated fadeIn">
      <div class="px-4 py-5">
        <div class="row justify-content-center">
          <div class="col-lg-12 masthead-content">
            <h1 class="subheader">Marketplace</h1>
            <h5>Tools to extend your data</h5>
            <p>Enable data enrichments, post directly to Social Media platforms, integrate with Record Management Systems (RMS) and more!</p>
          </div>
        </div>
      </div>
    </section>
    <section class="container-fluid p-3 p-md-5 mx-wd-1350">
      <section class="row">
        <div class=" col-md-4">
          <h6 class="text-uppercase heavyheader tx-13 mg-b-15">SEARCH</h6>
          <div class="marketplace-search input-group mb-3">
            <input ng-model="query" class="search-input form-control" type="text" placeholder="Name or description">
          </div>
          <div class="pd-t-10">
            <h6 class="text-uppercase heavyheader tx-13 mg-b-15">CATEGORIES</h6>
            <ul class="nav nav-pills flex-column align-items-start">
              <li ng-repeat="category in vm.categories" ng-class="{'active' : vm.selectedCategory === category}">
                <a href="#" class="nav-link" ng-click="vm.filterByCategory(category)">{{category}}</a>
              </li>
            </ul>
          </div>
          <hr class="-3 mr-3 my-md-5">
          <p><strong class="badge badge-success tx-13">ENRICHMENTS</strong> extend your incoming data with additional attributes such as weather, census, political boundaries, and other data from third-party sources.</p>
          <p><strong class="badge badge-primary tx-13">APPLICATIONS</strong> are external applications that you authorize to share your sanitized data with such as Social Media platforms, CAD, or RMS partners</p>
          <hr class="-3 mr-3 my-md-5">
          <div class="extension-request mr-5 mb-5 pt-2">
            <h6 class="text-uppercase heavyheader tx-13 mg-b-15">REQUEST</h6>
            <p>Have an idea for a new extension or want to create your own with our developer program? Request for more information now!</p>
            <a id='' href="mailto: contact@statengine.io" target="_blank">
              <button class="btn btn-outline-inverse-alt btn-sm hvr-float">Request</button>
            </a>
          </div>
        </div>
        <div class="extensions-content col-md-8">
          <section class="featured-extensions">
            <h4 class="mt-0 pb-4">Featured</h4>
            <div class="row align-items-center">
              <div ng-repeat="extension in vm.filteredFeaturedExtensions | filter:query as filteredFeatured" class="col">
                <a ng-click="vm.goto(extension)" href="#" class="card hvr-float">
                  <img ng-src="{{vm.loadImage(extension.image)}}" alt="">
                  <h5 class="heavyheader text-truncate text-">{{extension.name}}
                    <span ng-if="extension.type !== 'app'" class="pull-right badge badge-success">ENRICHMENT</span>
                    <span ng-if="extension.type === 'app'" class="pull-right badge badge-primary">APPLICATION</span>
                  </h5>
                  <p>{{extension.short_description}}</p>
                </a>
              </div>
              <div ng-if="filteredFeatured.length == 0" class="col">
                <p class="text-danger">No featured extensions available </p>
              </div>
            </div>
          </section>
          <section class="extensions code-quality mt-md-3 pt-5">
            <h4 class="mt-0 pb-4">{{vm.selectedCategory}}</h4>
            <div class="row align-items-center">
              <div ng-repeat="extension in vm.filteredExtensions | filter:query as filtered" class="col">
                <a ng-click="vm.goto(extension)" href="#" class="card hvr-float">
                  <img ng-src="{{vm.loadImage(extension.image)}}" alt="">
                  <h5 class="heavyheader text-truncate">{{extension.name}}
                    <span ng-if="extension.type !== 'app'" class="pull-right badge badge-success">ENRICHMENT</span>
                    <span ng-if="extension.type === 'app'" class="pull-right badge badge-primary">APPLICATION</span>
                  </h5>
                  <p>{{extension.short_description}}</p>
                </a>
              </div>
              <div ng-if="filtered.length == 0" class="col">
                <p class="text-danger">No extensions available </p>
              </div>
            </div>
          </section>
        </div>
      </section>
    </section>
  </div>
</div>
