<div class="marketplace-home">
  <navbar class="animated fadeInDown naked"></navbar>
  <header class="naked"></header>
  <section class="masthead container-fluid animated fadeIn">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 offset-md-3 masthead-content">
          <h1 class="subheader">StatEngine Marketplace</h1>
          <p>We have a plethora of powerful extensions that enable data enrichments, extension with Social Media platforms, and much more!</p>
          <div class="marketplace-search">
            <input ng-model="query" class="search-input form-control" type="text" placeholder="Search the Marketplace">
            <button class="btn btn-primary btn-search">Search</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container pt-3">
    <section class="row">
      <div class="categories-sidenav col-md-3 hidden-xs">
        <div class="categories-sidenav mr-5">
          <h6 class="text-uppercase heavyheader">CATEGORIES</h6>
          <ul class="nav">
            <li ng-repeat="category in vm.categories" ng-class="{'active' : vm.selectedCategory === category}">
              <a href="#" ng-click="vm.filterByCategory(category)">{{category}}</a>
            </li>
          </ul>
        </div>
        <hr class="my-5 mr-5">
        <div class="extension-request mr-5 pt-2">
          <h6 class="text-uppercase heavyheader">EXTENSION REQUEST</h6>
          <p>Don't see a plugin or enrichment you're looking for? Request an extension and include the data that is most valuable to you and we'll make it a priority!</p>
          <a id='' href="mailto: contact@statengine.io" target="_blank">
            <button class="btn btn-outline-inverse-alt btn-sm hvr-float">Request extension</button>
          </a>
        </div>
      </div>
      <div class="extensions-content col-md-9">
        <section class="featured-extensions">
          <h3 class="mt-0 pb-4">Featured Extensions</h3>
          <div class="row align-items-center">
            <div ng-repeat="extension in vm.filteredFeaturedExtensions | filter:query as filteredFeatured" class="col">
              <a ui-sref="site.marketplace.extension({name: extension.name})" class="card hvr-float">
                <img src="../assets/images/extensions/{{extension.image}}" alt="">
                <h5 class="heavyheader text-truncate">{{extension.name}}</h5>
                <p>{{extension.description}}</p>
              </a>
            </div>
            <div ng-if="filteredFeatured.length == 0" class="col">
              <p class="text-danger">No featured extensions available </p>
            </div>
          </div>
        </section>
        <section class="extensions code-quality mt-5 pt-5">
          <h3 class="mt-0 pb-4">{{vm.selectedCategory}}</h3>
          <div class="row align-items-center">
            <div ng-repeat="extension in vm.filteredExtensions | filter:query as filtered" class="col">
              <a ui-sref="site.marketplace.extension({name: extension.name})" class="card hvr-float">
                <img src="../assets/images/extensions/{{extension.image}}" alt="">
                <h5 class="heavyheader text-truncate">{{extension.name}}</h5>
                <p>{{extension.description}}</p>
              </a>
            </div>
            <div ng-if="filtered.length == 0" class="col">
              <p class="text-danger">No extensions available </p>
            </div>
          </div>
        </section>
      </div>
    </section>
  </section>
  <section class="container py-5 bg-gray-light">
  </section>
</div>
<footer id="footer"></footer>
