.incident-header {
  background: white;
  border-bottom: 1px solid $color-geyser;
  h3 {
    letter-spacing: -0.02rem;
    margin: 3rem 0 1.75rem
  }
}

.nav-tabs {
  border-bottom: 0;
  > li > a {
    background-color: transparent;
    border: none;
    border-bottom: 4px solid transparent;
    color: $color-pickled-bluewood;
    font-size: 14px;
    font-weight: 600;
    margin-right: 4rem;
    padding: 10px 0;
  }
  > li > a:hover,
  > li > a:focus {
    background-color: transparent;
    border-color: transparent;
    color: $color-pacific-blue;
  }
  > li.active > a,
  > li.active > a:hover,
  > li.active > a:focus {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid $color-pacific-blue;
    color: $color-pickled-bluewood;
    cursor: default;
  }
  @media (max-width: 768px) {
    > li {
      float: none;
      a {
        border-bottom: 0;
      }
      &.active > a,
      &.active > a:hover,
      &.active > a:focus {
        border: none;
        color: $color-pacific-blue;
      }
      &:last-child > a {
        margin-bottom: 2rem;
      }
    }
  }
}

.sectionheader {
  color: lighten($color-pale-sky,10%);
  font-weight: 500;
  margin: 6rem 0 3rem;
  text-transform: uppercase;
}

// Baseline style for statistical units found in the card layout
.stat {
  align-items: center;
  display: flex;
  padding: 0 1.5rem 6rem;
  h2,h4 {
    margin: 0;
    padding: 0;
  }
  h2 {
    color: $color-pacific-blue;
  }
  h4 {
    color: lighten($color-pale-sky,5%);
    font-size: 17px;
  }
  i {
    margin-right: 2.35rem;
  }
  @media (max-width: 768px) {
    padding-bottom: 4rem;
  }
}

.no-data-available {
  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 5rem;
  height: 60%;
}

#overview {
  .intro-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 768px) and (max-width: 1200px) {
      padding-left: 6rem;
    }
  }
  @media (max-width: 768px) {
    .intro-summary {
      h4 {
        text-align: center;
        margin-top: 4.5rem;
      }
    }
  }
  .dispatch-comments {
    @media (max-width: 976px) {
      margin-top: 3rem;
    }
    p {
      font-family: monospace;
      font-size: 15px;
    }
  }
}

#location {
  .location-summary {
    > .row {
      margin-top: 2.5rem;
      &:first-of-type {
        margin-top: 1rem;
      }
    }
    > hr {
      margin-left: -3rem;
    }
    dl dd {
      margin-bottom: 1rem;
    }
    dl dt {
      margin-bottom: 1.5rem;
    }
    h3 {
      font-family: 'Open Sans';
      font-size: 21px;
      font-weight: 400;
      letter-spacing: 0.05rem;
      margin-top: 1rem;
    }
  }
  @media (max-width: 768px) {
    .location-summary > .row {
      margin: 1.5rem;
    }
  }
}

// Census Data
.census-data {
  i.se-icon-census-tract {
    font-size: 3.2em;
  }
}

// Parcel Data
.parcel-data {
  @media (max-width: 976px) {
    margin-top: 3rem;
  }
}

// Weather Conditions
.weather-conditions {
  // ==========
  // TODO: Dynamically change background color based on weather summary type
  // ==========
  .weather-cube {
    background: rgb(53,144,231);
    background: linear-gradient(149deg, rgba(53,144,231,1) 0%, rgba(54,187,214,1) 100%);
    // background: rgb(236,115,99);
    // background: linear-gradient(149deg, rgba(236,115,99,1) 0%, rgba(239,200,69,1) 100%);
    // background: rgb(38,46,89);
    // background: linear-gradient(149deg, rgba(38,46,89,1) 0%, rgba(76,78,153,1) 100%);
    // background: rgb(172,99,93);
    // background: linear-gradient(149deg, rgba(172,99,93,1) 0%, rgba(230,186,141,1) 100%);
    border-radius: 3px;
    color: white;
    text-align: center;
    min-width: 18.3rem;
    padding: 1rem 2rem 3rem;
    h3 {
      margin: 1rem 0 0 0;
    }
  }
  .weather-summary {
    @media (min-width: 992px) and (max-width: 1199px) {
      padding-left: 4.5rem;
    }
    @media (max-width: 768px) {
      padding-top: 2rem;
    }
  }
}

// Traffic Conditions
.traffic-conditions {
  @media (max-width: 976px) {
    margin-top: 3rem;
  }
}

current-weather {
  h1.heavyheader {
    font-family: 'Open Sans';
    font-size: 4rem;
    margin-top: 0;
  }
  h4 {
    color: lighten($color-pale-sky,15%);
    font-weight: 400;
  }
  hr {
    border-top-color: #d7dee3;
    width: 50%;
  }
  p {
    margin: 0;
  }
}

.incident-map {
  border-right: 1px solid $color-geyser;
  height: 100%;
  max-height: 800px;
  width: 100%;
  @media (max-width: 768px) {
    border-bottom: 1px solid $color-geyser;
    border-right: 0;
    height: 300px;
  }
}

// Response Overview
.response-overview {
  .row .card {
    padding: 1rem;
    h2 {
      color: $color-pacific-blue;
      margin: 0;
    }
    span {
      opacity: .4;
    }
  }
}

.events-timeline-legend {
  font-size: 13px;
  li {
    margin-bottom: .65rem;
    &::before {
      content: '\25A0';
      font-size: 29px;
      line-height: 0;
      margin-right: 1rem;
      position: relative;
      top: 4px;
    }
    &.alarm-answer::before {
      color: $color-celery;
    }
    &.alarm-processing::before {
      color: $color-wisteria;
    }
    &.turnout-time::before {
      color: $color-tulip-tree;
    }
    &.travel-time::before {
      color: $color-di-serria;
    }
    &.intervention-time::before {
      color: $color-pelorous;
    }
    &.cancelled::before {
      color: $color-cranberry;
    }
  }
  @media (max-width: 991px) {
    margin: 3rem 0 0 9rem;
    li {
      display: inline-block;
      margin-bottom: .65rem;
      min-width: 18rem;
    }
  }
}

.incident-timeline {
  padding-left: 25px;
  padding-right: 25px;
  width: 100px;
  height: 150px;
  opacity: 0.9;
}

.incident-timeline line {
    stroke: #2b2b2b;
}

.incident-timeline line.vertical-marker.now {
    stroke: #c00;
}

rect.interval.blue-interval {
    fill: blue;
    stroke: blue;
}

rect.interval.yellow-interval {
    fill: yellow;
    stroke: yellow;
}

circle.blue-dot {
    fill: blue;
}

/* Override d3tip */

.d3-tip {
    background: white;
    color: black;
}

.indent-1 {
  text-indent: 1em;
}

.search-grid {
  height: 65vh;
}

// Override Plot.ly JS
.bartext.bartext-outside {
  font-weight: 600;
}
.cartesianlayer .xaxislayer-above text,
.cartesianlayer .yaxislayer-above text {
  fill: #334A56 !important;
}

.infolayer .g-xtitle text,
.infolayer .legend .legendtext,
.infolayer .g-ytitle text {
  fill: #334A56 !important;
}

.main-svg .annotation-text {
  font-size: 14px !important;
  font-weight: 600;
}
