.incident-header {
  background: white;
  border-bottom: 1px solid $color-geyser;
  h3 {
    letter-spacing: -0.02rem;
    margin: 3rem 0 1.75rem
  }
}

.nav-tabs {
  border-bottom: 0;
  > li > a {
    background-color: transparent;
    border: none;
    border-bottom: 4px solid transparent;
    color: $color-pickled-bluewood;
    font-size: 14px;
    font-weight: 600;
    margin-right: 4rem;
    padding: 10px 0;
  }
  > li > a:hover,
  > li > a:focus {
    background-color: transparent;
    border-color: transparent;
    color: $color-pacific-blue;
  }
  > li.active > a,
  > li.active > a:hover,
  > li.active > a:focus {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid $color-pacific-blue;
    color: $color-pickled-bluewood;
    cursor: default;
  }
  @media (max-width: 768px) {
    > li {
      float: none;
      a {
        border-bottom: 0;
      }
      &.active > a,
      &.active > a:hover,
      &.active > a:focus {
        border: none;
        color: $color-pacific-blue;
      }
      &:last-child > a {
        margin-bottom: 2rem;
      }
    }
  }
}

#overview {
  .intro-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 768px) and (max-width: 1200px) {
      padding-left: 6rem;
    }
  }
  @media (max-width: 768px) {
    .intro-summary {
      h4 {
        text-align: center;
        margin-top: 4.5rem;
      }
    }
  }
  .dispatch-comments {
    @media (max-width: 768px) {
      margin-top: 4rem;
    }
    p {
      font-family: monospace;
      font-size: 15px;
    }
  }
}

#location {
  .location-summary {
    > .row {
      margin-top: 2.5rem;
      &:first-of-type {
        margin-top: 1rem;
      }
    }
    > hr {
      margin-left: -3rem;
    }
    dl dd {
      margin-bottom: 1rem;
    }
    dl dt {
      margin-bottom: 1.5rem;
    }
    h3 {
      font-family: 'Open Sans';
      font-size: 21px;
      font-weight: 400;
      letter-spacing: 0.05rem;
      margin-top: 1rem;
    }
  }
  @media (max-width: 768px) {
    .location-summary > .row {
      margin: 1.5rem;
    }
  }
}

.incident-map {
  border-right: 1px solid $color-geyser;
  height: 100%;
  max-height: 800px;
  width: 100%;
  @media (max-width: 768px) {
    border-bottom: 1px solid $color-geyser;
    border-right: 0;
    height: 300px;
  }
}

.incident-timeline {
  padding-left: 25px;
  padding-right: 25px;
  width: 100px;
  height: 150px;
  opacity: 0.9;
}

.incident-timeline line {
    stroke: #2b2b2b;
}

.incident-timeline line.vertical-marker.now {
    stroke: #c00;
}

rect.interval.blue-interval {
    fill: blue;
    stroke: blue;
}

rect.interval.yellow-interval {
    fill: yellow;
    stroke: yellow;
}

circle.blue-dot {
    fill: blue;
}

/* Override d3tip */

.d3-tip {
    background: white;
    color: black;
}

.indent-1 {
  text-indent: 1em;
}

.search-grid {
  height: 65vh;
}
