{{!-- BATTALION SUMMARY --}}                                
{{#if parentOptions.sections.showBattalionSummary}}

  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock" style="min-width:100%;">

    <tbody class="mcnBoxedTextBlockOuter">
    <tr>
      <td valign="top" class="mcnBoxedTextBlockInner">

        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnBoxedTextContentContainer">
          <tbody>
          <tr>

            <td style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;">

              <table border="0" cellspacing="0" class="mcnTextContentContainer" width="100%" style="min-width: 100% !important;background-color: #616161;">
                <tbody>
                <tr>
                  <td valign="top" class="mcnTextContent" style="padding: 18px;color: #F2F2F2;font-family: Helvetica;font-size: 24px;font-weight: normal;text-align: center;">
                    <div style="text-align: center;"><strong>Battalion Summary</strong></div>

                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
        
      </td>
    </tr>
    </tbody>
  </table>
  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
    <tbody class="mcnTextBlockOuter">
    <tr>
      <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
       
        <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
          <tbody>
          <tr>

            <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

              <table style="width:100%">
                <tbody>
                <tr>
                  <th style="text-align: left;"><span style="font-size:14px"><span style="font-family:arial,helvetica neue,helvetica,sans-serif"><span style="color:#000000"><strong>Battalion</strong></span></span>
                          </span>
                  </th>
                  <th style="text-align: left;"><span style="font-size:14px"><span style="font-family:arial,helvetica neue,helvetica,sans-serif"><span style="color:#000000"><strong>Incidents</strong></span></span>
                          </span>
                  </th>

                </tr>
                {{#each battalionMetrics}}
                  <tr>
                    <td style="text-align: left;"><span style="font-size:14px">{{this.id}}</span></td>

                    <td style="text-align: left;">
                      <span style="font-size:14px">{{this.incidentCount.val}}</span>

                      {{#if ../parentOptions.showPercentChange}}
                        
                        {{#if (isGreaterThan this.incidentCount.percentChange 0)}}
                          <span style="font-size:10px;color:#dc3545">▲ {{this.incidentCount.percentChange}}%</span>
                        {{/if}}

                        {{#compare this.incidentCount.percentChange "<" 0}} 
                          <span style="font-size:10px;color:#28a745">▼ {{this.incidentCount.percentChange}}%</span>
                        {{/compare}}

                        {{#compare this.incidentCount.percentChange "==" 0}}
                          <span style="font-size:10px;color:#6c757d"></span>
                        {{/compare}}
            
                        {{#if (isUndefined this.incidentCount.percentChange)}}
                          <span style="font-size:10px;color:#6c757d">(NA)</span>
                        {{/if}}

                      {{/if}}

                    </td>
                  </tr>
                {{/each}}
                </tbody>
              </table>

            </td>
          </tr>
          </tbody>
        </table>
       
      </td>
    </tr>
    </tbody>
  </table>
{{/if}}