{{!-- LEGEND --}}
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
    <tbody class="mcnTextBlockOuter">
    <tr>
    <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
       
        <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:299px;" width="100%" class="mcnTextContentContainer">
        <tbody>
        <tr>

            <td valign="top" class="mcnTextContent" style="padding-top:0; padding-left:18px; padding-bottom:9px; padding-right:18px;">

            <div style="text-align: center;">
                    <span style="font-family:arial,helvetica neue,helvetica,sans-serif;font-size:14px">
                        <span style="font-size:10px;color:#dc3545">▲</span> - Increase from previous<br>
                    <span style="font-size:10px;color:#28a745">▼</span>- Decrease from previous<br>
                    </span>
            </div>

            </td>
        </tr>
        </tbody>
        </table>
        
        <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:299px;" width="100%" class="mcnTextContentContainer">
        <tbody>
        <tr>

            <td valign="top" class="mcnTextContent" style="padding-top:0; padding-left:18px; padding-bottom:9px; padding-right:18px;">

            <div style="text-align: center;">
                    <span style="font-family:arial,helvetica neue,helvetica,sans-serif;font-size:14px">
                        <span style="color:#6c757d"> (NA) </span> - No previous value
                    </span>
            </div>

            </td>
        </tr>
        </tbody>
        </table>

        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextContentContainer">
        <tbody>
        <tr>

            <td valign="top" class="mcnTextContent" style="padding-top:0; padding-left:18px; padding-bottom:9px; padding-right:18px;">

            <div style="text-align: center;">
                    <span style="font-family:arial,helvetica neue,helvetica,sans-serif;font-size:14px">
                        <strong>Definitions of metrics available <a href="https://statengine.github.io/se-documentation/#/emailReports">here</a> <br></strong>
                    </span>
            </div>

            </td>
        </tr>
        </tbody>
        </table>

    </td>
    </tr>
    </tbody>
</table>