// Import sub stylesheets
@import '/documentation/documentation';

// Variables
$color-spade-hyperlink: #0a85ff;

// Landing Page Styles
.spade-landing {
  section a {
    color: $color-spade-hyperlink;
    &:hover {
      color: darken($color-spade-hyperlink,15%);
    }
  }

  header {
    background-image: url('../assets/images/spade-bg.png');
    background-position: center;
    background-size: cover;
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  header section {
    a {
      color: lighten($color-cerulean,5%);
    }

    a.btn {
      color: white;
    }

    h4 {
      color: #C8E2FF;
      line-height: 1.4;
    }

    span {
      > * {
        display: block;
        margin: 0 auto;
      }

      button, em {
        margin-bottom: 1rem;
      }

      // Your better than that...Bingles to fix later.
      @media (min-width: 575.99px) {
        max-width: 1rem;
        display: inline-table;
      }
    }

    em {
      font-size: 90%;
      color: #C8E2FF;
    }

    @media (max-width: 575.99px) {
      .spade-logo {
        max-width: 12rem;
      }
    }
  }

  .welcome-text {
    color: white;
    h1.subheader {
      color: lighten($color-bondi-blue,12%);
    }
  }

  .info-cards {
    a.card {
      border-radius: 4px;
      border: none;
      box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
      color: inherit;
      display: block;
      padding: 4rem;
      &:hover, &:active, &:focus {
        text-decoration: none;
        h4 {
          color: $color-spade-hyperlink;
        }
      }
      h4 i {
        font-size: 15px;
        top: -1px;
        position: relative;
      }
    }

    .documentation, .download {
      background-image: url('../assets/images/doc-icon.svg');
      background-repeat: no-repeat;
      background-position: 40px 37px;
    }

    .download {
      background-image: url('../assets/images/download-icon.svg');
    }

    .info-card-text {
      padding-left: 10rem;

      @include media-breakpoint-down(md) {
        padding-left: 0;
        padding-top: 6rem;
      }
    }
  }

  .faqs {
    .toggle {
      margin-bottom: 3rem;
    }
  }
}
