.add-dashboards-overlay {
  @extend .overlay-window;
  @extend .medium-bg;

  .view-options {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-bottom: 2rem;

    select {
      @extend .form-control;
      display: block;
    }

    input {
      @extend .form-control;
      display: block;
    }

    .search,
    .sort-by,
    .add-selected {
      label {
        display: block;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: 600;
        color: $gray-550;
      }
    }

    .add-selected {
      label {
        text-align: right;
      }
    }

    .search {
      width: 15rem;

      input {
        padding-right: 3rem !important;
      }

      .search-icon {
        @extend .fa;
        @extend .fa-search;
        position: absolute;
        top: calc(50% - 1px);
        right: 1rem;
        transform: translate(0, -50%);
        font-size: 1.25rem;
        color: $gray-550;
      }
    }

    .sort-by {
      width: 10rem;
    }
  }

  .main-content {
    .dashboards-list,
    .dashboards-grid {
      position: relative;
    }

    .dashboards-grid {
      display: grid;
      grid-gap: 1.5rem;
      grid-template-columns: repeat(auto-fill, minmax(350px, auto));
    }

    .dashboard-item {
      height: 26.25rem;
      perspective: 1250px;
      background: transparent;
      outline: none !important;

      &:hover {
        cursor: pointer;
      }

      .dashboard-item-inner {
        transition: transform 1s;
        outline: none !important;
        border: none;
        border-radius: 4px;
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
      }

      .dashboard-item-front,
      .dashboard-item-back {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        backface-visibility: hidden;
        border-radius: 4px;
        overflow: hidden;
        box-shadow:
          0 0 0 1px $input-border-color,
          0 0 0 0 rgba(21, 38, 55, 0.25);
        transition: box-shadow 0.25s, transform 0.25s;
      }

      .dashboard-item-front {
        background: white;
      }

      .dashboard-item-back {
        background-color: $color-turquoise-blue;
        color: white;
        transform: rotateZ(180deg) rotateY(180deg);

        * {
          color: white;
        }
      }

      &:hover {
        .dashboard-item-front {
          box-shadow:
            0 0 0 1px $color-turquoise-blue,
            0 0 0 0 rgba(21, 38, 55, 0.25);
        }

        .dashboard-item-back {
          box-shadow:
            0 0 0 1px $color-dark-grey-blue,
            0 0 0 0 rgba(21, 38, 55, 0.25);
        }
      }

      &.selected {
        .dashboard-item-front {
          box-shadow:
            0 0 0 4px $color-turquoise-blue,
            0 3px 13px 0 rgba(21, 38, 55, 0.25);
        }

        .dashboard-item-back {
          box-shadow:
            0 0 0 4px $color-dark-grey-blue,
            0 3px 13px 0 rgba(21, 38, 55, 0.25);
        }

        .dashboard-item-front {
          transform: scale(1.02);
        }

        .dashboard-item-back {
          transform: scale(1.02) rotateZ(180deg) rotateY(180deg);
        }
      }
    }

    .dashboard-item-image {
      height: 180px;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 4px 4px 0 0;
    }

    .dashboard-item-content {
      flex: 1;
      padding: 1.25rem;
      border-bottom: solid 1px $input-border-color;
    }

    .dashboard-item-title {
      font-size: 1.125rem;
      font-weight: 600;
      margin-bottom: 0.25rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .dashboard-item-author {
      margin-bottom: 0.75rem;
      color: $gray-550;
    }

    $dashboard-item-description-line-height: 1.5rem;
    .dashboard-item-description {
      position: relative;
      display: -webkit-box;
      line-height: $dashboard-item-description-line-height;
      height: 3 * $dashboard-item-description-line-height;
      overflow: hidden;
      text-align: justify;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
    }

    .dashboard-item-info {
      display: flex;
      justify-content: space-between;
      padding: 1.25rem;
      color: $gray-550;
    }

    .dashboard-item-back {
      color: white;

      * {
        color: white;
      }

      .dashboard-item-content {
        flex: 1;
        border-bottom-color: white;
      }
    }

    .dashboards-list {
      $dashboard-item-height: 10rem;

      .dashboard-item {
        height: $dashboard-item-height;
        margin: 0 0 1.2rem !important;
      }

      .dashboard-item-front {
        flex-direction: row;
      }

      .dashboard-item-back {
        .dashboard-item-content {
          padding: 1.125rem;
        }

        .dashboard-item-author {
          display: none;
        }

        .dashboard-item-description {
          height: 4 * $dashboard-item-description-line-height;
          line-clamp: 4;
          -webkit-line-clamp: 4;
        }

        .dashboard-item-info {
          display: none;
        }
      }

      .dashboard-item-content {
        padding: 1.125rem 1.5rem 1.125rem 0;
        border-bottom: none;
        min-width: 0; // Prevents long titles from blowing out content width.
      }

      .dashboard-item-image-container {
        height: $dashboard-item-height;
        width: $dashboard-item-height;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
      }

      .dashboard-item-image {
        height: $dashboard-item-height - 3rem;
        width: $dashboard-item-height - 3rem;
        border-radius: 50%;
        border: solid 1px #979797;
        transform: translateY(-1px);
      }

      .dashboard-item-description {
        height: 2 * $dashboard-item-description-line-height;
      }

      .dashboard-item-info {
        flex: 0 0 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $gray-550;
        padding: 1.5rem 1.5rem 1.5rem 0;
        text-align: right;

        > * {
          margin: 3px 0;
        }
      }
    }

    .read-more {
      position: absolute;
      bottom: 0;
      right: 0;
      display: inline-block;
      opacity: 0;
      background: linear-gradient(to right, transparent, white 25%);
      padding-left: 40px;
    }
  }
}
