{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "jquery": true,
    "node": true,
    "browser": true
  },
  "globals": {},
  "plugins": [],
  "rules": {
    "arrow-body-style": "off",
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": false }],
    "class-methods-use-this": "off",
    "curly": ["error", "all"],
    "func-names": "off",
    "global-require": "off",
    "max-len": "off",
    "no-console": "off",
    "no-empty": ["error", { "allowEmptyCatch":  true }],
    "no-multiple-empty-lines": ["error", { "max": 2, "maxBOF": 0, "maxEOF": 1 }],
    "no-nested-ternary": "off",
    "no-param-reassign": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-restricted-syntax": [
      "error",
      {
        "selector": "ForInStatement",
        "message": "for..in loops iterate over the entire prototype chain, which is virtually never what you want. Use Object.{keys,values,entries}, and iterate over the resulting array."
      },
      {
        "selector": "LabeledStatement",
        "message": "Labels are a form of GOTO; using them makes code confusing and hard to maintain and understand."
      },
      {
        "selector": "WithStatement",
        "message": "`with` is disallowed in strict mode because it makes code impossible to predict and optimize."
      }
    ],
    "no-underscore-dangle": "off",
    "prefer-destructuring": "off",
    "radix": "off",
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }],
    "no-use-before-define": ["error", { "functions": false, "classes": true }]
  }
}
