node_modules
public
.tmp
.sass-cache
.idea
client/bower_components
client/app/app.constants.js
client/index.html
client/app.html
dist
/server/config/local.env.js
npm-debug.log
coverage
*.sqlite
env.json
/data/*