<div class="site-content light-bg">
  <header class="naked mb-2"></header>
  <h4 class="heavyheader text-center extension-attribution mb-3 embossed"><i class="fa fa-file-o mr-4"></i>Incident</h4>

  <section>
    <div class="container">
      <div class="mt-5 row">
        <div class="col-md-12">
          <div class="card light-border">
            <div class="row">
              <div class="col-4"></div>
              <div class="col-4">
                <input ng-model="vm.query" class="search-input form-control" type="text" placeholder="Search a closed incidents">
                <div class="text-center"><button class="mt-2 btn btn-primary btn-search" ng-click="vm.search()">Search</button></div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <div ui-grid="vm.searchResultsTableOptions">
                  <div class="watermark" ng-show="!vm.searchResultsTableOptions.data.length">No data available</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
