<!-- TODO:
    - Breadcrumbs needs to be hooked up
    - Table should be switched to newer style/format (Bingles)
    - Table and supporting elements need better responsive styling (Bingles)
-->

<div class="br-mainpanel medium-bg">
  <div class="br-pageheader">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" href="index.html">Home</a>
      <a class="breadcrumb-item" href="#">Reports</a>
      <span class="breadcrumb-item active">Incidents</span>
    </nav>
  </div><!-- br-pageheader -->
  <div class="br-pagetitle d-flex justify-content-between flex-wrap">
    <h2 class="m-0">Incidents</h2>
    <div class="input-group wd-300">
      <input ng-model="vm.query" type="text" class="form-control" placeholder="Search Incidents">
      <span class="input-group-btn">
        <button class="btn bd-0 btn-secondary py-2 px-3 rounded-0" type="button" ng-click="vm.search()"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </div><!-- br-pagetitle -->
  <div class="br-pagebody">
    <section class="br-section-wrapper pd-0">
      <div ui-grid="vm.searchResultsTableOptions" class="search-grid">
        <div class="watermark" ng-show="!vm.searchResultsTableOptions.data.length"><h2 class="heavyheader text-muted">No data available</h2></div>
      </div>
    </section>
</div>
