.incident-search {
  .incidents-desktop {
    .search-grid {
      height: 61vh;

      .ui-grid-top-panel {
        background-color: white;
        color: #adb2b7;
        text-transform: uppercase;
        font-size: 12px;

        .ui-grid-cell-contents {
          padding: 10px;
        }
      }

      .ui-grid-row:nth-child(odd):not(:hover) .ui-grid-cell {
        background-color: $color-porcelain;
      }

      .ui-grid-row:nth-child(even):not(:hover) .ui-grid-cell {
        background-color: white;
      }
    }
  }

  .incidents-mobile {
    .incidents-mobile-table {
      @include table($max-width: 1200px);
      position: relative;
    }
  }
}
