.login-container {
  background: linear-gradient(135deg, #124265, #0b223c);
  position: fixed;
  color: white;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  > div:nth-child(2){
    height: 85%;
  }
  button.login {
    min-width: 138px;
  }
  .alert-success {
    margin: 4rem 0 0;
  }
}
