<div class="container-fluid login-container">
  <div class="row">
    <div class="col-auto ml-auto mt-3">
      <button class="btn btn-outline" ui-sref="main"><i class="fa fa-arrow-left"></i> Back</button>
    </div>
  </div>
  <div class="row h-75">
    <div class="col-sm-4 col-sm-offset-4 my-auto">
      <h1 class="text-center">Sign In</h1>
      <div class="text-center text-success" ng-if="accountCreated"> Account Created. Please sign in below.</div>
      <form class="form" name="form" ng-submit="vm.login(form)" novalidate>

        <div class="form-group">
          <label>Username</label>

          <input type="text" name="username" class="form-control" ng-model="vm.user.username" required>
        </div>

        <div class="form-group">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.username.$error.required && form.password.$error.required && vm.submitted">
             Please enter your username and password.
          </p>

          <p class="help-block">{{ vm.errors.login }}</p>
        </div>

        <div>
          <button class="btn btn btn-primary btn-lg" type="submit">
            Sign In
          </button>
          <span class="pull-right"> Not registered yet?
            <a class="btn btn-default btn-lg btn-register" ui-sref="signup">
              Sign Up
            </a>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
