<div class="container-fluid login-container">
  <div class="row animated fadeInLeft">
    <div class="col-auto mr-auto mt-3">
      <button class="btn btn-outline btn-sm hvr-backward w80" ui-sref="main"><i class="fa fa-arrow-left"></i> Back</button>
    </div>
  </div>
  <div class="row justify-content-center animated fadeIn">
    <div class="col-md-auto align-self-center">
      <h1 class="text-center">Sign In</h1>

      <div class="alert alert-success text-center animated fadeInUp" role="alert" ng-if="accountCreated">
        Congratulations, your account has been created! Please sign in below.
      </div>

      <form class="form form-wrapper" name="form" ng-submit="vm.login(form)" novalidate>

        <div class="form-group">
          <label>Username</label>

          <input type="text" name="username" class="form-control" ng-model="vm.user.username" required>
        </div>

        <div class="form-group">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.username.$error.required && form.password.$error.required && vm.submitted">
             Please enter your username and password.
          </p>

          <p class="help-block">{{ vm.errors.login }}</p>
        </div>

        <div>
          <button class="btn btn-lg btn-primary hvr-float w180 login" type="submit">
            Sign In
          </button>
        </div>
        <div class="col-12 form-extras">
          <span class="d-flex w-100" >Not registered yet? <a class="ml-3" ui-sref="signup">   Sign Up <i class="fa fa-chevron-right"></i></a></span>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>
