<div class="br-pagebody p-0 m-0">
    <div class="dashboard-tenancy">
      <section>
        <div class="px-4 py-5">
          <div class="row justify-content-center">
            <div class="col-lg-12 masthead-content">
              <h1 class="subheader">Available Tenants</h1>
              <p>Please select your tenancy</p>
            </div>
          </div>
        </div>
      </section>
      <section class="container-fluid p-3 p-md-5 mx-wd-1350">
        <section class="row">
          <div class="tenants-content col-md-8">
            <section class="tenants">
              <div class="row align-items-center">
                <div ng-repeat="tenant in vm.tenants | filter:query as filtered" class="col">
                  <a ng-click="vm.select(tenant)" href="#" class="card hvr-float">
                    <img ng-src="{{tenant.image}}" alt="">
                    <h5 class="heavyheader text-truncate">{{tenant.name}}</h5>
                    <p>{{tenant.short_description}}</p>
                  </a>
                </div>
                <div ng-if="filtered.length == 0" class="col">
                  <p class="text-danger">No tenants available </p>
                </div>
              </div>
            </section>
          </div>
        </section>
      </section>
    </div>
  </div>
