<form class="form notification-form" name="form.notification" ng-submit="vm.submitForm()" novalidate>
  <div class="modal-body">
    <div class="form-group">
      <div>
        <div class="form-group mb-2">
          <h3>Notify Exposure</h3>
        </div>

        <div class="form-group">
          <label>Custom Message</label>
          <textarea 
            name="message" 
            rows="3" 
            cols="30"
            placeholder="{{ vm.messagePlaceholder }}"
            class="form-control" 
            ng-model="vm.payload.message">
          </textarea>
        </div>

        <div class="form-group flex-center flex-column">
          <label>Select who you want to notify:</label>
          <tree-select selected="vm.selected" options="vm.units"/>
          <b ng-if="vm.units.length === 0">No units found in incident. Please add personnel manually below.</b>
          <label class="mt-3">Add additional personnel:</label>
          <auto-complete options="vm.autoCompleteOptions" value="vm.additionalPersonnel"/>
        </div>

        <div class="text-danger" ng-show="vm.error">
          Error: {{ vm.error }}
        </div>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" ng-disabled="form.notification.$invalid">Send</button>
    <button type="submit" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
  </div>
</form>
