.notification-modal .modal-dialog {
  max-width: 800px;
}

.notification-form {
    input[type="number"]::placeholder {
      padding-left: 10px;
    }

    .multiselect-parent, 
    .multiselect-parent div {
        width: 100%;
    }

    .dropdown-menu [role="menuitem"] > span {
        display: none;
    }

    .dropdown-header {
        padding: 0.5rem 0rem;
    }
}