<div class="extension-detail">
  <header class="slim">
    <section class="container m-auto pb-5">
      <div class="row justify-content-center align-items-center">
        <div class="col-sm-4 extension-logo d-flex animated zoomIn">
          <img ng-src="{{vm.extensionSrc}}" alt="">
        </div>
        <div class="col-sm-2 plus-sign hidden-xs animated bounceIn"></div>
        <div class="col-sm-4 extension-logo statengine d-flex hidden-xs animated zoomIn">
          <img src="../assets/images/statengine-symbol.svg" alt="StatEngine">
        </div>
      </div>
    </section>
  </header>
  <section class="site-content">
    <div class="container">
      <div class="row">
        <div class="col-md-7 my-5 pb-5">
          <h3 class="heavyheader mb-2">{{vm.extension.name}}</h3>
          <p>{{vm.extension.description}}</p>
          <ul class="statengine ml-5">
            <li ng-repeat="feature in vm.extension.features">{{feature}}</li>
          </ul>
          <a class="btn btn-alt-2" ng-if="!vm.extensionConfiguration.enabled" ng-click="vm.enable()"><i class="fa fa-plus mr-3" aria-hidden="true"></i>Add this integration</a>
          <a class="btn btn-alt-3" ng-if="vm.extensionConfiguration.enabled" ng-click="vm.disable()"><i class="fa fa-minus mr-3" aria-hidden="true"></i>Remove this integration</a>
        </div>
        <!-- Integration Settings -->
        <div class="col-md-5 p-5 extension-settings" ng-if="vm.extensionConfiguration.enabled">
          <h3 class="heavyheader mb-2">Integration Settings</h3>
          <form ng-if="vm.extension.config_options && vm.extension.config_options.length > 0" class="form mt-5" name="optionsForm" ng-submit="vm.updateOptions(optionsForm)" novalidate>
            <div class="form-group" ng-repeat="configOption in vm.extension.config_options">
              <div>
                <label class="">{{configOption.description}} <i class="fa fa-question-circle" uib-popover="{{configOption.tooltip}}" popover-trigger="'mouseenter'"></i></label>
                <input type="{{configOption.type}}" name="{{configOption.name}}" form="settingsForm" class="form-control" ng-model="vm.options[configOption.name]"></input>
              </div>
            </div>
            <button class="btn btn-lg btn-alt-2 login my-4" type="submit">
              Update
            </button>
          </form>
          <div ng-if="!vm.extension.config_options || vm.extension.config_options.length === 0">
            <p> No options available </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
