/////////////////////////////////
// Extnesion DETAIL //
////////////////////////////////

// TO DO: This should probably live in a separate integrations directory

.extension-detail {
  header.slim {
    background: linear-gradient(to bottom right, #004674 0%, #075f97 59%, #1cb8a5 100%);
    }
    .extension-logo {
      background: white;
      border-radius: 99rem;
      box-shadow: 0 0 0px 8px rgba(0, 0, 0, 0.2);
      height: 17.5rem;
      width: 17.5rem;
      max-height: 17.5rem;
      max-width: 17.5rem;
      padding: 4.5rem;
      > img {
        align-self: center;
        margin: 0 auto;
        max-width: 9rem;
        max-height: 9rem;
      }
      &.statengine > img {
        max-height: 11rem;
      }
    }
    .plus-sign:before {
      color: rgba(0,0,0,0.35);
      content: "+";
      font-family: 'Montserrat';
      font-size: 100px;
      font-weight: 700;
    }
    .extension-settings {
      background: linear-gradient(to right, #f8fbfd 0%, white 100%);
      border-left: 1px solid lighten($color-geyser,5%);

      @media screen and (max-width: 767px) {
        background: linear-gradient(to bottom, #f8fbfd 0%, white 100%);
        border-top: 1px solid lighten($color-geyser,5%);
        border-left: 0;
      }
    }
}
