<div class="site-content light-bg">
  <header class="naked mb-2"></header>
  <h4 class="heavyheader text-center extension-attribution mb-3 embossed"><i class="fa fa-file-o mr-4"></i>Incident</h4>

  <section>
    <div class="container">
      <div class="mt-5 row">
        <div class="col-md-12">
          <div class="card light-border">
            <h5 class="card-header"><span><i class="fa fa-newspaper-o">&nbsp;</i></span>Summary</h5>
            <div class="col-md-3">
              <logo department="vm.currentPrincipal.FireDepartment"></logo>
            </div>
            <div class="col-md-9">
              <blockquote>{{ vm.incidentSummaries.overview }}</blockquote>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-5 row">
        <div class="col-md-12">
          <div class="card light-border">
            <h5 class="card-header"><span><i class="fa fa-map">&nbsp;</i></span>Location</h5>
            <div clas="row">
              <h2 class="text-center">
                {{ vm.incident.address.address_line1 }} <br>
                {{ vm.incident.address.city }}, {{ vm.incident.address.state }}
              </h2>
            </div>
            <div class="row">
              <div class="col-md-7">
                <incident-map class="incident-map" incident="vm.incident"></incident-map>
              </div>
              <div class="col-md-5">
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <blockquote>{{ vm.incidentSummaries.location }}</blockquote>
                    </div>
                    <hr>
                    <h3 class="text-center"><i class="fa fa-x fa-home"></i>&nbsp;Parcel</h3>

                    <div ng-if="!vm.incident.address.location.parcel" class="text-center">
                      <span class="text-warning"> No parcel data available.  <a href="#" ui-sref="site.marketplace.home"> Request </a> to add now </span>
                    </div>

                    <div ng-if="vm.incident.address.location.parcel" class="row">
                      <div class="col-4">
                        <div class="text-center">
                          <h4 > Land Use </h4>
                          <h3> {{ vm.incident.address.location.parcel.land_use }}</h3>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="text-center">
                          <h4> Land Area </h4>
                          <h3> {{ vm.incident.address.location.parcel.land_area | number:0 }}</h3>
                          <h5>sq ft</h5>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="text-center">
                          <h4> Dwelling Value </h4>
                          <h3 ng-if="vm.incident.address.location.parcel.dwelling_value > 1000000"> $$$$ <h3>
                          <h3 ng-if="vm.incident.address.location.parcel.dwelling_value > 500000 && vm.incident.address.location.parcel.dwelling_value < 1000000"> $$$ <h3>
                          <h3 ng-if="vm.incident.address.location.parcel.dwelling_value > 250000 && vm.incident.address.location.parcel.dwelling_value < 500000"> $$ <h3>
                          <h3 ng-if="vm.incident.address.location.parcel.dwelling_value < 250000"> $ <h3>
                          <h4> {{ vm.incident.address.location.parcel.dwelling_value | currency:"$":0 }} </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <hr>

                <div class="row mt-2">
                  <div class="col-12">
                    <h3 class="text-center"><i class="fa fa-x fa-users"></i>&nbsp;Census</h3>

                    <div ng-if="!vm.incident.address.location.census" class="text-center">
                      <span class="text-warning"> No census data available.  <a href="#" ui-sref="site.marketplace.home"> Request </a> to add now </span>
                    </div>

                    <div ng-if="vm.incident.address.location.census" class="row">
                      <div class="col-3">
                        <div class="text-center">
                          <h4> Year </h4>
                          <h3> 2010 </h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="text-center">
                          <h4> Density </h4>
                          <h3 ng-if="vm.incident.address.population_density === 'Urban'"><i class="fa fa-2x fa-building"></i></h3>
                          <h3 ng-if="vm.incident.address.population_density === 'Rural'"><i class="fa fa-2x fa-square-o"></i></h3>
                          <h5> {{ vm.incident.address.population_density }} </h5>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="text-center">
                          <h4> Tract </h4>
                          <h3> {{ vm.incident.address.location.census.census_2010.tract }}</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="text-center">
                          <h4> Block </h4>
                          <h3> {{ vm.incident.address.location.census.census_2010.block }} </h3>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 row">
        <div class="col-md-12">
          <div class="card light-border">
            <h5 class="card-header"><span><i class="fa fa-info-circle">&nbsp;</i></span>Situational Awareness</h5>
            <blockquote>{{ vm.incidentSummaries.situationalAwareness }}</blockquote>
            <div class="row">
              <div class="col-md-6">
                <h3 class="text-center"><i class="fa fa-x fa-sun-o"></i>&nbsp;Weather</h3>

                <div ng-if="vm.incident.weather.currently">
                  <h5 class="text-center"> At {{ vm.incident.weather.currently.time | amTimezone:vm.currentPrincipal.FireDepartment.timezone | amDateFormat:'MMMM D, YYYY HH:mm' }} </h5>
                  <current-weather weather="vm.incident.weather.currently"></current-weather>
                </div>

                <div ng-if="!vm.incident.weather.currently" class="text-center">
                  <span class="text-warning">No weather data available.</span><br> <a href="#" ui-sref="site.marketplace.home">Request</a> to add now.
                </div>
              </div>

              <div class="col-md-6 text-center">
                <h3><i class="fa fa-x fa-car"></i>&nbsp;Traffic</h3>
                <span class="text-warning">No traffic data available.</span><br> <a href="#" ui-sref="site.marketplace.home">Request</a> to add now.
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="mt-5 row">
        <div class="col-md-3">
          <div class="card light-border">
            <h5 class="card-header"><span><i class="fa fa-clock-o">&nbsp;</i></span>Alarm</h5>
            {{ vm.incident.description.durations.total_event }}
            <h2 class="text-center">3</h2>
            <div class="card-footer">
              <span class="pull-left text-success"> 3 <span>&nbsp<i class="small fa fa-long-arrow-up" ></i> 6%</span> </span>
              <span class="pull-right text-success"> 3 <span>&nbsp<i class="small fa fa-long-arrow-up" ></i> 6%</span> </span>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card light-border">
            <h5 class="card-header"><span><i class="fa fa-clock-o">&nbsp;</i></span>Turnout</h5>
            {{ vm.incident.description.durations.total_event }}
            <h2 class="text-center">3</h2>
            <div class="card-footer">
              <span class="pull-left text-success"> 3 <span>&nbsp<i class="small fa fa-long-arrow-up" ></i> 6%</span> </span>
              <span class="pull-right text-success"> 3 <span>&nbsp<i class="small fa fa-long-arrow-up" ></i> 6%</span> </span>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card light-border">
            <h5 class="card-header"><span><i class="fa fa-clock-o">&nbsp;</i></span>Travel</h5>
            {{ vm.incident.description.durations.total_event }}
            <h2 class="text-center">3</h2>
            <div class="card-footer">
              <span class="pull-left text-success"> 3 <span>&nbsp<i class="small fa fa-long-arrow-up" ></i> 6%</span> </span>
              <span class="pull-right text-success"> 3 <span>&nbsp<i class="small fa fa-long-arrow-up" ></i> 6%</span> </span>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card light-border">
            <h5 class="card-header"><span><i class="fa fa-clock-o">&nbsp;</i></span>Total</h5>
            {{ vm.incident.description.durations.total_event }}
            <h2 class="text-center">3</h2>
            <div class="card-footer">
              <span class="pull-left text-success"> 3 <span>&nbsp<i class="small fa fa-long-arrow-up" ></i> 6%</span> </span>
              <span class="pull-right text-success"> 3 <span>&nbsp<i class="small fa fa-long-arrow-up" ></i> 6%</span> </span>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-5 row">
        <div class="col-12">
          <div class="card light-border">
            <h5 class="card-header"><span><i class="fa fa-fire">&nbsp;</i></span>Response</h5>
            <blockquote>{{ vm.incidentSummaries.response }}</blockquote>
            <br>
            <div class="row">
              <div class="col-sm-12">
                <h4 class="text-center">Timeline of Events</h4>
                <incident-timeline incident="vm.incident" class='img-responsive'></incident-timeline>
              </div>
            </div>
            <div class="row pt-5">
              <div class="col-6">
                <div id="unit-timeline" class="unit-timeline responsive-plot"></div>
              </div>
              <div class="col-6">
                <div id="travel" class="unit-timeline responsive-plot"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 mb-4 row">
        <div class="col-md-12">
          <div class="card light-border">
            <h5 class="card-header"><span><i class="fa fa-industry">&nbsp;</i></span>StatEngine&trade; Analysis</h5>
            <div class="row">
              <div class="col-6">
                <h3> Findings </h3>
                <ul>
                  <li><i class="fa fa-check text-success"></i>&nbsp;All units had turnout times of less then 90 seconds</li>
                  <li><i class="fa fa-warning text-warning"></i>&nbsp;First due unit did not arrive first</li>
                  <li><i class="fa fa-exclamation text-danger"></i>&nbsp;Units had to travel further than 20 miles</li>
                </ul>
              </div>
              <div class="col-6">
                <h3> NFPA 1710/1720 Compliance </h3>
                <ul>
                  <li><i class="fa fa-check text-success"></i>&nbsp;First engine arrived within 240 seconds</li>
                  <li><i class="fa fa-warning text-warning"></i>&nbsp;Alarm processing time ....</li>
                </ul>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-12">
                <h3> Trending <sup>BETA</sup> </h3>
                <ul>
                  <li><i class="fa fa-check text-success"></i>&nbsp;Responding shift (A) is currently leading turnout performance</li>
                  <li><i class="fa fa-warning text-warning"></i>&nbsp;This address has been called to 5 times in the past year</li>
                  <li><i class="fa fa-warning text-warning"></i>&nbsp;On rainy days, travel times are 2x slower on average</li>
                  <li><i class="fa fa-exclamation text-danger"></i>&nbsp;Incidents between 12:00AM and 3:00AM have 3% slower turnout times</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!--
Summary of analysis

calls this year
time of day
shift day
-->
