
.incident-analysis {
  .br-pageheader {
    @media print {
      display: none;
    }
  }

  .br-pagebody {
    margin-top: 0;

    @media print {
      margin-top: 30px;
    }
  }

  .print-button {
    @media print {
      display: none;
    }
  }

  .card {
    .info-icon {
      float: right;
      font-size: 22px;
    }
  }

  .incident-analysis-tabs {
    @extend .ht-md-60;
    @extend .pb-3;
    @extend .pb-md-0;
    @extend .pd-x-15;
    @extend .pd-sm-x-25;
    @extend .bd-b;
    display: flex;
    justify-content: start;
    align-items: center;
    background: white;

    @media print {
      display: none;
    }
  }

  .incident-analysis-content {
    @include media-breakpoint-down(sm) {
      padding-left: 0;
      padding-right: 0;
    }

    @media print {
      display: block;
      margin: 0;
      padding: 0;

      > .row {
        display: block;

        > *[class*="col-"] {
          display: block;
        }
      }
    }

    section {
      display: grid;
      grid-template-columns: 50%;
      grid-gap: 2rem;
      padding-top: 4rem;
      position: relative;

      &:not(:first-child) {
        margin-top: 2rem;
      }

      @include media-breakpoint-down(md) {
        grid-template-areas: unset !important;
        grid-template-columns: auto !important;

        &:first-child {
          padding-top: 4rem;
        }

        > *,
        > :first-child::before {
          grid-area: unset !important;
        }
      }

      @include media-breakpoint-down(sm) {
        grid-gap: 25px;
      }

      @include media-breakpoint-down(xs) {
        grid-gap: 15px;
      }

      @media print {
        display: block;
        color-adjust: exact;
        -webkit-print-color-adjust: exact;

        .card {
          margin: 2rem 0;
          break-inside: avoid;
          page-break-inside: avoid;

          &:first-child {
            margin: 0;
          }

          .card-option {
            display: none;
          }
        }
      }

      > :first-child::before {
        @extend .tx-13;
        @extend .tx-spacing-1;
        @extend .tx-gray-500;
        @extend .tx-uppercase;
        @extend .tx-medium;
        position: absolute;
        top: 0;
        left: 0;
        font-family: 'Montserrat', sans-serif;
        transform: translateY(-200%);
      }

      &.overview {
        grid-template-areas:
          'overview-intro       overview-intro'
          'incident-summary     dispatch-comments'
          'performance-analysis performance-analysis';

        > :first-child::before {
          content: 'Overview';
        }

        .overview-intro {
          grid-area: overview-intro;

          .card-body {
            display: flex;

            @include media-breakpoint-down(sm) {
              flex-direction: column;
            }
          }

          logo {
            margin-bottom: 1rem;
          }

          .overview-intro-summary {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 3rem;

            @include media-breakpoint-down(sm) {
              margin: 0 1rem;
            }

            .alert {
              text-align: center;
              margin: 0.5rem 3rem;

              @include media-breakpoint-down(xs) {
                margin: 0.5rem 1rem;
              }
            }
          }

          @media (max-width: 768px) {
            .overview-intro-summary {
              h4 {
                text-align: center;
                margin-top: 4.5rem;
              }
            }
          }
        }

        .incident-summary {
          grid-area: incident-summary;

          .incident-summary-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.6rem 0;
            border-bottom: solid 1px $border-color;

            &:last-child {
              border-bottom: none;
              padding-bottom: 0;
            }

            .incident-summary-row-label {
              @extend .light-label;
              margin-bottom: 0;
            }
          }
        }

        .dispatch-comments {
          grid-area: dispatch-comments;
          page-break-before: always;
          white-space: pre-wrap;

          .dispatch-comments-show-hide {
            @media print {
              display: none;
            }
          }
        }

        .performance-analysis {
          grid-area: performance-analysis;

          .card {
            padding: 2.5rem 1rem 2rem;
            text-align: center;
            transition: all 0.2s ease-in-out;

            span:first-child {
              font-size: 55px;
            }

            &:hover {
              cursor: help;
            }

            h6 {
              font-size: 13px;
              line-height: 18px;
              font-weight: 400;
              margin: 1rem 0 0 0;
            }

            &.nfpa-standard::before {
              content: 'NFPA';
              font-family: 'Montserrat';
              font-size: 12px;
              font-weight: 600;
              opacity: 0.3;
              position: absolute;
              right: 12px;
              text-transform: uppercase;
              top: 8px;
            }
          }

          .performance-analysis-items {
            display: flex;

            @include media-breakpoint-down(lg) {
              flex-direction: column;
            }

            > * {
              flex: 1;
              margin: 0 0.5rem;

              &:first-child {
                margin-left: 0;
              }

              &:last-child {
                margin-right: 0;
              }

              @include media-breakpoint-down(lg) {
                margin: 0.5rem 0;

                &:first-child {
                  margin-top: 0;
                }

                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }

          .pass {
            color: #85c02f;
          }

          .fail {
            color: #e0003b;
          }

          .caution {
            color: #ff9f00;
          }

          @media (max-width: 976px) {
            > .row > div {
              margin-bottom: 2rem;
            }
          }
        }
      }

      &.location {
        grid-template-areas:
          'map            map'
          'census-data    parcel-data';

        > :first-child::before {
          content: 'Location';
        }

        .location-summary {
          @media (max-width: 768px) {
            > .row {
              margin: 0 1rem;
            }
          }

          dl dd {
            margin-bottom: 0.75rem;
          }

          dl dt {
            margin-bottom: 0.25rem;
          }
        }

        .location-map {
          grid-area: map;

          .card-body {
            display: flex;
            padding: 0;

            @include media-breakpoint-down(sm) {
              flex-direction: column;
            }
          }

          incident-map {
            flex: 0 0 66.6%;

            .incident-map {
              border-right: 1px solid $color-geyser;
              height: 100%;
              max-height: 500px;
              width: 100%;

              @media (max-width: 768px) {
                border-bottom: 1px solid $color-geyser;
                border-right: 0;
                height: 300px;
              }
            }
          }

          .location-summary {
            flex: 0 0 33.3%;
            padding: 1rem;
          }
        }

        .census-data {
          grid-area: census-data;

          i.se-icon-census-tract {
            font-size: 3.2em;
          }
        }

        .parcel-data {
          grid-area: parcel-data;
        }
      }

      &.situational-awareness {
        grid-template-areas:
          'weather-conditions weather-conditions';

        > :first-child::before {
          content: 'Situational Awareness';
        }

        .weather-conditions {
          grid-area: weather-conditions;

          .weather-summary {
            @media (min-width: 992px) and (max-width: 1199px) {
              padding-left: 4.5rem;
            }

            @media (max-width: 768px) {
              padding-top: 2rem;
            }
          }

          current-weather {
            h1.heavyheader {
              font-family: 'Open Sans', sans-serif;
              font-size: 3rem;
              margin-top: 0;
            }

            h4 {
              color: lighten($color-pale-sky, 15%);
              font-weight: 400;
            }

            hr {
              border-top-color: #d7dee3;
              width: 50%;
              margin: 1rem 0 1.5rem;
            }

            p {
              margin: 0;
            }
          }
        }
      }

      &.response {
        grid-template-areas:
          'response-overview        personnel'
          'events-timeline          events-timeline'
          'alarm-answering-duration alarm-processing-duration'
          'travel-distances         travel-durations'
          'response-duration        response-duration-comparisons'
          'concurrent-incidents     concurrent-incidents';

        > :first-child::before {
          content: 'Response';
        }

        .personnel {
          grid-area: personnel;


          @include media-breakpoint-up(md) {
            .card-body {
              max-height: 300px;
              overflow: scroll;
            }
          }

          .personnel-container {
            display: flex;
          }

          .unit-circle {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #f3f3f3;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin-right: 20px;
            font-size: 24px;
            color: #ccc;
          }

          .personnel-label {
            @extend .light-label;
          }
        }

        .response-overview {
          grid-area: response-overview;

          .card-body {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
          }

          .response-overview-summary {
            margin-right: 1rem;

            @include media-breakpoint-down(lg) {
              flex: 0 0 100%;
              margin-right: 0;
            }
          }

          .response-overview-stats {
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);

            @include media-breakpoint-down(lg) {
              flex: 0 0 100%;
              margin-top: 1rem;
            }

            .response-overview-stat {
              flex: 1;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding: 1rem;
              text-align: center;

              &:nth-child(1), &:nth-child(3)  {
                border-right: solid 1px $border-color;
              }

              &:nth-child(3), &:nth-child(4)  {
                border-top: solid 1px $border-color;
              }

              .response-overview-stat-label {
                @extend .light-label;
              }

              .response-overview-stat-value {
                @extend .tx-info;
                @extend .tx-normal;
                margin-bottom: 0;
              }
            }
          }
        }

        .events-timeline {
          grid-area: events-timeline;

          .incident-timeline {
            padding-left: 25px;
            padding-right: 25px;
            width: 100px;
            height: 150px;
            opacity: 0.9;

            line {
              stroke: #2b2b2b;

              &.vertical-marker.now {
                stroke: #c00;
              }
            }
          }

          .vis-inner {
            padding-left: 0;

            @include media-breakpoint-down(xs) {
              font-size: 0.75rem;
              padding-right: 12px;
            }
          }
        }

        .alarm-answering-duration {
          grid-area: alarm-answering-duration;
        }

        .alarm-processing-duration {
          grid-area: alarm-processing-duration;
        }

        .travel-distances {
          grid-area: travel-distances;
        }

        .travel-durations {
          grid-area: travel-durations;
        }

        .response-duration {
          grid-area: response-duration;
        }

        .response-duration-comparisons {
          grid-area: response-duration-comparisons;
        }

        .concurrent-incidents {
          grid-area: concurrent-incidents;
        }
      }
    }

    .no-data {
      @extend .tx-gray-500;
      @extend .m-auto;
      @extend .pd-b-20;
    }

    .no-data-icon {
      @extend .tx-80;
      @extend .tx-gray-300;
      @extend .mg-b-20;
    }

    .census-data-stats-row,
    .parcel-data-stats-row {
      display: flex;
      flex-wrap: wrap;
    }

    .census-data-stat,
    .parcel-data-stat {
      flex: 1 1 50%;
      display: flex;
      align-items: center;
      padding: 0 1.5rem 3rem;

      @media (max-width: 768px) {
        padding-bottom: 3rem;
      }

      h2,
      h4 {
        margin: 0;
        padding: 0;
      }

      h2 {
        color: $color-pacific-blue;
      }

      h4 {
        color: lighten($color-pale-sky, 5%);
        font-size: 17px;
      }

      i {
        margin-right: 1.5rem;
      }
    }

    rect.interval.blue-interval {
      fill: blue;
      stroke: blue;
    }

    rect.interval.yellow-interval {
      fill: yellow;
      stroke: yellow;
    }

    circle.blue-dot {
      fill: blue;
    }

    /* Override d3tip */
    .d3-tip {
      background: white;
      color: black;
    }

    .indent-1 {
      text-indent: 1em;
    }

    // Override Plot.ly JS
    .bartext.bartext-outside {
      font-weight: 600;
    }

    .cartesianlayer .xaxislayer-above text,
    .cartesianlayer .yaxislayer-above text {
      fill: #334A56 !important;
    }

    .infolayer .g-xtitle text,
    .infolayer .legend .legendtext,
    .infolayer .g-ytitle text {
      fill: #334A56 !important;
    }

    .main-svg .annotation-text {
      font-size: 14px !important;
      font-weight: 600;
    }
  }
}
