.incident-analysis {
  .br-pageheader {
    @media print {
      display: none;
    }
  }

  .br-pagebody {
    margin-top: 0;

    @media print {
      margin-top: 30px;
    }
  }

  .print-button {
    @media print {
      display: none;
    }
  }

  .incident-analysis-tabs {
    @extend .ht-md-60;
    @extend .pb-3;
    @extend .pb-md-0;
    @extend .pd-x-15;
    @extend .pd-sm-x-25;
    @extend .bd-b;
    display: flex;
    justify-content: start;
    align-items: center;
    background: white;

    @media print {
      display: none;
    }
  }

  .incident-analysis-content {
    @extend .container-fluid;

    max-width: 1230px;

    @media print {
      display: block;
      margin: 0;
      padding: 0;

      > .row {
        display: block;

        > *[class*="col-"] {
          display: block;
        }
      }
    }

    section {
      display: grid;
      grid-template-columns: 50%;
      grid-gap: 2rem;
      padding-top: 2rem;

      &:not(:first-child) {
        @extend .mt-5;
      }

      > :first-child::before {
        @extend .tx-13;
        @extend .tx-spacing-1;
        @extend .tx-gray-500;
        @extend .tx-uppercase;
        @extend .tx-medium;
        font-family: 'Montserrat', sans-serif;
        grid-area: section-header;
        margin-bottom: -1rem;
        transform: translateY(-200%);
      }

      @include media-breakpoint-down(md) {
        grid-template-areas: unset !important;
        grid-template-columns: auto !important;

        &:first-child {
          padding-top: 4rem;
        }

        > *,
        > :first-child::before {
          grid-area: unset !important;
        }
      }

      @media print {
        display: block;
        color-adjust: exact;
        -webkit-print-color-adjust: exact;

        .card {
          margin: 2rem 0;
          break-inside: avoid;
          page-break-inside: avoid;

          &:first-child {
            margin: 0;
          }

          .card-option {
            display: none;
          }
        }
      }

      &.overview {
        grid-template-areas:
          'section-header       section-header'
          'overview-intro       overview-intro'
          'incident-summary     dispatch-comments'
          'performance-analysis performance-analysis';

        > :first-child::before {
          content: 'Overview';
        }

        .overview-intro {
          grid-area: overview-intro;

          .overview-intro-summary {
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (min-width: 768px) and (max-width: 1200px) {
              padding-left: 6rem;
            }
          }

          @media (max-width: 768px) {
            .overview-intro-summary {
              h4 {
                text-align: center;
                margin-top: 4.5rem;
              }
            }
          }
        }

        .incident-summary {
          grid-area: incident-summary;
        }

        .dispatch-comments {
          grid-area: dispatch-comments;
          page-break-before: always;

          p {
            font-family: monospace;
            font-size: 15px;
          }

          .dispatch-comments-show-hide {
            @media print {
              display: none;
            }
          }
        }

        .performance-analysis {
          grid-area: performance-analysis;

          .card {
            padding: 2.5rem 1rem 2rem;
            text-align: center;
            transition: all 0.2s ease-in-out;

            span:first-child {
              font-size: 55px;
            }

            &:hover {
              cursor: help;
            }

            h6 {
              font-size: 13px;
              line-height: 18px;
              font-weight: 400;
              margin: 1rem 0 0 0;
            }

            &.nfpa-standard::before {
              content: 'NFPA';
              font-family: 'Montserrat';
              font-size: 12px;
              font-weight: 600;
              opacity: 0.3;
              position: absolute;
              right: 12px;
              text-transform: uppercase;
              top: 8px;
            }
          }

          .pass {
            color: #85c02f;
          }

          .fail {
            color: #e0003b;
          }

          .caution {
            color: #ff9f00;
          }

          @media (max-width: 976px) {
            > .row > div {
              margin-bottom: 2rem;
            }
          }
        }
      }

      &.location {
        grid-template-areas:
          'section-header section-header'
          'map            map'
          'census-data    parcel-data';

        > :first-child::before {
          content: 'Location';
        }

        .location-summary {
          @media (max-width: 768px) {
            > .row {
              margin: 0 1rem;
            }
          }

          dl dd {
            margin-bottom: 0.75rem;
          }

          dl dt {
            margin-bottom: 0.25rem;
          }
        }

        .location-map {
          grid-area: map;

          .incident-map {
            border-right: 1px solid $color-geyser;
            height: 100%;
            max-height: 500px;
            width: 100%;

            @media (max-width: 768px) {
              border-bottom: 1px solid $color-geyser;
              border-right: 0;
              height: 300px;
            }
          }
        }

        .census-data {
          grid-area: census-data;

          i.se-icon-census-tract {
            font-size: 3.2em;
          }
        }

        .parcel-data {
          grid-area: parcel-data;
        }
      }

      &.situational-awareness {
        grid-template-areas:
          'section-header     section-header'
          'weather-conditions traffic-conditions';

        > :first-child::before {
          content: 'Situational Awareness';
        }

        .weather-conditions {
          grid-area: weather-conditions;

          .weather-summary {
            @media (min-width: 992px) and (max-width: 1199px) {
              padding-left: 4.5rem;
            }

            @media (max-width: 768px) {
              padding-top: 2rem;
            }
          }

          current-weather {
            h1.heavyheader {
              font-family: 'Open Sans', sans-serif;
              font-size: 3rem;
              margin-top: 0;
            }

            h4 {
              color: lighten($color-pale-sky, 15%);
              font-weight: 400;
            }

            hr {
              border-top-color: #d7dee3;
              width: 50%;
              margin: 1rem 0 1.5rem;
            }

            p {
              margin: 0;
            }
          }
        }

        .traffic-conditions {
          grid-area: traffic-conditions;
        }
      }

      &.response {
        grid-template-areas:
          'section-header           section-header'
          'response-overview        response-overview'
          'events-timeline          events-timeline'
          'alarm-answering-duration alarm-processing-duration'
          'travel-distances         travel-durations'
          'response-duration        response-duration-comparisons'
          'concurrent-incidents     concurrent-incidents';

        > :first-child::before {
          content: 'Response';
        }

        .response-overview {
          grid-area: response-overview;
        }

        .events-timeline {
          grid-area: events-timeline;

          .incident-timeline {
            padding-left: 25px;
            padding-right: 25px;
            width: 100px;
            height: 150px;
            opacity: 0.9;

            line {
              stroke: #2b2b2b;

              &.vertical-marker.now {
                stroke: #c00;
              }
            }
          }

          .events-timeline-legend {
            font-size: 13px;

            @media (max-width: 991px) {
              margin: 3rem 3rem 0;
            }

            li {
              margin-bottom: .65rem;

              @media (max-width: 991px) {
                display: block;
                margin-bottom: .65rem;
              }

              &::before {
                content: '\25A0';
                font-size: 29px;
                line-height: 0;
                margin-right: 0.5rem;
                position: relative;
                top: 4px;
              }

              &.alarm-answer::before {
                color: $color-celery;
              }

              &.alarm-processing::before {
                color: $color-wisteria;
              }

              &.turnout-time::before {
                color: $color-tulip-tree;
              }

              &.travel-time::before {
                color: $color-di-serria;
              }

              &.intervention-time::before {
                color: $color-pelorous;
              }

              &.cancelled::before {
                color: $color-cranberry;
              }

              &.transport::before {
                color: $color-pickled-bluewood;
              }

              &.post-transport::before {
                color: $color-pale-sky;
              }
            }
          }
        }

        .alarm-answering-duration {
          grid-area: alarm-answering-duration;
        }

        .alarm-processing-duration {
          grid-area: alarm-processing-duration;
        }

        .travel-distances {
          grid-area: travel-distances;
        }

        .travel-durations {
          grid-area: travel-durations;
        }

        .response-duration {
          grid-area: response-duration;
        }

        .response-duration-comparisons {
          grid-area: response-duration-comparisons;
        }

        .concurrent-incidents {
          grid-area: concurrent-incidents;
        }
      }
    }

    .no-data-available {
      @extend .tx-gray-500;
      @extend .tx-center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    // Baseline style for statistical units found in the card layout
    .stat {
      align-items: center;
      display: flex;
      padding: 0 1.5rem 3rem;

      @media (max-width: 768px) {
        padding-bottom: 3rem;
      }

      h2,
      h4 {
        margin: 0;
        padding: 0;
      }

      h2 {
        color: $color-pacific-blue;
      }

      h4 {
        color: lighten($color-pale-sky, 5%);
        font-size: 17px;
      }

      i {
        margin-right: 1.5rem;
      }
    }

    rect.interval.blue-interval {
      fill: blue;
      stroke: blue;
    }

    rect.interval.yellow-interval {
      fill: yellow;
      stroke: yellow;
    }

    circle.blue-dot {
      fill: blue;
    }

    /* Override d3tip */
    .d3-tip {
      background: white;
      color: black;
    }

    .indent-1 {
      text-indent: 1em;
    }

    // Override Plot.ly JS
    .bartext.bartext-outside {
      font-weight: 600;
    }

    .cartesianlayer .xaxislayer-above text,
    .cartesianlayer .yaxislayer-above text {
      fill: #334A56 !important;
    }

    .infolayer .g-xtitle text,
    .infolayer .legend .legendtext,
    .infolayer .g-ytitle text {
      fill: #334A56 !important;
    }

    .main-svg .annotation-text {
      font-size: 14px !important;
      font-weight: 600;
    }
  }
}
