<div class="br-mainpanel medium-bg">
  <reporting-unit-list units="vm.unitStore.allUnits" on-select="vm.selectUnit(selected)">
  </reporting-unit-list>

  <div class="reporting-unit-body">

    <div class="br-pagetitle bg-white d-flex justify-content-between flex-wrap">
      <div class="col-sm-5">
        <h2 class="m-0 tx-bold">{{ vm.selected.id }} </h2>
      </div>
      <div class="col-sm-7 text-right bg-white">
        <nav class="breadcrumb pd-10 mg-0 tx-12 ml-50-percent text-right bg-white">
          <a class="breadcrumb-item" href="index.html">Home</a>
          <a class="breadcrumb-item" href="#">Reports</a>
          <a class="breadcrumb-item" href="#">Units</a>
          <span class="breadcrumb-item active">{{ vm.selected.id }}</span>
        </nav>
      <!-- <h3 class="light-label">{{vm.uiStore.selectedFilters.timeFilter.filter.start | date:'MMM d, y HH:mm:ss'}} -
        {{vm.uiStore.selectedFilters.timeFilter.filter.end | date:'MMM d, y HH:mm:ss'}}</h3> -->
      </div>
      <div class="col-sm-2">
        <select class="form-control" ng-model="vm.selectedTime" ng-change="vm.changeFilter()">
          <option ng-repeat="tf in vm.timeFilters" value="{{tf.id}}">{{tf.displayName}}</option>
        </select>
      </div>
    </div>
    <!-- br-pagetitle -->

    <div class="ht-md-60 pb-3 pb-md-0 pd pd-x-25 bd-b d-flex align-items-center justify-content-start bg-white">
      <ul class="nav nav-outline active-info align-items-start flex-column flex-md-row" role="tablist">
        <li class="nav-item tx-medium pl-0"><a class="nav-link active" data-toggle="tab" href="#overview" role="tab">Incident Types</a></li>
        <li class="nav-item tx-medium"><a class="nav-link" data-toggle="tab" href="#" role="tab" ng-click="vm.scrollTo('#headingTwo')">Turnout</a></li>
        <li class="nav-item tx-medium"><a class="nav-link" data-toggle="tab" href="#travel" role="tab" data-toggle="collapse" ng-click="vm.scrollTo('#headingOne')">Travel</a></li>
        <li class="nav-item tx-medium"><a class="nav-link" data-toggle="tab" href="#" role="tab" ng-click="vm.scrollTo('#details')">Details</a></li>
      </ul>
    </div>

    <div class="card-body bg-white">
      <div class="row d-flex justify-content-between col-sm-12">
        <h4 class="tx-spacing-1 tx-medium mg-b-20 col-sm-4">Incident Types</h4>
        <h5 class="d-inline tx-inverse tx-lato text-right tx-bold mg-b-5 col-sm-4">
          <rank class="d-inline" old-value="vm.previousMetrics.total_data.total_count_rank" new-value="vm.currentMetrics.total_data.total_count_rank">
          </rank>
        </h5>
      </div>
      <div class="row col-12">
        <incident-category-chart class="col-sm-9" data="vm.currentMetrics.time_series_data.grouped_data.category" tz="{{vm.timeZone}}">
        </incident-category-chart>
        <div class="column col-3 col-sm-3 pd-y-20">
          <div class="col-12 col-sm-12 pd-y-20">
            <h3 class="light-label mb-0">Responses</h3>
            <h4 class="tx-inverse tx-lato tx-bold mg-b-5 d-inline">{{
              vm.currentMetrics.total_data.total_count }}</h4>
            <percent-change old-value="vm.previousMetrics.total_data.total_count" new-value="vm.currentMetrics.total_data.total_count">
            </percent-change>
            <br>

            <p>Avg {{ vm.totalIncidentAvg.toFixed(2) }}</p>
            <div class="mg-b-20">
              <bar-gauge min="{{vm.totalIncidentMin.total_count}}" average="{{vm.totalIncidentAvg}}" value="{{vm.currentMetrics.total_data.total_count}}" max="{{vm.totalIncidentMax.total_count}}"></bar-gauge>
            </div>
          </div>

          <div class="col-12 col-sm-12 pd-y-20">
            <h3 class="light-label mb-0">Commitment</h3>

            <h4 class="tx-inverse tx-lato tx-bold mg-b-5 d-inline">{{
              vm.humanizeDuration(vm.currentMetrics.total_data.total_commitment_time_seconds*1000) }}</h4>
            <percent-change old-value="vm.previousMetrics.total_data.total_commitment_time_seconds" new-value="vm.currentMetrics.total_data.total_commitment_time_seconds">
            </percent-change>
            <br>
            <br>

            <p>Avg {{vm.humanizeDuration(vm.totalCommitmentAvg*1000)}}</p>
            <bar-gauge min-label="{{ vm.totalCommitmentMin.total_commitment_time_seconds|humanizeDuration:true}}" min="{{vm.totalCommitmentMin.total_commitment_time_seconds}}" average="{{vm.totalCommitmentAvg}}" value="{{vm.currentMetrics.total_data.total_commitment_time_seconds}}" max="{{vm.totalCommitmentMax.total_commitment_time_seconds}}" max-label="{{vm.totalCommitmentMax.total_commitment_time_seconds|humanizeDuration:true}}"></bar-gauge>
            </div>
          </div>
        </div>
        <div class="row col-12">
          <chart-table class="col-9 mb-5" title="Incident Type" data="vm.responseData"></chart-table>
        </div>
      </div>

    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header m-0" id="headingOne">
          <h5 class="mb-0">
        <button class="btn btn-link d-flex collapsed col-sm-12" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h4 class="tx-spacing-1 tx-medium mg-b-20 col-sm-3">Travel Time</h4>
          <h5 class="d-inline tx-inverse tx-lato tx-bold mg-b-5 col-sm-6"><span class="fa fa-clock-o fa">&nbsp;</span>{{
            vm.humanizeDuration(vm.currentMetrics.total_data['90_percentile_travel_duration_seconds']*1000) }}
            <percent-change class="d-inline col-sm-3" new-value="vm.currentMetrics.total_data['90_percentile_travel_duration_seconds']"
              old-value="vm.previousMetrics.total_data['90_percentile_travel_duration_seconds'] ">
            </percent-change>
          </h5>
          <h5 class="d-inline tx-inverse tx-lato tx-bold mg-b-5 text-right col-sm-3">
            <rank class="d-inline" new-value="vm.currentMetrics.total_data['90_percentile_travel_duration_seconds_rank']"
              old-value="vm.currentMetrics.total_data['90_percentile_travel_duration_seconds_rank']">
            </rank>
          </h5>
          </button>
          </h5>
        </div>
        <!-- travel -->
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-sm-12 pd-y-20">
                <div class="row">
                  <div class="col-4 col-sm-4 pd-y-20">
                    <h3 class="light-label mb-0">OVERALL</h3>
                    <h4 class="tx-inverse tx-lato tx-bold mg-b-5 d-inline">{{
                    vm.humanizeDuration(vm.currentMetrics.total_data['90_percentile_travel_duration_seconds']*1000)
                    }}</h4>
                    <percent-change old-value="vm.currentMetrics.total_data['90_percentile_travel_duration_seconds'] " new-value="vm.previousMetrics.total_data['90_percentile_travel_duration_seconds'] ">
                    </percent-change>
                  </div>
                  <div class="col-4 col-sm-4 pd-y-20 bd-l bd-color-gray-lighter">
                    <h3 class="light-label mb-0">EMS</h3>
                    <h4 class="tx-inverse tx-lato tx-bold mg-b-5 d-inline">{{
                    vm.humanizeDuration(vm.currentMetrics.grouped_data.category.EMS['90_percentile_travel_duration_seconds']*1000)}}</h4>
                    <percent-change old-value="vm.currentMetrics.grouped_data.category.EMS['90_percentile_travel_duration_seconds']" new-value="vm.previousMetrics.grouped_data.category.EMS['90_percentile_travel_duration_seconds']">
                    </percent-change>
                  </div>
                  <div class="col-4 col-sm-4 pd-y-20 bd-l bd-color-gray-lighter">
                    <h3 class="light-label mb-0">FIRE</h3>
                    <h4 class="tx-inverse tx-lato tx-bold mg-b-5 d-inline">{{
                    vm.humanizeDuration(vm.currentMetrics.grouped_data.category.FIRE['90_percentile_travel_duration_seconds']*1000)}}</h4>
                    <percent-change old-value="vm.currentMetrics.grouped_data.category.FIRE['90_percentile_travel_duration_seconds']" new-value="vm.previousMetrics.grouped_data.category.FIRE['90_percentile_travel_duration_seconds']">
                    </percent-change>
                  </div>
                </div>
              </div>
              <div class="row col-12">
                <incident-travel-category-chart class="col-sm-9" data="vm.currentMetrics.time_series_data.grouped_data.category" tz="{{vm.timeZone}}">
                </incident-travel-category-chart>
              </div>
            </div>
          </div>
        </div>
        <!-- end travel -->
      </div>

      <div class="card">
        <div class="card-header m-0" id="headingTwo">
          <h5 class="mb-0">
        <button class="btn btn-link d-flex col-sm-12" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
          <h4 class="tx-spacing-1 tx-medium mg-b-20 col-sm-3">Turnout Time</h4>
          <h5 class="d-inline tx-inverse tx-lato tx-bold mg-b-5 col-sm-6"><span class="fa fa-clock-o fa">&nbsp;</span>{{
            vm.currentMetrics.total_data['90_percentile_turnout_duration_seconds'] | number: 0 }} secs
            <percent-change class="d-inline" new-value="vm.currentMetrics.total_data['90_percentile_turnout_duration_seconds'] "
              old-value="vm.previousMetrics.total_data['90_percentile_turnout_duration_seconds'] ">
            </percent-change>
          </h5>
          <h5 class="d-inline tx-inverse tx-lato tx-bold mg-b-5 text-right col-sm-3">
            <rank class="d-inline" new-value="vm.currentMetrics.total_data['90_percentile_turnout_duration_seconds_rank']"
              old-value="vm.previousMetrics.total_data['90_percentile_turnout_duration_seconds_rank']">
            </rank>
          </h5>
          </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-sm-12 pd-y-20">
                <div class="row">
                  <h3 class="light-label mb-0">Summary</h3>
                </div>
                <div class="row col-8">
                  <div class="col-4 col-sm-4 pd-y-20">
                    <h3 class="light-label mb-0">OVERALL</h3>
                    <h4 class="tx-inverse tx-lato tx-bold mg-b-5 d-inline">{{
                  vm.currentMetrics.total_data['90_percentile_turnout_duration_seconds'] | number: 0 }}</h4>
                    <percent-change new-value="vm.currentMetrics.total_data['90_percentile_turnout_duration_seconds'] " old-value="vm.previousMetrics.total_data['90_percentile_turnout_duration_seconds'] ">
                    </percent-change>
                  </div>
                  <div class="col-4 col-sm-4 pd-y-20 bd-l bd-color-gray-lighter">
                    <h3 class="light-label mb-0">EMS</h3>
                    <h4 class="tx-inverse tx-lato tx-bold mg-b-5 d-inline">{{
                  vm.currentMetrics.grouped_data.category.EMS['90_percentile_turnout_duration_seconds'] |
                  number: 0 }}</h4>
                    <percent-change new-value="vm.currentMetrics.grouped_data.category.EMS['90_percentile_turnout_duration_seconds']" old-value="vm.previousMetrics.grouped_data.category.EMS['90_percentile_turnout_duration_seconds']">
                    </percent-change>
                  </div>
                  <div class="col-4 col-sm-4 pd-y-20 bd-l bd-color-gray-lighter">
                    <h3 class="light-label mb-0">FIRE</h3>
                    <h4 class="tx-inverse tx-lato tx-bold mg-b-5 d-inline">{{
                  vm.currentMetrics.grouped_data.category.FIRE['90_percentile_turnout_duration_seconds'] |
                  number: 0}}</h4>
                    <percent-change new-value="vm.currentMetrics.grouped_data.category.FIRE['90_percentile_turnout_duration_seconds']" old-value="vm.previousMetrics.grouped_data.category.FIRE['90_percentile_turnout_duration_seconds']">
                    </percent-change>
                  </div>
                </div>
                <incident-turnout-category-chart class="col-sm-12" data="vm.currentMetrics.time_series_data.grouped_data.category" tz="{{vm.timeZone}}">
                </incident-turnout-category-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-5 row">
      <div class="col-md-12">
        <div id="details">
          <div class="card h-100">
            <div class="card-body">
              <div class="row no-gutters tx-center">
                <div class="col-12 col-sm-12 pd-y-20">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Incidents</a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                    </li> -->
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div ui-grid="vm.responsesTableOptions" class="height-65vh" ui-grid-pagination ui-grid-auto-resize>
                    </div>
                    <!-- <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div> -->
                  </div>
                  <!-- <div ui-grid="vm.responsesTableOptions" class="height-65vh" ui-grid-pagination ui-grid-auto-resize> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
