@import '../../../components/table-controls/table-controls';

.reporting-unit {
  height: 100%;
  max-height: 100%;
  display: flex;
  position: relative;

  .main-container {
    display: flex;
    height: 100%;
    max-height: 100%;
  }

  reporting-unit-list {
    height: 100%;
    max-height: 100%;
    overflow-y: auto;

    @include media-breakpoint-down(md) {
      width: 100%;

      .br-mailbox-list {
        width: 100%;
      }

      &.unit-selected {
        display: none;
      }
    }
  }

  .reporting-unit-content-container {
    flex: 1;
    height: 100%;
    max-height: 100%;
    background: white;
    position: relative;

    @include media-breakpoint-down(md) {
      &:not(.unit-selected) {
        display: none;
      }
    }

    .container-fluid {
      max-width: 1200px;
    }
  }

  .reporting-unit-content {
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .reporting-unit-content-body {
    @include media-breakpoint-down(md) {
      display: none;

      &.unit-selected {
        display: block;
      }
    }

    .unit-name {
      flex: 1;
      margin: 0 1rem 0 0;
      font-weight: bold;
    }

    .time-select {
      @extend .form-control;
      width: 10rem;
    }

    .card {
      margin: 1rem 0;
    }

    .incident-types-grid {
      $layout-breakpoint: 1500px;

      display: grid;
      grid-template-areas:
        'graph      bar-gauges'
        'categories empty';
      grid-template-columns: 75% 25%;

      @media screen and (max-width: $layout-breakpoint) {
        grid-template-areas:
          'bar-gauges'
          'graph     '
          'categories';
        grid-template-columns: 100%;
      }

      .incident-types-graph {
        grid-area: graph;
      }

      .incident-types-bar-gauges {
        grid-area: bar-gauges;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 0;

        @media screen and (max-width: $layout-breakpoint) {
          flex-direction: row;
          padding: 20px 20px;
        }

        @include media-breakpoint-down(xs) {
          flex-direction: column;
          padding: 20px 0;
        }

        .responses,
        .commitment {
          padding: 0 40px;

          @media screen and (max-width: $layout-breakpoint) {
            flex: 1;
          }

          @include media-breakpoint-down(xs) {
            padding: 0 20px;
          }
        }

        .responses-value,
        .commitment-value {
          @extend .tx-lato;
          font-weight: bold;
          margin-bottom: 0.5rem;

          @include media-breakpoint-down(xs) {
            font-size: 1rem;
          }
        }

        percent-change {
          margin-bottom: 0.5rem;
        }
      }

      chart-table {
        grid-area: categories;
        width: 100%;
        max-width: 32rem;
        margin: 1rem auto;
      }
    }

    .travel-time-card,
    .turnout-time-card {
      @extend .card;

      .card-header {
        @extend .tx-lato;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 1rem 1.2rem;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.5rem;
        white-space: nowrap;

        @include media-breakpoint-down(lg) {
          font-size: 1.2rem;
        }

        @include media-breakpoint-down(xs) {
          font-size: 1rem;
        }

        > * {
          margin-right: 1rem;
        }

        > *[class*="fa-angle"] {
          color: $gray-600;
          font-size: 1.4em;
        }

        .time {
          display: flex;
          align-items: center;

          percent-change {
            margin-left: 1rem;
          }
        }
      }

      .categories {
        display: flex;
        margin: 10px 0 20px;

        .category {
          flex: 0.33;
          display: flex;
          justify-content: center;

          &:not(:first-child) {
            @extend .bd-l;
          }

          .category-label {
            @extend .light-label;
            margin-bottom: 0;
          }

          .category-value-container {
            display: flex;
            align-items: center;

            .category-value {
              @extend .tx-inverse;
              @extend .tx-lato;
              display: inline;
              font-weight: bold;
              margin: 0;

              @include media-breakpoint-down(sm) {
                font-size: 1rem;
              }
            }

            percent-change {
              margin-left: 0.5rem;
            }
          }
        }
      }
    }

    .details {
      margin-bottom: 4rem;

      .tab-pane {
        padding-top: 1rem;
      }

      .nav-tabs {
        padding: 0 1.5rem;
      }
    }
  }

  .timeline-overlay-window {
    @extend .overlay-window;
    display: flex;
    flex-direction: column;

    .overlay-window-content {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    incident-apparatus-timeline {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }

  .incidents-overlay-window {
    @extend .overlay-window;

    incidents-table {
      flex: 1;
      margin-bottom: 4rem;

      .incidents-table-desktop {
        display: initial !important;

        @media screen and (max-width: 1460px) {
          display: none !important;
        }
      }

      .incidents-table-mobile {
        display: initial !important;

        @media screen and (min-width: 1461px) {
          display: none !important;
        }

        .table {
          @include table($max-width: 1460px);
        }
      }

      table-controls {
        @include table-controls($breakpoint: 1260px);
      }
    }
  }

  .progress-bar-step {
    position:absolute;
    margin-top:-20px;
    z-index:1;
    font-size: 12px;
  }

  .progress-bar-label-txt {
    float: left;
  }

  .progress-bar-label-line {
    float: right;
    background: #000;
    height:50px;
    width:4px;
    margin-left: 5px;
  }

  .progress-bar-label-percent {
    float: right;
    margin-left: 5px;
  }

  .ml-50-percent {
    margin-left: 50%;
  }
}
