<div class="bg-wrapper">
  <div class="container py-6">
    <section id="links" class="row">
      <article class="col">
        <h5>Products</h5>
        <ul>
          <li><a href="https://github.com/StatEngine/stat-engine" target="_blank">StatEngine</a></li>
          <li><a href="/spade">Spade</a></li>
          <li><a href="#">Siamese</a></li>
          <li><a href="https://github.com/StatEngine/shiftly" target="_blank">Shiftly</a></li>
        </ul>
      </article>
      <article class="col">
        <h5>Developers</h5>
        <ul>
          <li><a href="https://statengine.github.io/slate/#introduction">Introduction</a></li>
          <li><a href="https://statengine.github.io/slate/#getting-started">Getting Started</a></li>
          <li><a href="https://statengine.github.io/slate/#api">API</a></li>
          <li><a href="https://statengine.github.io/slate/#license">License</a></li>
          <li><a href="https://github.com/StatEngine">Community</a></li>
        </ul>
      </article>
      <article class="col">
        <h5>Company</h5>
        <ul>
          <li><a href="#" ui-sref="site.main.about">About us</a></li>
          <li><a href="https://medium.com/statengine">Blog</a></li>
          <li><a href="#" ui-sref="site.main.funding">Funding</a></li>
          <li><a href="#" ui-sref="site.main.partners">Partners</a></li>
          <li><a href="mailto: contact@statengine.io" target="_blank">Contact us</a></li>
        </ul>
      </article>
      <article class="col">
        <h5>Resources</h5>
        <ul>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Link Goes Here</a></li>
          <li><a href="#">Another</a></li>
          <li><a href="#">And look one more</a></li>
        </ul>
      </article>
      <div class="col">
        <div>
          <h5>Connect</h5>
          <a href="https://github.com/StatEngine" target="_blank" class="image-link"><img src="/assets/images/github.svg"/></a>
          <a href="#" class="image-link"><img src="/assets/images/stackoverflow.svg"/></a>
          <a href="#" class="image-link"><img src="/assets/images/slack.svg"/></a>
          <a href="https://twitter.com/statengine" target="_blank" class="image-link"><img src="/assets/images/twitter.svg"/></a>
          <a href="#" class="image-link"><img src="/assets/images/rss.svg"/></a>
        </div>
        <div class="newsletter-wrap">
          <h5>Stay in the loop</h5>
          <p>Stay in the know with the future of analytics</p>
          <div class="newsletter">
            <input type="mail" placeholder="Enter your email address"/>
            <button>Submit</button>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section id="bottom-bar">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-auto"><img src="/assets/images/branding.svg"/></div>
        <div class="col-sm-auto ml-auto legal">© Prominent Edge | <a ui-sref="site.main.termsOfUse">Terms &#38; Privacy</a></div>
      </div>
    </div>
  </section>
</div>
