
<section id="links">
  <article>
    <h5>Products</h5>
    <a href="#">StatEngine</a>
    <a href="#">Spade</a>
    <a href="#">Swapper Pro Starter</a>
    <a href="#">Swift</a>
    <a href="#">Shucker</a>
    <a href="#">Stampede</a>
  </article>
  <article>
    <h5>Developers</h5>
    <a href="#">Getting Started</a>
    <a href="#">Documentation</a>
    <a href="#">API Reference</a>
    <a href="#">Community</a>
  </article>
  <article>
    <h5>Compagny</h5>
    <a href="#">About us</a>
    <a href="#">Blog</a>
    <a href="#">Funding</a>
    <a href="#">Contact us</a>
    <a href="#">Partners</a>
  </article>
  <article>
    <h5>Resources</h5>
    <a href="#">FAQs</a>
    <a href="#">Link Goes Here</a>
    <a href="#">Another</a>
    <a href="#">And look one more</a>
  </article>
  <div>
    <div>
      <h5>Connect</h5>
      <a href="#" class="image-link"><img src="/assets/images/github.svg"/></a>
      <a href="#" class="image-link"><img src="/assets/images/stackoverflow.svg"/></a>
      <a href="#" class="image-link"><img src="/assets/images/slack.svg"/></a>
      <a href="#" class="image-link"><img src="/assets/images/twitter.svg"/></a>
      <a href="#" class="image-link"><img src="/assets/images/rss.svg"/></a>
    </div>
    <div>
      <h5>Stay in the loop</h5>
      <p>Stay in the know with the future of analytics</p>
      <div class="newsletter">
        <input type="mail" placeholder="Enter your email address"/>
        <button>Submit</button>
      </div>
    </div>
  </div>
</section>
<section id="bottom-bar">
  <div><img src="/assets/images/branding.svg"/></div>
  <div>© 2017 StatEngine, Inc.     |    Terms of Service     |     Privacy Policy</div>
</section>
