/////////////////////////////////
// MARKETPLACE //
////////////////////////////////

.marketplace {

  header.naked {
    margin-bottom: 0;
  }

  .masthead {
    background-image:url('../assets/images/marketplace-bg-left.png'), url('../assets/images/marketplace-bg-right.png');
    background-position: calc(50% - 550px) 3px,calc(50% + 550px) 3px;
    background-repeat: no-repeat,no-repeat;
    min-height: 335px;
  }

  .masthead-content {
    padding-top: 5rem;
    text-align: center;
    h1 {
      font-weight: 300;
      font-size: 45px;
    }
    > p {
      color: $color-pale-sky;
      font-size: 16px;
      margin: 1.5rem 0 2rem;
    }
  }

  .marketplace-search {
  	margin: 0 auto;
  	position: relative;
  	width:90%;
    display: flex;
    .search-input {
      border-radius: 99rem;
      border-right: none;
      box-sizing: border-box;
      padding: 2.2rem 13rem 2.2rem 2.2rem;
    }
    button {
      padding: .75rem 3rem;
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }

  .categories-sidenav {
    ul.nav {
      margin-left: -8px;
    }
    .nav > li {
      > a {
        border-radius: 3px;
        color: inherit;
        padding: .75rem;
        &:hover, &:active, &:focus {
          background-color: lighten($color-pale-sky,50%);
          color: darken($color-cerulean,5%);
        }
      }
      &.active
      a {
        background-color: lighten($color-pale-sky,50%);
        color: darken($color-cerulean,5%);
        &:after {
          content: "\E072";
          font-family: 'Glyphicons Halflings';
          font-size: 8px;
          position: absolute;
          right: 1rem;
          top: 1.3rem;
        }
      }
    }
  }

  .integrations-content {
    // background: seagreen;
  }

}
a.card {
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  color: inherit;
  display: block;
  padding: 4rem;
  border-radius: 4px;
  &:hover, &:active, &:focus {
    text-decoration: none;
    h4 {
      color: $color-spade-hyperlink;
    }
  }
  h4 i {
    font-size: 15px;
    top: -1px;
    position: relative;
  }
}
