/////////////////////////////////
// VARIABLES //
////////////////////////////////
$color-cerulean:                #00A9DA;
$color-pacific-blue:            #0099c2;
$color-bondi-blue:              #16a2b3;
$color-java:                    #1fc8a7;
$color-pickled-bluewood:        #334A56;
$color-pale-sky:                #697983;
$color-cloudy-sky:              #abbecb;
$color-oxford-blue:             #384553;
$color-geyser:                  #D7DEE3;
$color-brand-success:           #30b370;
$color-brand-danger:            #d61745;
$color-porcelain:               #f5f7f8;
$color-tulip-tree:              #efb93d;
$color-wisteria:                #9068bc;
$color-di-serria:               #e09061;
$color-pelorous:                #46a0c1;
$color-cranberry:               #d6527e;
$color-celery:                  #99c550;
$color-ice-blue:                #ecf0f2;
$color-light-grey-blue:         #abbecb;
$color-turquoise-blue:          #00a7dc;
$color-dark-grey-blue:          #334a56;

$primary: $color-cerulean;

$gray-550: #99a4ab;

$font-weight-semibold: 500;

/////////////////////////////////
// IMPORTS //
////////////////////////////////
$fa-font-path: '/assets/fonts/font-awesome/';
$ionicons-font-path: '/assets/fonts/Ionicons/';

@import '~font-awesome/scss/font-awesome';

@import '~angular-loading-bar/build/loading-bar.css';
@import '~angular-ui-grid/ui-grid.css';
@import '~animate.css/animate.css';
@import '~bootstrap/scss/bootstrap';
@import '~hover.css/css/hover.css';
@import "../assets/sass/se-font-styles";
@import "../assets/sass/ionicons.css";
@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~tippy.js/dist/tippy.css";
@import "~vis/dist/vis.css";
@import "~spectrum-colorpicker/spectrum.css";


// Theme import
@import "../themes/bracket-plus/scss/bracket";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:Extra-Light,Light,Regular,Medium,Semi-Bold,Bold,Extra-Bold,Black");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:Extra-Light,Light,Regular,Medium,Semi-Bold,Bold,Extra-Bold");
@import url('https://rsms.me/inter/inter-ui.css');

/////////////////////////////////
// BROWSER //
////////////////////////////////
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@mixin ie11 {
  // HACK: IE11 only
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content
  }
}

/////////////////////////////////
// GLOBAL //
////////////////////////////////
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  box-sizing: border-box;
  color: $color-pickled-bluewood;
  font-family: 'Inter UI', Verdana, Tahoma, Sans-Serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  @media print {
    display: block;
  }
}

.root-view {
  flex: 1;
  display: flex;
  max-height: 100%;

  @media print {
    display: block;
    max-height: initial;
  }
}

.sidebar-view {
  @extend .ios-scroll-fix;
  height: 100%;
  max-height: 100%;
  z-index: 100;
}

.app-view {
  flex: 1;
  display: flex;
  flex-direction: column;

  @media print {
    display: block;
  }
}

.appbar-view {
  @media print {
    display: none;
  }
}

.app-content-container {
  // This container and its child are a workaround to allow the content view to escape
  // from the flexbox layout, so that descendants can size using height percentages
  // if need be. It also fixes some auto-resizing issues.
  position: relative;
  flex: 1;

  .app-content {
    position: absolute;
    width: 100%;
    height: 100%;

    @media print {
      height: auto;
    }

    .app-content-view {
      @extend .medium-bg;
      @extend .ios-scroll-fix;
      height: 100%;
      overflow: auto;

      @media print {
        overflow: visible;
      }
    }
  }
}

.show-mobile-nav,
.show-sidebar {
  .content-view {
    @extend .no-scroll;
  }
}

#Smallchat {
  @media print {
    display: none;
  }
}

a {
  color: $color-pacific-blue;
  transition: all 0.2s;

  &:hover {
    color: darken($color-pacific-blue, 20%);
    text-decoration: none;
  }
}

p {
  line-height: 1.75;
}

hr {
  border-top-color: #ced2d6;
}

.subheader {
  color: $color-bondi-blue;
  font-family: 'Montserrat';
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Montserrat';
  font-weight: 300;
}

h2 {
  line-height: 1.5;
}

.heavyheader {
  font-family: 'Montserrat';
  font-weight: 600;
}

.extraheavyheader {
  font-family: 'Montserrat';
  font-weight: 700;
}

.bottom-line {
  height: 1px;
  background-color: #818b93;
  opacity: 0.27;
}

.light-label {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  color: lighten($color-pale-sky,15%);
  margin-bottom: 0.35rem;
  + dd {
    margin-bottom: 2rem;
  }
}

// Tables
table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid darken($color-geyser, 5%);
}

table td,
table th {
  border-left: 1px solid $color-geyser;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5em 1em
}

table th {
  font-family: 'Montserrat';
  font-weight: 600;
  border: 1px solid darken($color-geyser, 8%);
}

table td:first-child,
table th:first-child {
  border-left-width: 0
}

table thead {
  background: $color-geyser;
  text-align: left;
  vertical-align: bottom;
}

table tr:nth-child(2n-1) td {
  background-color: lighten($color-geyser, 10%);
}

table td {
  border-bottom: 1px solid $color-geyser;
}

// Table Imposter Styles
@mixin table($max-width: 0, $vertical-borders: false) {
  display: table;
  margin: 0;
  width: 100%;
  border: solid 1px $border-color;

  @media screen and (max-width: $max-width) {
    display: block;
  }

  .table-row {
    display: table-row;

    &:nth-of-type(even) {
      background: $color-porcelain;
    }

    &:nth-of-type(odd) {
      background: white;
    }

    &.header {
      font-family: 'Open Sans';
      font-weight: 700;
      color: #adb2b7;
      background-color: #ffffff;
      text-transform: uppercase;
    }

    @media screen and (max-width: $max-width) {
      padding: 14px 0 7px;
      display: block;
      border-bottom: 1px solid $color-geyser;

      &.header {
        display: none;
      }

      .cell {
        &:before {
          margin-bottom: 3px;
          content: attr(data-title);
          min-width: 98px;
          font-size: 11px;
          line-height: 13px;
          font-weight: bold;
          text-transform: uppercase;
          display: block;
          color: #adb2b7;
        }
      }
    }

    &.header .cell {
      font-size: 12px;
    }

    .cell {
      padding: 1.2rem;
      display: table-cell;
      border-bottom: 1px solid $color-geyser;

      @if $vertical-borders {
        @media screen and (min-width: $max-width + 1) {
          &:not(:last-child) {
            border-right: 1px solid $color-geyser;
          }
        }
      }

      @media screen and (max-width: $max-width) {
        padding: 2px 16px;
        display: block;
        margin-bottom: 10px;
        border-bottom: none;
      }
    }

    &:last-child {
      .cell {
        border-bottom: none;
      }
    }
  }
}

.table {
  @include table(580px);
}

// Lists
ol,
ul {
  list-style: none;
  margin: 0 0 2em 0;
  padding: 0;
}

ul.statengine li {
  padding: 1rem 0 0 2rem;
  position: relative;
}

ul.statengine li::before {
  content: '▶';
  font-size: 11px;
  top: 1.3rem;
  color: $color-bondi-blue;
  position: absolute;
  left: 0;
}

ol.statengine {
  counter-reset: item;
}

ol.statengine li {
  padding: 1rem 0 0 2rem;
  position: relative;
}

ol.statengine li::before {
  content: counters(item, ".") ".";
  counter-increment: item;
  font-weight: bold;
  top: 1rem;
  color: $color-bondi-blue;
  position: absolute;
  left: 0;
}

// Forms & Form Elements
.form-wrapper {
  background: white;
  color: $color-pickled-bluewood;
  border-radius: 4px;
  padding: 3rem;
  margin: 4rem 0;
  box-shadow: 0px 20px 25px -10px rgba(0, 0, 0, 0.2);
  transition: opacity 300ms;
  min-width: 450px;

  @media (max-width: 575.99px) {
    min-width: auto;
  }
}

@mixin form-control-sm() {
  height: calc(1.8125rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.form-control {
  &:focus {
    border-color: $color-bondi-blue;
    box-shadow: 0 0 9px 0.2rem rgba(24, 162, 178, 0.2);
  }
}

.form-control-sm {
  @include form-control-sm;
}

.form-extras {
  border-top: 1px solid $color-geyser;
  margin-top: 2rem;
  padding: 2rem 0 0 0;

  i::before {
    font-size: 10px;
  }
}

.form-group {
  margin-bottom: 2rem;
}

label.disabled {
  opacity: .5;
  cursor: not-allowed;
}

// Utility Nav
.utility-nav {
  background: white;
  border-bottom: 1px solid $color-geyser;
  font-size: 13px;

  a {
    color: $color-pale-sky;

    &:hover {
      color: $color-pacific-blue;
    }
  }
}

// Incident Switcher
.incident-switcher {
  padding: 12px 15px 14px;
  margin-bottom: 0;
  list-style: none;
  text-align: right;

  li {
    display: inline-block;

    &.next:before {
      content: "|";
      padding: 0 7px;
      color: #ccc;
    }
  }

  a:focus {
    text-decoration: none;
  }

  a::before,
  a::after {
    color: $color-pacific-blue;
    font-family: "FontAwesome";
    font-weight: bold;
    position: relative;
  }

  .previous a::before {
    content: "\f104";
    margin-right: 8px;
  }

  .next a::after {
    content: "\f105";
    margin-left: 8px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.inline-description-list {
  dl {
    dt {
      display: inline-block;
      min-width: 12rem;
      text-align: right;
    }

    dd {
      display: inline-block;
      margin: 0 0 1.5rem 2rem;
    }
  }
}

// Checkboxes
.checkbox {
  font-size: 16px;
  height: 1em;
  line-height: 1;
  margin-bottom: 0.5em;

  input {
    font-size: 1em;
    width: 1em;
    height: 1em;
    background-color: white;
    border: solid 1px rgba(51, 74, 86, 0.6);
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    outline: none;
    transition: background-color 0.2s;

    // Hide default checkbox.
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    &::-ms-check { display: none; } // IE11 "appearance: none"

    &::before {
      content: '✓';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1em;
      width: 1em;
      height: 1em;
      color: white;
      opacity: 0;
      transition: opacity 0.2s;
    }

    &:checked {
      background-color: var(--primary);

      &::before {
        opacity: 1;
      }
    }

    &:disabled {
      opacity: 0.65;
      background-color: #eee;
      pointer-events: none;
      cursor: default;

      + label {
        opacity: 0.65;
      }
    }

    + label {
      vertical-align: middle;
      margin-left: 5px;
      font-size: 14px;
    }
  }
}

// Toggle Swtiches
.switch label {
  display: block;
  width: 40px;
  height: 20px;
  border-radius: 100px;
  background-color: rgba(28, 58, 89, 0.1);
  position: relative;
  overflow: hidden;
  text-align: left;
}

.switch label:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #20c8a8;
  opacity: 0;
  border-radius: 100px;
  transition: all 0.2s;
}

.switch label:after {
  content: "";
  height: 20px;
  width: 20px;
  background: linear-gradient(#ffffff 0%, #f0f0f0 90%);
  position: absolute;
  display: inline-block;
  border-radius: 100px;
  right: 0;
  transition: all 0.2s;
  border: 1px solid #ced2d6;
}

.switch input {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.switch input:checked~label:after {
  margin-right: calc(40px - 20px);
}

.switch input:checked~label:before {
  opacity: 1;
}

// Radio Buttons
input[type="radio"]+label {
  margin-left: 5px;
}

input[type="radio"]:focus {
  outline: thin dotted;
  outline: 5px auto #1fc8a7;
  outline-offset: -2px;
}

// Utilities
.w180 {
  width: 180px;
}

.w80 {
  width: 80px;
}

.w100 {
  width: 100px;
}

.mx-wd-800 {
  max-width: 800px;
}

.bd-md-l-0 {
  @include media-breakpoint-down(md){
    border-left: none;
  }
}


// Text Colors
.tx-alt {
  color: $color-pale-sky;
}

// Background Colors
.light-bg {
  background-color: $color-porcelain !important;
}

.medium-bg {
  background-color: darken($color-porcelain, 3%) !important;
}

// Effects
.embossed,
.embossed ::before {
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke-color: rgba(69, 80, 99, 0.02);
  -webkit-text-stroke-width: 1px;
  background-clip: text;
  background-color: #bdc7d0;
  color: transparent;
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.36);
}

// Bootstrap Overrides
.text-success,
.tx-success,
.alert-success {
  color: $color-brand-success;
}

.text-danger,
.tx-danger,
.alert-danger {
  color: $color-brand-danger;
}

.font-weight-semibold {
  font-weight: $font-weight-semibold !important;
}

// Hover.css Overrides
.hvr-float-shadow:active,
.hvr-float-shadow:focus,
.hvr-float-shadow:hover,
.hvr-float:active,
.hvr-float:focus,
.hvr-float:hover {
  transform: translateY(-2px);
}

.hvr-float-shadow:before {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.2) 0%, transparent 80%);
}

.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
  transform: translateY(-1px);
}

// Buttons
button {
  cursor: pointer;
}

.btn {
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.015em;
  outline: none;
  transition: all 0.15s ease;

  &:disabled, &.disabled {
    cursor: default;
    opacity: 0.5;
  }
}

// Button Types
.btn-default {
  background-color: lighten($color-geyser, 10%);
  color: lighten($color-pickled-bluewood, 8%);
  border-color: lighten($color-pickled-bluewood, 8%);

  &:hover {
    background-color: lighten($color-geyser, 8%);
    color: darken($color-pickled-bluewood, 5%);
    border-color: darken($color-pickled-bluewood, 5%);
  }
}

.btn-primary {
  background: linear-gradient(343deg, $color-cerulean 0%, $color-java 100%);
  text-shadow: 0 1px 3px rgba(0, 151, 175, 0.5);
  border: none;
}

.btn-danger {
  border: none;
}

.btn-secondary {
  background: lighten($color-pickled-bluewood, 12%);
  color: white;

  &:disabled:hover {
    background: lighten($color-pickled-bluewood, 12%);
  }

  &:hover {
    background: $color-pickled-bluewood;
  }
}

.btn-alt {
  background: $color-cerulean;
  color: white;

  &:disabled:hover {
    background: $color-cerulean;
  }

  &:hover {
    background: darken($color-cerulean, 5%);
  }
}

.btn-alt-2 {
  background: $color-java;
  color: white;

  &:disabled:hover {
    background: $color-java;
  }

  &:hover {
    background: darken($color-java, 5%);
  }
}

.btn-alt-3 {
  background: $color-brand-danger;
  color: white;

  &:disabled:hover {
    background: $color-brand-danger;
  }

  &:hover {
    background: darken($color-brand-danger, 5%);
  }
}

.btn-outline {
  box-shadow: inset 0 0 0 2px white;
  background: none;
  color: white;
}

.btn-outline:hover {
  color: white;
}

.btn-outline-inverse {
  box-shadow: inset 0 0 0 2px $color-cerulean;
  background: none;
  color: $color-cerulean;
}

.btn-outline-inverse:hover {
  box-shadow: inset 0 0 0 2px darken($color-cerulean, 10%);
  color: darken($color-cerulean, 10%);
}

.btn-outline-inverse:disabled {
  box-shadow: inset 0 0 0 2px $color-cerulean;

  &:hover {
    color: $color-cerulean;
  }
}

.btn-outline-inverse-alt {
  box-shadow: inset 0 0 0 2px lighten($color-oxford-blue, 10%);
  background: none;
  color: $color-oxford-blue;
}

.btn-outline-inverse-alt:hover {
  box-shadow: inset 0 0 0 2px lighten($color-oxford-blue, 10%);
  color: lighten($color-oxford-blue, 10%);
}

.btn-outline-inverse-alt:disabled {
  box-shadow: inset 0 0 0 2px $color-oxford-blue;

  &:hover {
    color: $color-oxford-blue;
  }
}

.btn-link {
  color: $color-cerulean;
  font-family: 'Montserrat';
  font-weight: 500;
}

.btn-link:hover {
  color: darken($color-cerulean, 15%);
  text-decoration: none;
}

.btn-danger {
  background-color: $color-brand-danger;

  &:hover {
    background-color: darken($color-brand-danger, 5%);
  }
}

.icon-btn {
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
  width: 2em;
  height: 2em;
}

.icon-btn-primary {
  color: $color-cerulean;

  &:hover {
    color: darken($color-cerulean, 5%);
  }
}

.close-button {
  @extend .se-icon-circle-x-alt;
  font-size: 2.125rem;
  width: 1em;
  height: 1em;
  background: none;
  border: none;
  color: var(--primary);
}

// Button Sizes
$btn-sm-font-size: 13px;
$btn-sm-padding: 6px 12px;

@mixin btn-sm() {
  padding: 6px 12px !important;
  font-size: 13px !important;
}

.btn {
  padding: 10px 26px;
}

.btn-lg {
  font-size: 16px;
  padding: 15px 35px;
}

.btn-sm {
  padding: 6px 12px;
  font-size: 13px;
}

// Button Groups
.button-group {
  padding: 0;
}

.button-group button {
  margin: 10px;
}

// Badges
.badge {
  text-transform: uppercase;
  font-size: 86%;
}

// Containers
@mixin container-fluid-max-width($max-width: 1230px) {
  @extend .container-fluid;
  max-width: $max-width;
}

.container-fluid-max-width {
  @include container-fluid-max-width;
}

/////////////////////////////////
// Sticky Footer //
/////////////////////////////////

// Apply to entire content wrapper
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: white;
  position: relative;
}

// Apply to main/"middle" content wrapper
.site-content {
  display: block;
  min-height: 100vh;
}


/////////////////////////////////
// List Helpers //
////////////////////////////////
ol.nested {
  counter-reset: item
}

li.nested {
  display: block
}

li.nested:before {
  content: counters(item, ".") ". ";
  counter-increment: item
}

.fa-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#loading-bar-spinner {
  left: 50%;
  top: 50%;
}

#loading-bar-spinner .spinner-icon {
  width: 50px;
  height: 50px;
}

#loading-bar {
  pointer-events: all;
  z-index: 99999;
  border: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: wait;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
}

/////////////////////////////////
// ANIMATION TWEAKS //
////////////////////////////////
@keyframes fadeInDownShort {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDownShort {
  animation-name: fadeInDownShort;
}


/////////////////////////////////
// MAILCHIMP //
////////////////////////////////

/* MailChimp Form Embed Code - Horizontal Super Slim - 12/16/2015 v10.7
Adapted from: http://blog.heyimcat.com/universal-signup-form/ */

#mc_embed_signup form {
  text-align: center;
  padding: 10px 0 10px 0;
}

.mc-field-group {
  display: inline-block;
}

/* positions input field horizontally */
#mc_embed_signup input.email {
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
  font-size: 15px;
  border: 1px solid #ABB0B2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #343434;
  background-color: #fff;
  box-sizing: border-box;
  height: 32px;
  padding: 0px 0.4em;
  display: inline-block;
  margin: 0;
  width: 350px;
  vertical-align: top;
}

#mc_embed_signup label {
  display: block;
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: bold;
}

#mc_embed_signup .clear {
  display: inline-block;
}

/* positions button horizontally in line with input */
#mc_embed_signup .button {
  font-size: 13px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  letter-spacing: .03em;
  color: #fff;
  background-color: #aaa;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
  padding: 0 18px;
  display: inline-block;
  margin: 0;
  transition: all 0.23s 0s;
}

#mc_embed_signup .button:hover {
  background-color: #777;
  cursor: pointer;
}

#mc_embed_signup div#mce-responses {
  float: left;
  top: -1.4em;
  padding: 0em .5em 0em .5em;
  overflow: hidden;
  width: 90%;
  margin: 0 5%;
  clear: both;
}

#mc_embed_signup div.response {
  margin: 1em 0;
  padding: 1em .5em .5em 0;
  font-weight: bold;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 80%;
}

#mc_embed_signup #mce-error-response {
  display: none;
}

#mc_embed_signup #mce-success-response {
  color: #529214;
  display: none;
}

#mc_embed_signup label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
  padding: .5em 0;
}

@media (max-width: 768px) {
  #mc_embed_signup input.email {
    width: 100%;
    margin-bottom: 5px;
  }

  #mc_embed_signup .clear {
    display: block;
    width: 100%
  }

  #mc_embed_signup .button {
    width: 100%;
    margin: 0;
  }
}


/////////////////////////////////
// TIPPY THEME //
////////////////////////////////
.tippy-tooltip.statengine-theme .tippy-backdrop,
.tippy-tooltip.statengine-theme {
  background-color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
  font-size: 13px;
}


/////////////////////////////////
// THEME (BRACKETS) OVERRIDES //
////////////////////////////////

.br-header {
  position: unset;
  top: unset;
  left: unset;
  right: unset;
  z-index: unset;
  box-shadow: none;
  border-bottom: 1px solid lighten($input-border-color, 5%);
}

.br-header-right .nav>div {
  line-height: 0;
}

.br-logo {
  position: unset;
  top: unset;
  left: unset;
  right: unset;
  z-index: unset;
  border: 0;
  background-color: transparent !important;
  padding: 0;
}

.br-sideleft {
  position: unset;
  top: unset;
  right: unset;
  bottom: unset;
  left: unset;
  z-index: unset;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.br-mainpanel {
  margin: 0 !important;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.br-pagebody {
  @include container-fluid-max-width;
  margin: 0 auto;
  padding: 30px 30px 5.5rem !important;

  @include media-breakpoint-down(sm) {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.navicon-left {
  border-right: 1px solid lighten($input-border-color, 5%);
}

.navicon-left a,
.br-header-right a {
  color: lighten($color-pale-sky, 10%);
}

.nav-outline.active-info .nav-link {
  color: $color-pale-sky;

  &:hover,
  &:focus,
  &.active,
  &.active:hover {
    color: darken($color-pickled-bluewood, 10%);
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.collapsed-menu {
  @include media-breakpoint-up(lg) {
    .br-header {
      left: 0;
    }

    .br-menu-link {
      padding: 0 21px;
    }

    .br-sideleft .sidebar-label {
      visibility: hidden;
    }

    .logo-container {
      width: 65px;
    }

    .logo-collapsed {
      opacity: 1;
    }

    .logo-expanded {
      opacity: 0;
    }
  }

  // hide the active sub-menu styling to avoid confusion
  .br-menu-link.show-sub {
    background-color: transparent;
    color: $color-cloudy-sky;
  }

  .navicon-left a {
    transform: rotate(180deg);
  }
}

@include media-breakpoint-down(sm) {
  //.nav-outline.flex-md-row .nav-item {
  //  padding-left: 0;
  //}
  .nav-outline.active-info .nav-link.active::before,
  .nav-outline.active-info .nav-link.active:hover::before,
  .nav-outline.active-info .nav-link.active:focus::before {
    border-bottom: 0;
    position: absolute;
    left: -25px;
    border-left: 3px solid $cyan;
  }
}

@include media-breakpoint-down(xs) {
  .nav-outline.active-info .nav-link.active::before,
  .nav-outline.active-info .nav-link.active:hover::before,
  .nav-outline.active-info .nav-link.active:focus::before {
    left: -15px;
  }
}

.logged-fullname {
  overflow: hidden;
  overflow-wrap: break-word;
}

.br-pageheader {
  background-color: darken($color-porcelain, 5%);
  border-bottom: 1px solid darken($color-porcelain, 10%);
}

.nav {
  align-items: center;
}

// Header Dropdowns
.logged-name {
  font-weight: 500;
  margin-left: 5px;
  position: relative;
}

span+.logged-name {
  top: -2px;
}

.br-header-right .dropdown:last-child .dropdown-menu {
  margin-top: 5px;

  @include media-breakpoint-down(sm) {
    transform: none !important;
  }
}


.br-menu-link {
  color: $color-cloudy-sky;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  padding: 0 25px;

  &.active {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: none;
    box-shadow: inset $color-bondi-blue 3px 0px 0px 0px;
    border-radius: 0;
  }

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.15);
  }

  &.show-sub,
  &.with-sub:active,
  &.with-sub:focus {
    background-color: rgba(0, 0, 0, 0.15);
    color: $color-cloudy-sky;
  }

  &.with-sub::after {
    font-size: 20px;
    color: $color-pale-sky;
  }
}

.br-menu-sub {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 0;
  padding: 0 0 15px 46px;

  .sub-link {
    font-size: 14px;
    font-weight: 500;

    &:hover {
      color: white;
    }
  }
}

.expand-menu {
  @include media-breakpoint-up(lg) {
    .br-sideleft .sidebar-label {
      visibility: visible;
    }
  }
}

.menu-item-label {
  margin-left: 20px;
}

.sidebar-label {
  color: $color-cloudy-sky;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.br-pagetitle {
  @include container-fluid-max-width;

  > div {
    margin-top: 0;
  }
}

@include media-breakpoint-up(sm) {
  .br-pageheader {
    padding: 15px 25px;
  }

  .br-pagetitle {
    display: block;
    padding: 25px 25px 0 25px;
  }

  .br-pagetitle>div {
    padding-left: 0;
  }

  .br-pagebody {
    padding: 0 25px;
  }
}

// Cards
.card {
  border-color: lighten($color-cloudy-sky, 10%);
  line-height: 1.75;

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border: none;
    padding: 1.25rem 0 0;
    margin: 0 1.25rem;
  }

  .card-title {
    margin-bottom: 0;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  .card-option>a {
    color: lighten($color-pale-sky, 23%);
    &:hover {
      color: $color-pickled-bluewood;
    }
  }
}

@mixin dropdown-menu-animation($origin) {
  transform-origin: $origin;

  @keyframes dropdownMenuShow {
    0% {
      opacity: 0;
      transform: scale(0);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  &.show {
    animation: dropdownMenuShow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.dropdown {
  .dropdown-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: $gray-800;
    border: solid 1px $input-border-color;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.25s;
    border-radius: 0.25rem;

    &:hover {
      background: darken(white, 5%);
      color: darken($gray-800, 5%);
    }
  }

  .dropdown-menu {
    padding: 0 !important;
    outline: none;

    .nav {
      align-items: start;

      .nav-link {
        width: 100%;
        padding: 0.75rem 1rem;
        white-space: nowrap;
        display: flex;
        align-items: center;
        cursor: pointer;

        &.active {
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }
  }
}

// Cursor
.cursor-pointer {
  cursor: pointer;
}

// Plotly
.js-plotly-plot .plotly .modebar {
  z-index: 1 !important;
}

// Breadcrumbs
.breadcrumb-item {
  &.active, &[disabled] {
    cursor: auto;
  }

  &[disabled] {
    &:hover {
      color: $gray-600 !important;
    }
  }
}

// Utility
.no-scroll {
  overflow: hidden;
}

.ios-scroll-fix {
  -webkit-overflow-scrolling: touch; // Fix iOS momentum scrolling.
}

// HACK: Fix printing overlap with page headers/footers in Chrome.
@page {
  margin: 5rem 2rem;
}

// HACK: Safari doesn't seem to apply responsive styling in print mode, so we have to force some
// page properties here to make things look right. The crazy media query will detect Safari browsers.
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
    @media print {
      .sidebar-view {
        display: none;
      }

      html, body {
        width: 215.9mm; // Letter Paper width
      }
    }
  }
}

.weather-cube {
  // ==========
  // TODO: Dynamically change background color based on weather summary type
  // ==========

  background: rgb(53, 144, 231);
  background: linear-gradient(149deg, rgba(53, 144, 231, 1) 0%, rgba(54, 187, 214, 1) 100%); // background: rgb(236,115,99);
  // background: linear-gradient(149deg, rgba(236,115,99,1) 0%, rgba(239,200,69,1) 100%);
  // background: rgb(38,46,89);
  // background: linear-gradient(149deg, rgba(38,46,89,1) 0%, rgba(76,78,153,1) 100%);
  // background: rgb(172,99,93);
  // background: linear-gradient(149deg, rgba(172,99,93,1) 0%, rgba(230,186,141,1) 100%);
  border-radius: 3px;
  color: white;
  text-align: center;
  padding: 2rem 2rem .75rem;

  h3 {
    margin: 1rem 0 0 0;
  }
}

.header-white {
  background: white;
  border-bottom: solid 1px $input-border-color;
}

nav.section-nav {
  @include container-fluid-max-width;
  background: white;
  padding: 1rem 0 0;

  .section-nav-links,
  .section-nav-tabs {
    display: flex;
    align-items: start;

    @media print {
      display: none;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    a {
      color: #697983;
      margin: 0 15px;
      padding: 0 10px 0.5rem;
      font-weight: 500;
      border-bottom: solid 3px;
      border-bottom-color: transparent;
      cursor: pointer;

      @include media-breakpoint-down(sm) {
        margin: 0;
        padding: 10px 25px;
        border-bottom: none;
        border-left: solid 3px;
        border-left-color: transparent;
      }

      @include media-breakpoint-down(xs) {
        padding: 10px 15px;
      }

      &:hover,
      &.active {
        color: #202e36;
      }

      &.active {
        border-bottom-color: $cyan;
        border-left-color: $cyan;
      }
    }
  }

  .section-nav-links {
    padding: 1.5rem 25px 0.5rem;
  }
}

.masthead {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(155deg,#002f62,#18496a 50%,#138b89);
  padding: 2rem 1.5rem;
  color: white;
}

.masthead-content {
  max-width: 800px;
  text-align: center;

  > h1 {
    font-weight: 300;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  > p {
    font-size: 1rem;
    margin: 1rem 0 0.5rem;
  }
}

// Overlay Window
.overlay-window {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: white;
  transition: transform 0.5s, opacity 0.5s;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;
  transform: scale(0);
  pointer-events: none;

  &.active {
    opacity: 1;
    transform: scale(1);
    pointer-events: unset;
  }

  .fa-close {
    font-size: 2rem;
    cursor: pointer;
  }

  .overlay-window-header {
    @extend .br-pagetitle;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    border-bottom: solid 1px $input-border-color;

    @include media-breakpoint-down(sm) {
      padding: 25px 15px;
    }

    .overlay-window-header-title {
      @extend .h3;
      flex: 1;
      margin: 0 1rem 0 0;
    }
  }

  .overlay-window-content {
    @extend .br-pagebody;
  }
}

.events-timeline-legend {
  display: flex;
  justify-content: center;
  font-size: 13px;
  margin-bottom: 1rem;

  .events-timeline-legend-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    max-width: 46rem;

    @include media-breakpoint-down(xs) {
      justify-content: start;
    }

    > * {
      margin: 0.25rem 0.5rem;
      white-space: nowrap;

      @include media-breakpoint-down(xs) {
        margin: 0.25rem 0;
        flex: 0 0 50%;
      }

      &::before {
        content: '\25A0';
        font-size: 29px;
        line-height: 0;
        margin-right: 0.4rem;
        position: relative;
        top: 4px;
      }

      &.alarm-answer::before {
        color: $color-celery;
      }

      &.alarm-processing::before {
        color: $color-wisteria;
      }

      &.turnout-time::before {
        color: $color-tulip-tree;
      }

      &.travel-time::before {
        color: $color-di-serria;
      }

      &.intervention-time::before {
        color: $color-pelorous;
      }

      &.cancelled::before {
        color: $color-cranberry;
      }

      &.transport::before {
        color: $color-pickled-bluewood;
      }

      &.post-transport::before {
        color: $color-pale-sky;
      }
    }
  }
}

.required {
  &::after {
    content: ' *';
    color: $color-cranberry;
  }
}

@mixin multiline-ellipsis($line-count, $line-height) {
  display: -webkit-box;
  line-height: $line-height;
  height: $line-height * $line-count;
  line-clamp: $line-count;
  -webkit-line-clamp: $line-count;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}

/////////////////////////////////
// IMPORT COMPONENTS //
////////////////////////////////
// == Styles are injected through gulp ==//
// inject:scss //
@import 'guides/guides';
@import 'main/main';
@import 'spade/spade';
@import 'marketplace/marketplace';
@import 'workspace/workspace';
@import 'statEngine/statEngine';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/navbar/navbar';
@import '../components/sidebar/sidebar';
@import '../components/breadcrumbs/breadcrumbs';
@import '../components/tables/stats-table';
@import '../app/account/login/login';
@import '../app/account/signup/signup';
@import '../app/user/user';
@import '../app/twitter/twitter-home/twitter-home';
@import '../app/admin/admin-home/admin-home';
@import '../app/incident/incident';
@import '../app/report/report';
@import '../app/reporting/reporting';
@import '../app/department-admin/department-admin';
@import '../components/incident/incident';
@import '../components/oauth-buttons/oauth-buttons';
@import '../components/percent-change/percent-change';
@import '../components/bar-gauge/bar-gauge';
@import '../components/loading-spinner/loading-spinner';
@import '../components/loading-overlay/loading-overlay';
@import '../components/table-controls/table-controls';
@import '../components/incidents-table/incidents-table';
@import '../components/reporting-unit-list/reporting-unit-list';
@import '../components/plotly-wrapper/plotly-wrapper';
@import '../components/toggle-switch/toggle-switch';
@import '../components/weather/current-weather';
@import '../components/unsupported-browser/unsupported-browser';
@import '../components/bullet-chart/bullet-chart';
@import '../components/add-dashboards-overlay/add-dashboards-overlay';
@import '../components/view-mode/view-mode';
@import '../components/chip/chip';
@import '../components/dashboard-card/dashboard-card';
// endinject //
