<div class="site-content light-bg">
  <header class="naked mb-2"></header>

  <div class="container shift-calendar">
    <div class="mt-5 row">
      <div class="col-md-12">
        <div class="card light-border">
          <h5 class="card-header"><span><i class="fa fa-calendar">&nbsp;</i></span>Shift Calendar</h5>
          <h2 class="text-center">{{ vm.calendarTitle }}</h2>

          <div class="row">
            <div class="col-sm-12">
              <div class="btn-group justify-content-sm-center">
                <button
                  class="btn btn-alt-2"
                  mwl-date-modifier
                  date="vm.today"
                  decrement="vm.calendarView"
                  ng-click="vm.cellIsOpen = false">
                  Previous
                </button>
                <button
                  class="btn btn-default"
                  mwl-date-modifier
                  date="vm.today"
                  set-to-today
                  ng-click="vm.cellIsOpen = false">
                  Today
                </button>
                <button
                  class="btn btn-alt-2"
                  mwl-date-modifier
                  date="vm.today"
                  increment="vm.calendarView"
                  ng-click="vm.cellIsOpen = false">
                  Next
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-9">
              <ul class="pt-2">
                <li><label> Yesterday ({{ vm.importantShifts.yesterday.text }}): </label> {{ vm.importantShifts.yesterday.shift }} </li>
                <li><strong><label> Today ({{ vm.importantShifts.today.text }}): </label> {{ vm.importantShifts.today.shift }}</strong> </li>
                <li><label> Tomorrow ({{ vm.importantShifts.tomorrow.text }}): </label> {{ vm.importantShifts.tomorrow.shift }} </li>
              </ul>
            </div>

            <div class="col-3">
              <div class="calendar text-right pt-2">
                <span ng-repeat="(key, value) in vm.shiftClasses | orderObjectBy:'name'">
                  <i class="fa fa-square fa-2x" ng-class="value.legendClass"></i> {{ value.name }}
                </span>
                <p class="text-right"> Shifts start at {{ vm.shiftly.shiftStart }}</p>
              </div>
            </div>
          </div>

          <div class="calendar">
            <mwl-calendar
              events="vm.events"
              view="vm.calendarView"
              view-title="vm.calendarTitle"
              view-date="vm.today"
              cell-modifier="vm.cellModifier(calendarCell)">
            </mwl-calendar>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
