.br-mailbox-list {
  left: auto !important;
  width: auto !important;
  z-index: aut !important;
}

.reporting-unit-body {
  margin-left: 220px !important;
}

.progress-bar-step {
  position:absolute;
  margin-top:-20px;
  z-index:1;
  font-size: 12px;
}

.progress-bar-label-txt {
  float: left;
}

.progress-bar-label-line {
  float: right;
  background: #000;
  height:50px;
  width:4px;
  margin-left: 5px;
}

.progress-bar-label-percent {
  float: right;
  margin-left: 5px;
}

.height-65vh {
    height: 65vh;
}

.breadcrumb-item:not(.active) {
    color: #6c757d;
    display: block;
    text-align: right;
}

.ml-50-percent {
  margin-left: 50%;
}

.badge-success {
  color: #25ad46;
  background-color: #94d7a454;
  border: 1px solid #25ad46;
}

.badge-danger {
    color: #dd3241;
    background-color: #dc354536;
    border: 1px solid #dd3241;
}

.badge-icon {
  font-size: .75rem;
}
