<div class="br-pageheader">
  <nav class="breadcrumb pd-0 mg-0 tx-12">
    <a class="breadcrumb-item" href="site.user.home">Home</a>
    <a class="breadcrumb-item" ui-sref="site.workspace.home">Workspaces</a>
    <a class="breadcrumb-item">Manage Workspaces</a>
  </nav>
</div>
<div class="workspace-manage-wrapper">
  <loading-overlay ng-if="vm.isLoading" show-spinner="true"></loading-overlay>
  <section class="workspace-manage">
    <div class="br-pagetitle d-flex justify-content-between align-items-center flex-wrap">
      <h2 class="my-2 mr-3">Manage Workspaces</h2>
      <div>
        <button class="btn btn-outline-inverse-alt mr-2" ui-sref="site.workspace.home">Back to Workspaces</button>
        <button class="btn btn-primary" ui-sref="site.workspace.edit({ id: 'new' })">Create</button>
      </div>
    </div>
    <div class="br-pagebody">
      <h6 class="tx-semibold mt-5" ng-if="!vm.workspaces.length && !vm.isLoading">
        No workspaces available! <a ui-sref="site.workspace.edit({ id: 'new' })" href="#">Create</a> one now.
      </h6>
      <div class="workspace-users-table mb-5" ng-if="vm.workspaces.length > 0">
        <div class="table-row header">
          <div class="cell">
            Name
          </div>
          <div class="cell">
            Description
          </div>
          <div class="cell">
            Owners
          </div>
          <div class="cell">
            # Users
          </div>
          <div class="cell">
            Action
          </div>
        </div>

        <div class="table-row" ng-repeat="workspace in vm.workspaces | orderBy:'name'">
          <div class="cell name" data-title="name">
            <button ng-style="{'background-color': workspace.color }" type="button" class="btn btn-sm"></button>
            {{ workspace.name }}
          </div>
          <div class="cell description" data-title="Description" ng-attr-title="{{ workspace.description }}">
            {{ workspace.description }}
          </div>
          <div class="cell owners" data-title="Owners">
            <div ng-repeat="owner in workspace.owners | orderBy:'email'">
              {{ owner.email }}
            </div>
          </div>
          <div class="cell numUsers" data-title="# Users">
            {{ workspace.users_with_access.length }}
          </div>
          <div
            class="cell action"
            data-title="Action"
            ng-if="!workspace.is_owner && !vm.currentPrincipal.isAdmin">
            <span class="text-danger">Contact an owner to modify</span>
          </div>
          <div
            class="cell action allowed"
            data-title="Action"
            ng-if="workspace.is_owner || vm.currentPrincipal.isAdmin"
          >
            <div class="dropdown d-inline-block">
              <div class="dropdown-button" data-toggle="dropdown">
                <i class="fa fa-angle-down"></i>
              </div>
              <div class="dropdown-menu">
                <nav class="nav nav-style-2 flex-column">
                  <div class="nav-link" ng-click="vm.editWorkspace(workspace)">
                    <i class="fa fa-2x fa-pencil"></i>
                    <span>Edit Workspace</span>
                  </div>
                  <div class="nav-link" ng-click="vm.editWorkspaceUsers(workspace)">
                    <i class="fa fa-2x fa-users" style="font-size: 16px;"></i>
                    <span>Edit Access</span>
                  </div>
                  <div class="nav-link" ng-click="vm.deleteWorkspace(workspace)" ng-if="workspace.slug !== 'default'">
                    <i class="fa fa-2x fa-times-circle"></i>
                    <span>Delete Workspace</span>
                  </div>
                </nav>
              </div><!-- dropdown-menu -->
            </div><!-- dropdown -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
