<div class="container">
  <div class="d-flex align-items-center">

    <!-- Logo/Branding -->

    <!-- Unauthenticated -->
    <a ng-if="!vm.PrincipalService.isAuthenticated()" ui-sref="site.main.main" href="#" class="branding mx-3" ></a>

    <!-- Authenticated -->
    <a ng-if="vm.PrincipalService.isAuthenticated()" ui-sref="site.user.home" href="#" class="branding symbol mx-3"></a>

    <!-- Navigation Links -->
    <div id="navbar-links">
      <!-- Unauthenticated -->
      <div ng-if="!vm.PrincipalService.isAuthenticated()">
        <ul class="mb-0">
          <li class="with-dropdown">
            <a href="#" ng-click="vm.showProductsDropdown()">Products</a>
            <div class="dropdown animated fadeInDownShort" ng-class="{'open': vm.isProductsDropdownOpen}">
              <ul>
                <li><a href="/statEngine">StatEngine</a></li>
                <li><a href="/spade">Spade</a></li>
              </ul>
             </div>
           </li>
          <li class="with-dropdown">
            <a href="#" ng-click="vm.showCompanyDropdown()">Company</a>
            <div class="dropdown animated fadeInDownShort" ng-class="{'open': vm.isCompanyDropdownOpen}">
              <ul>
                <li><a href="#" ui-sref="site.main.about" class="nav-link">About us</a></li>
                <li><a href="https://medium.com/statengine" target="_blank" class="nav-link">Blog</a></li>
                <li><a href="#" ui-sref="site.main.funding" class="nav-link">Funding</a></li>
                <li><a href="#" ui-sref="site.main.partners" class="nav-link">Partners</a></li>
                <li><a href="mailto:{{vm.appConfig.contact_email}}" target="_blank" class="nav-link">Contact us</a></li>
              </ul>
             </div>
           </li>
          <li>
        </ul>
      </div>

      <!-- Authenticated -->
      <div ng-if="vm.PrincipalService.isAuthenticated()">
        <ul class="mb-0">
           <li><a href="site.user.home">Control Center</a></li>
           <li ng-if="vm.currentPrincipal.fire_department__id" class="with-dropdown"> <a class="" href="#" ng-click="vm.showAppsDropdown()">Apps</a>
             <div class="dropdown animated fadeInDownShort" ng-class="{'open': vm.isAppsDropdownOpen}">
               <ul>
                 <li><a href="#" ng-click="vm.dashboard('navbar-dropdown')">Dashboard</a></li>
                 <li ng-if="!vm.appConfig.on_premise"><a href="#" ng-click="vm.goto('site.twitter.home','Twitter')">Twitter</a></li>
                 <li ng-if="!vm.appConfig.on_premise"><a href="#" ng-click="vm.goto('site.report.today','Reporting')">Reporting</a></li>
                 <li><a href="#" ng-click="vm.goto('site.incident.search','Incident Analysis')">Incident Analysis</a></li>
               </ul>
               <!-- <div class="footer"> An optional footer </div> -->
             </div>
           </li>
           <li ng-if="!vm.appConfig.on_premise"><a href="/marketplace/home">Marketplace</a></li>
           <!--<li><a href="/data-quality">Installation</a></li>-->
           <li ng-if="vm.currentPrincipal.isAdmin"><a href="/admin">Admin</a></li>
           <li ng-if="vm.currentPrincipal.isDepartmentAdmin && !vm.currentPrincipal.isAdmin"><a href="/departmentAdmin">Admin</a></li>
        </ul>
      </div>
    </div>

    <!-- Secondary Nav -->
    <div id="navbar-button" class="mx-3">

      <!-- Unauthenticated -->
      <div ng-if="!vm.PrincipalService.isAuthenticated()">
        <button id='navbar-links-sign-in' class="btn btn-link btn-sm btn-oblong" ui-sref="site.account.login">Sign In</button>
        <button id='navbar-links-sign-up' class="btn btn-outline btn-sm btn-oblong hvr-float w100" ui-sref="site.account.signup">Sign Up</button>
      </div>

      <!-- Authenticated -->
      <div ng-if="vm.PrincipalService.isAuthenticated()">
        <ul class="secondary-nav">
          <li><a href="" ng-click="vm.dashboard('navbar-icon')" class="se-icon-dashboard"></a></li>
          <li><a href="https://statengine.github.io/se-documentation/" target="_blank" class="se-icon-help"></a></li>
          <li class="with-dropdown"><a href="" ng-click="vm.showUserDropdown()" class="se-icon-user"></a>
            <div class="settings dropdown animated fadeInDownShort" ng-class="{'open': vm.isUserDropdownOpen}">
              <ul>
                <li><a href="#" ng-click="vm.goto('site.user.settings')">Settings</a></li>
                <li><a href="#" ng-click="vm.logout()">Sign Out</a></li>
              </ul>
              <!-- <div class="footer"> An optional footer </div> -->
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="hamburger">
      <a ng-click="vm.showMobileNav()" span class="fa fa-2x fa-bars"></span></a>
    </div>

    <div class="mobile-nav">
      <div class="mobile-nav-overlay"></div>

      <div class="mobile-nav-sidebar">
        <div class="fa fa-close" ng-click="vm.hideMobileNav()"></div>

        <ul ng-if="!vm.PrincipalService.isAuthenticated()">
          <li><a class="btn btn-primary btn-oblong hvr-float" ui-sref="site.account.login">Sign In</a></li>
          <li><a class="btn btn-outline btn-oblong hvr-float" ui-sref="site.account.signup">Sign Up</a></li>
        </ul>

        <ul ng-if="vm.PrincipalService.isAuthenticated()">
          <li><a href="site.user.home">Control Center</a></li>
          <li><a href="#" ng-click="vm.dashboard('navbar-dropdown')">Dashboard</a></li>
          <li ng-if="!vm.appConfig.on_premise"><a href="#" ng-click="vm.goto('site.twitter.home','Twitter')">Twitter</a></li>
          <li ng-if="!vm.appConfig.on_premise"><a href="#" ng-click="vm.goto('site.report.today','Reporting')">Reporting</a></li>
          <li><a href="#" ng-click="vm.goto('site.incident.search','Incident Analysis')">Incident Analysis</a></li>
          <li ng-if="!vm.appConfig.on_premise"><a href="/marketplace/home">App Marketplace</a></li>
          <li><a class="btn btn-outline btn-sm" ng-click="vm.logout()">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
