/////////////////////////////////
// NAVBAR //
////////////////////////////////
navbar {
  animation-duration: 0.5s;
  color: white;
  font-family: Montserrat-medium;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.05rem;
  overflow: hidden;
  position: absolute;
  top: 2rem;
  width: 100%;
  z-index: 1;
}

navbar div {
  align-items: center;
}

navbar a {
  margin: 0 20px;
  cursor: pointer;
  color: white;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    color: white;
    text-decoration: none;
  }
}

navbar .btn {
  font-size: 14px;
}

navbar .btn-outline {
  padding: 6px 22px;
}

navbar .btn-link {
  color: white;
}

navbar img {
  height: 48px;
  max-width: 158px;
}

navbar div#navbar-burger {
  display: none;
}
@media (max-width: 750px) {
  navbar div#navbar-button,
  navbar div#navbar-links {
    display: none;
  }

  navbar div#navbar-burger {
    display: block;
  }

  navbar div#navbar-burger img {
    width: 20px;
    height: 20px;
  }
}
