/////////////////////////////////
// NAVBAR //
////////////////////////////////
navbar {
  animation-duration: 0.5s;
  color: white;
  font-family: Montserrat-medium;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.05rem;
  overflow: hidden;
  position: absolute;
  top: 2rem;
  width: 100%;
  z-index: 1;
}

navbar .branding {
  display: inline-block;
  background: url("../assets/images/branding.svg") no-repeat;
  height: 42px;
  min-width: 155px;
}

navbar div {
  align-items: center;
}

#navbar-links a {
  cursor: pointer;
  color: white;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    color: white;
    text-decoration: none;
  }
}

navbar .btn {
  font-size: 14px;
}

navbar .btn-link {
  color: white;
  &:hover {
    color: white;
  }
}

navbar img {
  height: 48px;
  max-width: 158px;
}

navbar div#navbar-burger {
  display: none;
}

@media (min-width: 992px) {
  navbar div#navbar-links {
    padding-left: 5rem;
  }
}

@media (max-width: 768px) {
  navbar div#navbar-button,
  navbar div#navbar-links {
    display: none;
  }

  navbar div#navbar-burger {
    display: block;
  }

  navbar div#navbar-burger img {
    width: 20px;
    height: 20px;
  }
}

// Naked Variant
navbar.naked {
  .branding {
    background-image: url("../assets/images/branding-alt.svg");
  }

  #navbar-links a, .btn, .btn-outline {
    color: $color-oxford-blue;
  }

  .btn-outline {
    @extend .btn-outline-inverse-alt;
  }
}
