.bar-gauge-wrapper {
  position: relative;
}

.low {
  background-color: $success;
}

.medium {
  background-color: #ffc200;
}

.high {
  background-color: $red;
}

.meter {
  margin-bottom: 1rem;

  .blocks {
    display: flex;
    height: 5px;
    width: 100%;
    position: relative;

    > div {
      @extend .medium;
      flex: 1;
      margin: 0 1px;
      height: 100%;

      &:first-child {
        @extend .rounded-left;
        @extend .low;
        margin-left: 0;

      }

      &:last-child {
        @extend .rounded-right;
        @extend .high;
        margin-right: 0;

      }
    }
  }

  .labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    color: #a6a6a6;
    padding-top: 5px;
    text-transform: uppercase;

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  .needle-group {
    padding: 0 5px 2px;

    .needle-container {
      display: inline-block;
      position: relative;
      transform: translateX(-50%);

      .needle-text {
        @extend .rounded;
        padding: 2px 5px;
        background-color: #192d42;
        font-size: 12px;
        color: #abbecb;
        font-weight: bold;
        white-space: nowrap;

        @include media-breakpoint-down(xs) {
          font-size: 11px;
        }
      }

      .needle {
        width: 0;
        height: 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #192d42;
      }
    }
  }
}

.description {
  font-size: 12px;
  top: 37px;
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
}
