<div class="bar-gauge-wrapper" ng-cloak>
  <div class="meter">
    <div class="needle-group">
      <div class="needle-container" ng-style="vm.needleContainerStyle">
        <div class="needle-text" ng-style="vm.needleTextStyle">
          {{ vm.isDuration ? (vm.value|humanizeDuration:true) : (vm.value|number:0) }}
          <span class="text-uppercase">is {{ vm.category }}</span>
        </div>
        <div class="needle"></div>
      </div>
    </div>

    <div class="blocks">
      <div
        ng-repeat="blockStyle in vm.blockStyles"
        ng-style="blockStyle"
      ></div>
    </div>

    <div class="labels">
      <div>{{vm.minLabel || 'Low'}}</div>
      <div>TYPICAL</div>
      <div>{{vm.maxLabel || 'High'}}</div>
    </div>
  </div>

  <div class="description">
    <div><div class="dot low"></div> <span class="pl-1 font-weight-bold">{{vm.minLabel || 'Low'}}</span>: {{vm.isDuration ? (vm.lowValue|humanizeDuration:true) : vm.lowValue}} or less</div>
    <div><div class="dot medium"></div> <span class="pl-1 font-weight-bold">Typical</span>: {{vm.isDuration ? (vm.midRange[0]|humanizeDuration:true) : vm.midRange[0]}} to {{vm.isDuration ? (vm.midRange[1]|humanizeDuration:true): vm.midRange[1]}}</div>
    <div><div class="dot high"></div> <span class="pl-1 font-weight-bold">{{vm.maxLabel || 'High'}}</span>: {{vm.isDuration ? (vm.highValue|humanizeDuration:true) : vm.highValue}} or more</div>
  </div>
</div>
