.user-home {
  .list-group-item {
    border: none !important;
    padding: .2rem;
  }

  header {
    background: transparent;
    height: auto;
    section {
      text-align: left;
      p {
        font-size: 15px;
        color: #334A56;
        text-align: left;
        padding-bottom: 0;
        margin: 0;
      }
    }
    hr {
      width: 97.8%;
      margin: 4rem auto;
    }
  }

  .incident-map {
    height: 500px !important;
    min-height: 500px !important;
  }

  .avatar {
    background: lighten($color-geyser,8%);
    padding: 2.5rem;
    border-radius: 999rem;
    border: 1px solid $color-geyser;
    font-size: 3.5rem;
  }

  .welcome-message {
    min-width: 410px;
    @include media-breakpoint-down(xs) {
      min-width: auto;
      h3 > span {
        display: block;
        margin: 0.25rem 0 1rem;
      }
      p {
        font-size: 16px;
      }
    }
  }

  .actions {
    min-width: 556px;
    text-align: right;
    a {
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      &:hover img {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
      }
      &:last-child {
        img {
          margin-right: 0;
        }
      }
    }
    img {
      display: flex;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px transparent;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
      width: auto;
      margin: 0 1.5rem 1rem;
      max-width: 5rem;
    }
    @media (max-width: 1208px) {
      margin-top: 2rem;
      text-align: left;
      a:first-child {
        img {
          margin-left: 0;
        }
        span {
          margin-left: -22px;
        }
      }
    }
    @include media-breakpoint-down(xs) {
      display: block;
      margin-top: 2rem;
      min-width: auto;
      text-align: left;
      a {
        display: inline-block;
        margin-bottom: 1.5rem;
        &:first-child span{
          margin-left: 0;
        }
        &:last-child {
          img {
            margin-right: 1rem;
          }
          span {
            margin-right: 0;
          }
        }
      }
      img {
        display: inline-block;
        margin: 0 1rem 0 0;
      }
      span {
        margin: 0 2.5rem 0 0;
        font-size: 18px;
      }
    }
  }

  .summary-profile, .summary-department {
    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  .integrations-container {
    .card {
      margin: 0 2rem 2rem 0;
      max-width: 280px;
      min-width: 280px;
      @include media-breakpoint-down(xs) {
        max-width: none;
      }
      .switch {
        position: absolute;
        top: 1rem;
        left: 1rem;
      }
      span, h5, p {
        text-align: center;
      }

      &.disabled {
        background-color: #E7ECF2;
        color: #737e89;
      }
    }

    .cta h4 {
      line-height: 1.5;
    }
  }

  .data-quality-analysis {
    h3 .badge {
      margin-left: 1rem;
    }
  }

  .badge-danger {
    background-color: $color-brand-danger;
  }

  .badge-primary {
    background-color: #5bc0de;
  }

  .badge-success {
    background-color: #28a745;
  }

  .badge-warning {
    background-color: #ffc107;
  }

  .br-pagebody {
    margin-top: 15px;
    padding: 0 10px;
  }

  .overview {
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }

    .card {
      margin: 15px;

      @include media-breakpoint-down(xs) {
        margin: 5px;
      }
    }

    .yesterday {
      flex: 1 0.6 600px;

      @include media-breakpoint-down(md) {
        flex: 1;
      }
    }

    .today {
      flex: 1 0.4 400px;

      @include media-breakpoint-down(md) {
        flex: 1;
      }
    }
  }

  .units-table {
    $max-width: 768px;
    @include table($max-width, $vertical-borders: true);

    .cell {
      padding: 0.8rem !important;
      font-size: 0.875rem;
      font-weight: 500;
      vertical-align: middle;
    }

    .header {
      .cell {
        font-size: 10px !important;
        font-weight: $font-weight-bold;
      }
    }

    .bullet-chart-cell {
      @include media-breakpoint-up(lg) {
        width: 30%;
      }
    }
  }

  .weather-cube {
    height: 180px;
  }
}

// Fine Tuning Actions
body:not(.collapsed-menu) .actions {
  @media (max-width: 1245px) {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    margin-top: 2rem;
    a:first-child {
      img {
        margin-left: 0;
      }
      span {
        margin-left: -22px;
      }
    }
  }
  @include media-breakpoint-down(xs) {
    display: inline-block;
    a:first-child {
      span {
        margin-left: 0;
      }
    }
  }
}
body.collapsed-menu .actions {
  @media (min-width: 1050.5px) and (max-width: 1245px) {
    margin-top: 0;
    text-align: right;
  }
}
