.user-home {
  header {
    background-image: linear-gradient(#002955 0%, #18466a 90%), url('../assets/images/user-home-bg.png');
    background-blend-mode: hard-light;
    background-position: center;
    background-size: cover;
  }

  header section p {
    font-size: 15px;
    a {
      color: lighten($color-cerulean,5%);
    }
  }

  .welcome-text {
    color: white;
    h1.subheader {
      color: lighten($color-bondi-blue,12%);
      font-weight: 200;
    }
  }

  .avatar {
    background: lighten($color-geyser,8%);
    padding: 2.5rem;
    border-radius: 999rem;
    border: 1px solid $color-geyser;
    font-size: 3.5rem;
  }

  .summary-profile, .summary-department {
    text-align: center;
    h4 {
      border-bottom: 1px solid $color-geyser;
      padding: 2rem 0;
      margin-bottom: 2.5rem;
    }
    dl {
      text-align: left;
      dt {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: .5rem;
        opacity: .4;
      }
      dd {
        margin-bottom: 3rem;
      }
    }
  }

  .integrations-container {
    .card {
      margin: 0 2rem 2rem 0;
      max-width: 280px;
      min-width: 280px;
      @media (max-width: 575.99px) {
        max-width: none;
      }
      .switch {
        position: absolute;
        top: 1rem;
        left: 1rem;
      }
      span, h5, p {
        text-align: center;
      }

      &.disabled {
        background-color: #E7ECF2;
        color: #737e89;
      }
    }

    .cta h4 {
      line-height: 1.5;
    }
  }
  .card {
    background-color: #fbfcfd;
    border: 1px solid #ced2d6;
    border-radius: 5px;
    padding: 2rem;
  }

  .data-quality-analysis {
    h3 .badge {
      margin-left: 1rem;
    }
  }

  .badge-danger {
    background-color: $color-brand-danger;
  }

  .badge-success {
    background-color: #28a745;
  }

  .badge-warning {
    background-color: #ffc107;
  }
}
