<div class="user-home">
  <navbar class="animated fadeInDown"></navbar>
  <header class="slim">
    <section class="container m-auto pt-5">
      <div class="row">
        <div class="welcome-text col-12">
          <span> {{vm.greeting }}, </span>
          <h1 class="subheader"> {{ vm.principal.first_name }} {{ vm.principal.last_name }}</h1>
          <!--<p>Its been <strong>2 days</strong> since your last sign in and there is nothing new to report. --->
          <p> Your data quality score is <strong> {{ vm.dataQuality.grade | lowercase }}</strong> - <a id='user-home-data-quality' ng-click="vm.scrollTo('#data-quality-analysis')" href="#data-quality-analysis">learn why</a>.</p>
        </div>
        <div class="col-12 py-2 button-group">
          <button id='user-home-dashboard' class="btn btn-primary" ng-click="vm.dashboard()"">Dashboard</button>
        </div>
      </div>
    </section>
  </header>
  <section class="container py-5 overview">
    <div class="row">
      <div class="col-sm-5 summary-profile">
        <span class="avatar glyphicon glyphicon-user" aria-hidden="true"></span>
        <h4 class="heavyheader">My Profile Summary</h4>
        <dl class="row">
          <div class="col">
            <dt>First Name</dt>
            <dd> {{ vm.principal.first_name }}</dd>

            <dt>Last Name</dt>
            <dd> {{ vm.principal.last_name }}</dd>
          </div>
          <div class="col">
            <dt>Email</dt>
            <dd> {{ vm.principal.email }}</dd>

            <dt>Roles</dt>
            <dd> {{ vm.principal.roles.join(", ") }}</dd>
          </div>
        </dl>
        <h4 class="heavyheader">Getting Started</h4>
        <div class="row">
          <ul class="statengine text-left">
            <li>
              Assigned Fire Department
              <i ng-if="vm.principal.fire_department__id" class="fa fa-check-circle text-success"></i>
              <i ng-if="!vm.principal.fire_department__id" class="fa fa-times-circle text-danger"></i>
            </li>
            <li>
              Dashboard Access
              <i ng-if="vm.principal.roles.indexOf('kibana_admin') > -1" class="fa fa fa-check-circle text-success"></i>
              <i ng-if="vm.principal.roles.indexOf('kibana_admin') < 0" class="fa fa fa-times-circle text-danger"></i>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-5 col-sm-offset-2 summary-department">
        <span class="avatar glyphicon glyphicon-user" aria-hidden="true"></span>
        <h4 class="heavyheader">My Department Summary</h4>
        <dl class="row">
          <div class="col">
            <dt>FDID</dt>
            <dd>{{ vm.fireDepartment.fd_id }}</dd>

            <dt>Name</dt>
            <dd>{{ vm.fireDepartment.name }}</dd>

            <dt>Timezone</dt>
            <dd>{{ vm.fireDepartment.timezone }}</dd>
          </div>
          <div class="col">
            <dt>Firecares ID</dt>
            <dd>{{ vm.fireDepartment.firecares_id }}</dd>

            <dt>State</dt>
            <dd>{{ vm.fireDepartment.state }}</dd>
          </div>
        </dl>
      </div>
    </div>
  </section>
  <!--
  <section class="fluid-container py-5 bg-light-gray integrations-container">
    <div class="container">
      <h3 class="mb-5">Installed Integrations</h3>
      <div class="row">
        <div class="col d-flex flex-wrap text-center">
          <div class="card col" ng-class="{'disabled' : toggle }">
            <div class="switch">
              <input type="checkbox" id="toggle" ng-click="toggle = ! toggle" checked>
              <label for="toggle"></label>
            </div>
            <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
            <h5 class="heavyheader">Some Header Here</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere mollitia repellat modi a hic. Natus maiores dolores similique sit, eius quas veritatis distinctio voluptatem.</p>
          </div>
          <div class="card col" ng-class="{'disabled' : toggle2 }">
            <div class="switch">
              <input type="checkbox" id="toggle-2" ng-click="toggle2 = ! toggle2" checked>
              <label for="toggle-2"></label>
            </div>
            <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
            <h5 class="heavyheader">Some Header Here</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere mollitia repellat modi a hic. Natus maiores dolores similique sit, eius quas veritatis distinctio voluptatem.</p>
          </div>
          <div class="card col" ng-class="{'disabled' : toggle3 }">
            <div class="switch">
              <input type="checkbox" id="toggle-3" ng-click="toggle3 = ! toggle3" checked>
              <label for="toggle-3"></label>
            </div>
            <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
            <h5 class="heavyheader">Some Header Here</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere mollitia repellat modi a hic. Natus maiores dolores similique sit, eius quas veritatis distinctio voluptatem.</p>
          </div>
          <div class="card col" ng-class="{'disabled' : toggle4 }">
            <div class="switch">
              <input type="checkbox" id="toggle-4" ng-click="toggle4 = ! toggle4" checked>
              <label for="toggle-4"></label>
            </div>
            <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
            <h5 class="heavyheader">Some Header Here</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere mollitia repellat modi a hic. Natus maiores dolores similique sit, eius quas veritatis distinctio voluptatem.</p>
          </div>
          <div class="card col" ng-class="{'disabled' : toggle5 }">
            <div class="switch">
              <input type="checkbox" id="toggle-5" ng-click="toggle5 = ! toggle5" checked>
              <label for="toggle-5"></label>
            </div>
            <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
            <h5 class="heavyheader">Some Header Here</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere mollitia repellat modi a hic. Natus maiores dolores similique sit, eius quas veritatis distinctio voluptatem.</p>
          </div>
          <div class="card col" ng-class="{'disabled' : toggle6 }">
            <div class="switch">
              <input type="checkbox" id="toggle-6" ng-click="toggle6 = ! toggle6" checked>
              <label for="toggle-6"></label>
            </div>
            <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
            <h5 class="heavyheader">Some Header Here</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere mollitia repellat modi a hic. Natus maiores dolores similique sit, eius quas veritatis distinctio voluptatem.</p>
          </div>
          <div class="card col" ng-class="{'disabled' : toggle7 }">
            <div class="switch">
              <input type="checkbox" id="toggle-7" ng-click="toggle7 = ! toggle7" checked>
              <label for="toggle-7"></label>
            </div>
            <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
            <h5 class="heavyheader">Some Header Here</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere mollitia repellat modi a hic. Natus maiores dolores similique sit, eius quas veritatis distinctio voluptatem.</p>
          </div>
          <div class="card col" ng-class="{'disabled' : toggle8 }">
            <div class="switch">
              <input type="checkbox" id="toggle-8" ng-click="toggle8 = ! toggle8" checked>
              <label for="toggle-8"></label>
            </div>
            <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
            <h5 class="heavyheader">Some Header Here</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere mollitia repellat modi a hic. Natus maiores dolores similique sit, eius quas veritatis distinctio voluptatem.</p>
          </div>
        </div>
      </div>
      <div class="py-5 text-center cta">
        <h4 class="pb-5">Our extensible plugin architecture allows you to easily boost the StatEngine platform to meet all your needs.</h4>
        <button class="btn btn-outline-inverse mb-4 hvr-float">View All Integrations on the Marketplace</button>
      </div>
    </div>
  </section>

  -->
  <section id="data-quality-analysis" class="fluid-container py-5 data-quality-analysis">
    <div class="container">
      <h3 class="mb-2" >Data Quality Analysis <span ng-class="{'badge-danger': vm.dataQuality.grade == 'POOR', 'badge-success': vm.dataQuality.grade == 'GOOD', 'badge-warning': vm.dataQuality.grade == 'NEEDS ATTENTION'}" class="badge">{{vm.dataQuality.grade}}</span></h3>
      <div class="row">
        <div class="col-md-8">
          <p>The quality and accuracy of your organization's data is critical in getting the most value from the StatEngine platform.  Use this table to keep an eye on things so that your data stays in tip top shape.</p>
        </div>
        <div class="col-12 py-4">
          <div class="table mb-5">
            <div class="table-row header">
              <div class="cell">
                Rule Check
              </div>
              <div class="cell">
                Violations
              </div>
              <div class="cell">
                Percentage
              </div>
              <div class="cell">
                Required Action
              </div>
            </div>

            <div class="table-row" ng-repeat="result in vm.dataQuality.results">
              <div class="cell" data-title="Rule Check">
                {{result.rule}}
              </div>
              <div class="cell" data-title="Violations">
                {{result.violations|number:0}}
              </div>
              <div class="cell" data-title="Percentage">
                {{result.percentViolation|number}}%
               </div>
               <div class="cell" data-title="Required Action">
                {{result.requiredAction}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer id="footer"></footer>
</div>
