<div class="user-home">
  <navbar class="animated fadeInDown dark-bg"></navbar>
  <header class="extra-slim">
    <section class="container m-auto">
      <div class="row">
        <div class="col-lg-7 welcome-text my-auto">
          <h2> {{vm.greeting }}, {{ vm.principal.first_name }} {{ vm.principal.last_name }} !</h2>
          <!--<p>Marketplace now in Beta - check it out <a ui-sref='site.marketplace.home'>here</a></p>-->
          <!--<p ng-if="vm.tweetCount > 0">You have <strong>{{ vm.tweetCount }}</strong> recommened tweets - check them out <a ui-sref='site.twitter.home'>here</a></p>-->

          <!--<p>Its been <strong>2 days</strong> since your last sign in and there is nothing new to report. --->

          <!--<p ng-if="vm.dataQuality.grade" class="animated fadeIn"> Your data quality score is <strong> {{ vm.dataQuality.grade | lowercase }}</strong> - <a id='user-home-data-quality' ng-click="vm.scrollTo('#data-quality-analysis')" href="#">learn why</a>.</p>-->
        </div>
        <div class="col-lg-5 actions">
          <a href="">
            <img src="/assets/images/actions-reports.svg"/>
            <span>Daily Reports</span>
          </a>
          <a href="">
            <img src="/assets/images/actions-twitter.svg"/>
            <span>Twitter App</span>
          </a>
          <a href="">
            <img src="/assets/images/actions-big-board.svg"/>
            <span>Big Board</span>
          </a>
          <!-- <button ng-if="vm.principal.roles.indexOf('kibana_admin') > -1" id='user-home-dashboard' class="btn btn-primary" ng-click="vm.dashboard()">Dashboard</button>
          <button ng-if="vm.principal.roles.indexOf('kibana_admin') < 0" id='user-home-getting-started' class="btn btn-primary" ng-click="vm.scrollTo('#getting-started')">Get Started</button> -->
        </div>
        <hr>
      </div>
    </section>
  </header>
  <section class="container py-2 overview">
    <div class="row">
      <div class="col-md-6 summary-profile">
        <!-- <span class="avatar glyphicon glyphicon-user" aria-hidden="true"></span> -->
        <div class="card">
          <h4 class="heavyheader">My Profile Summary</h4>
          <dl class="row">
            <div class="col">
              <dt>First Name</dt>
              <dd> {{ vm.principal.first_name }}</dd>

              <dt>Last Name</dt>
              <dd> {{ vm.principal.last_name }}</dd>
            </div>
            <div class="col">
              <dt>Email</dt>
              <dd> {{ vm.principal.email }}</dd>

              <dt>Roles</dt>
              <dd> {{ vm.principal.roles.join(", ") }}</dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="col-md-6 summary-department">
        <!-- <span class="avatar glyphicon glyphicon-user" aria-hidden="true"></span> -->
        <div class="card">
          <h4 class="heavyheader">My Department Summary</h4>
          <dl class="row">
            <div class="col">
              <dt>FDID</dt>
              <dd>{{ vm.fireDepartment.fd_id }}</dd>

              <dt>Name</dt>
              <dd>{{ vm.fireDepartment.name }}</dd>

              <dt>Timezone</dt>
              <dd>{{ vm.fireDepartment.timezone }}</dd>
            </div>
            <div class="col">
              <dt>Firecares ID</dt>
              <dd>{{ vm.fireDepartment.firecares_id }}</dd>

              <dt>State</dt>
              <dd>{{ vm.fireDepartment.state }}</dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </section>
  <!--
  <section class="fluid-container py-5 bg-light-gray integrations-container">
    <div class="container">
      <h3 class="mb-5">Installed Integrations</h3>
      <div class="row">
        <div class="col d-flex flex-wrap text-center">
          <div class="card col" ng-class="{'disabled' : toggle }">
            <div class="switch">
              <input type="checkbox" id="toggle" ng-click="toggle = ! toggle" checked>
              <label for="toggle"></label>
            </div>
            <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
            <h5 class="heavyheader">Some Header Here</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere mollitia repellat modi a hic. Natus maiores dolores similique sit, eius quas veritatis distinctio voluptatem.</p>
          </div>
          <div class="card col" ng-class="{'disabled' : toggle2 }">
            <div class="switch">
              <input type="checkbox" id="toggle-2" ng-click="toggle2 = ! toggle2" checked>
              <label for="toggle-2"></label>
            </div>
            <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
            <h5 class="heavyheader">Some Header Here</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere mollitia repellat modi a hic. Natus maiores dolores similique sit, eius quas veritatis distinctio voluptatem.</p>
          </div>
          <div class="card col" ng-class="{'disabled' : toggle3 }">
            <div class="switch">
              <input type="checkbox" id="toggle-3" ng-click="toggle3 = ! toggle3" checked>
              <label for="toggle-3"></label>
            </div>
            <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
            <h5 class="heavyheader">Some Header Here</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere mollitia repellat modi a hic. Natus maiores dolores similique sit, eius quas veritatis distinctio voluptatem.</p>
          </div>
          <div class="card col" ng-class="{'disabled' : toggle4 }">
            <div class="switch">
              <input type="checkbox" id="toggle-4" ng-click="toggle4 = ! toggle4" checked>
              <label for="toggle-4"></label>
            </div>
            <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
            <h5 class="heavyheader">Some Header Here</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere mollitia repellat modi a hic. Natus maiores dolores similique sit, eius quas veritatis distinctio voluptatem.</p>
          </div>
          <div class="card col" ng-class="{'disabled' : toggle5 }">
            <div class="switch">
              <input type="checkbox" id="toggle-5" ng-click="toggle5 = ! toggle5" checked>
              <label for="toggle-5"></label>
            </div>
            <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
            <h5 class="heavyheader">Some Header Here</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere mollitia repellat modi a hic. Natus maiores dolores similique sit, eius quas veritatis distinctio voluptatem.</p>
          </div>
          <div class="card col" ng-class="{'disabled' : toggle6 }">
            <div class="switch">
              <input type="checkbox" id="toggle-6" ng-click="toggle6 = ! toggle6" checked>
              <label for="toggle-6"></label>
            </div>
            <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
            <h5 class="heavyheader">Some Header Here</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere mollitia repellat modi a hic. Natus maiores dolores similique sit, eius quas veritatis distinctio voluptatem.</p>
          </div>
          <div class="card col" ng-class="{'disabled' : toggle7 }">
            <div class="switch">
              <input type="checkbox" id="toggle-7" ng-click="toggle7 = ! toggle7" checked>
              <label for="toggle-7"></label>
            </div>
            <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
            <h5 class="heavyheader">Some Header Here</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere mollitia repellat modi a hic. Natus maiores dolores similique sit, eius quas veritatis distinctio voluptatem.</p>
          </div>
          <div class="card col" ng-class="{'disabled' : toggle8 }">
            <div class="switch">
              <input type="checkbox" id="toggle-8" ng-click="toggle8 = ! toggle8" checked>
              <label for="toggle-8"></label>
            </div>
            <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
            <h5 class="heavyheader">Some Header Here</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere mollitia repellat modi a hic. Natus maiores dolores similique sit, eius quas veritatis distinctio voluptatem.</p>
          </div>
        </div>
      </div>
      <div class="py-5 text-center cta">
        <h4 class="pb-5">Our extensible plugin architecture allows you to easily boost the StatEngine platform to meet all your needs.</h4>
        <button class="btn btn-outline-inverse mb-4 hvr-float">View All Integrations on the Marketplace</button>
      </div>
    </div>
  </section>

  -->
</div>
