<div class="site-content department-admin-home ">
  <header class="naked mb-2"></header>
  <div class="container">
    <div class="row text-center" ng-if="!vm.authorized">
      <div class="col-md-8 col-md-offset-2 mt-5">
        <!-- Integration Info & Description -->
        <div class="extension-logo pb-3">
          <img src="../assets/images/NFPA-logo.jpg" alt="NFAP">
        </div>
        <br>
      </div>
    </div>
  </div>
  <section class="fluid-container py-5 nfpa-analysis">
    <div class="container">
      <h3 class="mb-2">NFPA 1710 Analysis</h3>
      <div class="row">
        <div class="col-md-8">
          <p>This table summarizes your departments operational performance against <a href="https://www.nfpa.org/codes-and-standards/all-codes-and-standards/list-of-codes-and-standards/detail?code=1710" target="_blank">NFPA 1710</a>.</p>
          <br>
          <h4>Incidents Analyzed: <span class="badge badge-success" ng-count-to="{{vm.nfpa1710.totalHits}}" value="0" duration="2" filter="number"></span></h4>

        </div>
        <div class="col-12 py-4">
          <div class="table mb-5">
            <div class="table-row header">
              <div class="cell">
                Category
              </div>
              <div class="cell">
                Rule Description
              </div>
              <div class="cell">
                Compliant?
              </div>
              <div class="cell">
                Calculated Value
              </div>
              <div class="cell">
                Action
              </div>
            </div>

            <div class="table-row" ng-repeat="(key, rule) in vm.nfpa1710.rules">
              <div class="cell" data-title="Category">
                {{ rule.category }}
              </div>
              <div class="cell" data-title="Descriptions">
                {{ rule.description }}
              </div>
              <div class="cell" data-title="Grade">
                <span ng-class="{'badge-danger': rule.grade == 'NEEDS ATTENTION', 'badge-success': rule.grade == 'GOOD', 'badge-warning': rule.grade == 'UNKNOWN' }" class="badge">{{rule.grade}}</span>
              </div>
              <div class="cell" data-title="Value">
                {{ rule.value }}
              </div>
              <div class="cell" data-title="Required Action">
                {{ rule.action }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
