.unit-filtering {
  display: flex;
  justify-content: space-around;

  div {
    width: 100%;
  }
}

.badge {
  margin-right: 5px;
	.close {
		margin-left: .25rem;
		color: inherit;
		font-size: 100%;
		text-shadow: 0 1px 0 rgba(#000, .5);
	}
}