<div>
  <p>
    Add wildcard filters or individual filters to filter units from Stat Engine. These filters apply across the
    application from email reports to unit reports. You can see which units will be filtered below.
  </p>

  <div class="row">
    <div class="col-6">
      <form class="form" name="wildcard-form" ng-submit="vm.addFilter(vm.wildcards, 'wildcards')" novalidate="novalidate">
        <label>Wildcard:</label>
        <div class="input-group mb-3">
          <input type="text" name="wildcard" placeholder="ENGS_*" class="form-control" required="required"
            ng-model="vm.wildcards" aria-label="Exclude wildcard">
        </div>
        <div class="mb-3" ng-if="vm.filterConfiguration.config_json.wildcards.length > 0">
           <span ng-repeat="wildcard in vm.filterConfiguration.config_json.wildcards" class="badge badge-pill badge-info">
             {{ wildcard }}
             <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="vm.removeFilter(wildcard, 'wildcards')">
              <span aria-hidden="true">&times;</span>
            </button>
          </span>
    
        </div>
      </form>
    </div>
    <div class="col-6">
      <form class="form" name="individual-form" ng-submit="vm.addFilter(vm.individuals, 'individuals')" novalidate="novalidate">
        <label>Individual:</label>
        <div class="input-group mb-3">
          <input type="text" name="individual" placeholder="ENG_1" class="form-control" required="required"
            ng-model="vm.individuals" aria-label="Exclude individual">
        </div>
        <div class="mb-3" ng-if="vm.filterConfiguration.config_json.individuals.length > 0">
          <span ng-repeat="individual in vm.filterConfiguration.config_json.individuals" class="badge badge-pill badge-info">
            {{ individual }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="vm.removeFilter(individual, 'individuals')">
             <span aria-hidden="true">&times;</span>
           </button>
         </span>
        </div>
      </form>
    </div>
  </div>

  <p>Filter Results:</p>
  <div class="unit-filtering">
    <div class="alert alert-success mg-r-20">
      <h6>Included</h6>
      <span ng-repeat="unit in vm.included" class="badge badge-success mg-r-5">{{ unit.id }}</span>
    </div>
    <div class="alert alert-danger">
      <h6>Excluded</h6>
      <span ng-repeat="unit in vm.excluded" class="badge badge-danger mg-r-5">{{ unit.id }}</span>
    </div>
  </div>

  <div class="alert alert-success" ng-if="vm.success">{{ vm.success }}</div>
  <div class="alert alert-danger" ng-if="vm.error">{{ vm.error }}</div>
  <button ng-click="vm.save()" class="btn btn-primary pull-right">Save</button>
</div>