@font-face { font-family: Montserrat-bold; src: url(../assets/fonts/Montserrat-Bold.otf); }
@font-face { font-family: Montserrat-extra-light; src: url(../assets/fonts/Montserrat-ExtraLight.otf); }
@font-face { font-family: Montserrat-light; src: url(../assets/fonts/Montserrat-Light.otf); }
@font-face { font-family: Montserrat-medium; src: url(../assets/fonts/Montserrat-Medium.otf); }
@font-face { font-family: Montserrat-regular; src: url(../assets/fonts/Montserrat-Regular.otf); }
@font-face { font-family: Montserrat-semibold; src: url(../assets/fonts/Montserrat-SemiBold.otf); }
@font-face { font-family: OpenSans-bold; src: url(../assets/fonts/OpenSans-Bold.ttf); }
@font-face { font-family: OpenSans-regular; src: url(../assets/fonts/OpenSans-Regular.ttf); }
@font-face { font-family: OpenSans-semibold; src: url(../assets/fonts/OpenSans-Semibold.ttf); }

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: OpenSans-regular;
}

button {
  cursor: pointer;
}

.with-padding-when-large {
  padding: 0 12%;
}

.in-a-row-when-large {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.bottom-line {
  height: 1px;
  margin-top: 50px;
  background-color: #818b93;
  opacity: 0.27;
}

@media (max-width: 750px) {
  .with-padding-when-large {
      padding: 0;
  }

  .in-a-row-when-large {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}

#contact {
  font-family: Montserrat-regular;
  padding: 50px 15px;
}

#contact > div p {
  font-family: Montserrat-regular;
  font-size: 28px;
  line-height: 1.5;
}

#contact > div p.title {
  font-weight: 300;
  color: #1ab4c2;
  font-family: OpenSans-bold;
}

#contact > div p.subtitle {
  color: #4f585d;
  font-family: OpenSans-regular;
}

#contact button {
  width: 187px;
  height: 48px;
  border-radius: 100px;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  font-family: Montserrat-medium;
}

#contact button.sign-up {
  background: linear-gradient(132deg, #00a9da, #1cc1a1);
  color: #ffffff;
  border: none;
  margin-right: 21px;
}

#contact button.contact-us {
  border: solid 2px #00a9da;
  color: #00a9da;
  background: none;
  outline: none;
}

@media (max-width: 750px) {
  #contact {
    flex-direction: column;
    text-align: center;
  }

  #contact button.sign-up {
    margin: 20px 0;
  }

}

#news-events {
}

#news-events h2 {
  font-family: Montserrat-semibold;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: rgba(16, 29, 35, 0.74);
}

#news-events article {
  margin: 12px 0;
}

#news-events article h5 {
  font-size: 16px;
  line-height: 1.81;
  letter-spacing: 0.2px;
  color: #1aa9b6;
  font-family: OpenSans-regular;
}

#news-events article p {
  font-size: 14px;
  line-height: 1.93;
  letter-spacing: 0.2px;
  color: rgba(51, 74, 86, 0.74);
  font-family: OpenSans-regular;
}

@media (max-width: 750px) {
  #news-events {
    width: 100%;
    padding: 20px;
  }
}

#our-partners h2 {
  font-family: Montserrat-semibold;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
  color: rgba(16, 29, 35, 0.74);
}

#our-partners p {
  font-family: OpenSans-regular;
  font-size: 14px;
  line-height: 1.93;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(51, 74, 86, 0.74);
}

#our-partners .partners-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 0;
}

@media (max-width: 750px) {
  #our-partners {
    width: 100%;
    align-items: center;
    // background-image: linear-gradient(to top, #ffffff, #ecf3f8);
  }

  #our-partners p {
    text-align: center;
  }

  #our-partners .partners-logos{
    width: 100%;
  }
}

#features {
   font-family: Montserrat-regular;
   text-align: center;
   background-image: linear-gradient(130deg, #4b2c7b, #913a7c 63%, #c93277);
   color: white;
   padding: 50px 5%;
 }

 #features h2 {
  font-family: Montserrat-semibold;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.29;
 }

#features > p {
  font-family: Montserrat-regular;
  font-size: 18px;
  line-height: 2;
}

#features article {
  font-family: OpenSans-regular;
  margin: 15px 0;
}

#features article h5 {
  font-size: 15px;
  font-weight: bold;
  font-family: OpenSans-bold;
}

#features article p {
  font-size: 14px;
  font-family: OpenSans-regular;
}

#features-left-column {
  display: flex;
  flex-direction: column;
  width: 350px;
}

#features-left-column article {
  text-align: right;
}

#features-right-column {
    display: flex;
    flex-direction: column;
    width: 350px;
}

#features-right-column article {
  text-align: left;
}

#features > a {
  text-decoration: none;
  color: white;
  font-family: Montserrat-medium;
}

@media (max-width: 750px) {
  #features div article {
    text-align: left;
  }

  #features > p,
  #features > a {
    display: none;
  }
}

#intro {
  padding-top: 50px;
}

#intro #intro-text h2 {
  color: #009BAC;
  font-family: Montserrat-extra-light;
}

#intro #intro-text p {
  font-family: Montserrat-light;
}

#intro-image   {
  text-align: right;
}

#intro #benefits {
  margin: 50px 0;
}

@media (max-width: 750px) {
  #intro #intro-image {
    margin-top: 50px;
  }

  #intro #intro-image img {
    width: 100%;
    height: 100%;
  }

  #intro #benefits {
    justify-content: column;
  }
}


.intro-item h3 {
  font-family: OpenSans-semibold;
}

.intro-item p {
  font-family: OpenSans-regular;
}

header {
  height: 900px;
  background-image: linear-gradient(155deg, #0b345d, #18496a 40%, #138b89);
}

header section {
  padding-top: 10rem;
  text-align: center;
}

header section h1 {
  text-align: center;
  font-family: Montserrat-semibold;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.28;
  letter-spacing: 0.1rem;
  color: white;
  margin: auto;
  margin-bottom: 14px;
  max-width: 687px;
}

header section p {
  font-family: OpenSans-light;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.05rem;
  text-align: center;
  color: #ffffff;
  max-width: 630px;
  margin: auto;
  padding: 0.5rem 0 1.5rem;
}

header section button {
  border-radius: 100px;
  outline: none;
  font-family: Montserrat-medium;
  font-size: 15px;
  font-weight: 500;
  color: white;
  padding: 1.5rem 2rem;
  min-width: 166px;
}

header section button.demo {
  border: none;
  background-image: linear-gradient(235deg, #00a1cf, #1fc8a7);
}

header section button.learn {
  border: solid 2px #ffffff;
  background: none;
}
