/////////////////////////////////
// CONTACT US CALLOUT //
////////////////////////////////
#contact {
  font-family: Montserrat-regular;
  padding: 50px 15px;
}

#contact > div p {
  font-family: Montserrat-regular;
  font-size: 28px;
  line-height: 1.5;
}

#contact > div p.title {
  font-weight: 300;
  color: #1ab4c2;
  font-family: OpenSans-bold;
}

#contact > div p.subtitle {
  color: #4f585d;
  font-family: OpenSans-regular;
}

/////////////////////////////////
// NEWS & EVENTS //
////////////////////////////////
#news-events {
}

#news-events h2 {
  font-family: Montserrat-semibold;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: rgba(16, 29, 35, 0.74);
}

#news-events article {
  margin: 12px 0;
}

#news-events article h5 {
  font-size: 16px;
  line-height: 1.81;
  letter-spacing: 0.2px;
  color: #1aa9b6;
  font-family: OpenSans-regular;
}

#news-events article p {
  font-size: 14px;
  line-height: 1.93;
  letter-spacing: 0.2px;
  color: rgba(51, 74, 86, 0.74);
  font-family: OpenSans-regular;
}

@media (max-width: 750px) {
  #news-events {
    width: 100%;
    padding: 20px;
  }
}

/////////////////////////////////
// OUR PARTNERS //
////////////////////////////////
#our-partners h2 {
  font-family: Montserrat-semibold;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
  color: rgba(16, 29, 35, 0.74);
}

#our-partners p {
  font-family: OpenSans-regular;
  font-size: 14px;
  line-height: 1.93;
  letter-spacing: 0.2px;
  text-align: left;
  color: rgba(51, 74, 86, 0.74);
}

#our-partners .partners-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 0;
}

@media (max-width: 750px) {
  #our-partners {
    width: 100%;
    align-items: center;
    // background-image: linear-gradient(to top, #ffffff, #ecf3f8);
  }

  #our-partners p {
    text-align: center;
  }

  #our-partners .partners-logos{
    width: 100%;
  }
}

/////////////////////////////////
// FEATURES //
////////////////////////////////
#features {
   font-family: Montserrat-regular;
   text-align: center;
   background-image: linear-gradient(130deg, #4b2c7b, #913a7c 63%, #c93277);
   color: white;
   padding: 50px 5%;
 }

 #features h2 {
  font-family: Montserrat-semibold;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.29;
 }

#features > p {
  font-family: Montserrat-regular;
  font-size: 18px;
  line-height: 2;
}

#features article {
  font-family: OpenSans-regular;
  margin: 15px 0;
}

#features article h5 {
  font-size: 15px;
  font-weight: bold;
  font-family: OpenSans-bold;
}

#features article p {
  font-size: 14px;
  font-family: OpenSans-regular;
}

#features-left-column {
  display: flex;
  flex-direction: column;
  width: 350px;
}

#features-left-column article {
  text-align: right;
}

#features-right-column {
    display: flex;
    flex-direction: column;
    width: 350px;
}

#features-right-column article {
  text-align: left;
}

#features > a {
  text-decoration: none;
  color: white;
  font-family: Montserrat-medium;
}

@media (max-width: 750px) {
  #features div article {
    text-align: left;
  }

  #features > p,
  #features > a {
    display: none;
  }
}

/////////////////////////////////
// INTRO //
////////////////////////////////
#intro {
  padding-top: 50px;
}

#intro #intro-text h2 {
  color: #009BAC;
  font-family: Montserrat-extra-light;
}

#intro #intro-text p {
  font-family: Montserrat-light;
}

#intro-image   {
  text-align: right;
  img {
    width: 100%;
  }
}

#intro #benefits {
  margin: 50px 0;
}

@media (max-width: 750px) {
  #intro #intro-image {
    margin-top: 50px;
  }

  #intro #intro-image img {
    width: 100%;
    height: 100%;
  }

  #intro #benefits {
    justify-content: column;
  }
}

.intro-item h3 {
  font-family: OpenSans-semibold;
}

.intro-item p {
  font-family: OpenSans-regular;
}

/////////////////////////////////
// HEADER //
////////////////////////////////
header {
  height: 745px;
  background: #0b345d;
  background-image: linear-gradient(155deg, #002f62 0%, #18496a 50%, #138b89 100%);
  clip-path: ellipse(111% 60% at 50% 39%);
  -webkit-clip-path: ellipse(111% 60% at 50% 39%);
  -ms-clip-path: ellipse(111% 60% at 50% 39%);
  -o-clip-path: ellipse(111% 60% at 50% 39%);
  -moz-clip-path: ellipse(111% 60% at 50% 39%);
  position: relative;
  // clip-path: url("/assets/images/header-clip-path.svg");
}

header section {
  padding-top: 7rem;
  text-align: center;
}

header section h1 {
  text-align: center;
  font-family: Montserrat-semibold;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.28;
  letter-spacing: 0.1rem;
  color: white;
  margin: auto;
  margin-bottom: 14px;
  max-width: 687px;
}

header section p {
  font-family: OpenSans-light;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.05rem;
  text-align: center;
  color: #ffffff;
  max-width: 630px;
  margin: auto;
  padding: 0.5rem 0 1.5rem;
}

header section button {
  border-radius: 100px;
  outline: none;
  font-family: Montserrat-medium;
  font-size: 15px;
  font-weight: 500;
  color: white;
  padding: 1.5rem 2rem;
  min-width: 166px;
}

// Product screenshot
#app-screenshot {
  position: relative;
  padding-top: 6rem;
}

// Silo shapes for header BG
#silos,
#silos span {
    position: absolute;
}

#silos {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

#silos span {
  transform: rotate(132deg);
  height: 40px;
  border-radius: 9999px;
}

@media (min-width: 880px) {
    #silos span {
      height: 190px;
    }
    #silos :nth-child(1) {
      background: linear-gradient(90deg, rgba(27,109,132,0.06) 46%, rgba(0,200,245,0.04) 61%);
      height: 367px;
      width: 2140px;
      left: 28%;
    }
    #silos :nth-child(2) {
      background: linear-gradient(180deg, rgba(18, 63, 99, 0.88) 35%, rgba(18, 77, 109, 0.42) 83%);
      bottom: -83px;
      right: 1080px;
      height: 228px;
      width: 350px;
    }
    #silos :nth-child(3) {
      background: linear-gradient(55deg, rgba(16,91,129,0.58) 6%, rgba(2, 55, 97, 0) 38%);
      bottom: 0;
      right: 907px;
      height: 228px;
      width: 850px;
    }
    #silos :nth-child(4) {
      background: linear-gradient(55deg, rgba(0,39,85,0.25) 6%, rgba(125,185,232,0) 84%);
      bottom: 0;
      right: 1266px;
      height: 228px;
      width: 850px;
    }
    #silos :nth-child(5) {
      background: linear-gradient(73deg, rgba(25,98,149,0.27) 25%, rgba(10, 119, 163, 0.62) 59%);
      bottom: -39px;
      right: 1335px;
      height: 200px;
      width: 500px;
    }
    #silos :nth-child(6) {
      background: linear-gradient(30deg, rgba(0,171,198,0.32) 6%, rgba(32,115,119,0.22) 55%);
      bottom: -39px;
      left: 58%;
      height: 155px;
      width: 500px;
    }
    #silos :nth-child(7) {
      background: linear-gradient(90deg, rgba(27,109,132,0.06) 46%, rgba(0, 200, 245, 0.02) 61%);
      bottom: 0;
      height: 467px;
      width: 2140px;
      right: 49px;
    }
    #silos :nth-child(8) {
      background: linear-gradient(55deg, rgba(0,39,85,0.25) 6%, rgba(125,185,232,0) 84%);
      bottom: 80px;
      right: 736px;
      height: 360px;
      width: 1200px;
    }
    #silos :nth-child(9) {
      background: linear-gradient(90deg, rgba(27,109,132,0.06) 46%, rgba(0,200,245,0.04) 61%);
      height: 667px;
      width: 2140px;
      left: 50%;
    }
}
