$color-0: $color-cerulean;
$color-1: $color-pale-sky;
$color-2: $color-geyser;
$color-3: $color-pale-sky;
$color-4: $color-geyser;

.shift-calendar {
  .btn-default {
    border-color: transparent;
  }

  .calendar {
    .shift-0 {
      background-color: $color-0;
    }

    .legend-0 {
      color: $color-0;
    }

    .shift-1 {
      background-color: $color-1;
    }

    .legend-1 {
      color: $color-1;
    }

    .shift-2 {
      background-color: $color-2;
    }

    .legend-2 {
      color: $color-2;
    }

    .shift-3 {
      background-color: $color-3;
    }

    .legend-3 {
      color: $color-3;
    }

    .shift-4 {
      background-color: $color-4;
    }

    .legend-4 {
      color: $color-4;
    }
    pointer-events: none;
  }
}

mwl-calendar {
  .cal-day-weekend {
    span {
      color: $color-porcelain !important;
    }
  }

  .cal-day-today {
    span {
      color: $color-porcelain !important;
    }
  }
}
