<div class="container-fluid signup-container">
  <div class="row animated fadeInLeft">
    <div class="col-auto mr-auto mt-3">
      <button class="btn btn-outline btn-sm hvr-backward w80" ui-sref="site.main.main"><i class="fa fa-arrow-left"></i> Back</button>
    </div>
  </div>
  <div class="row my-5 justify-content-center animated fadeIn">
    <div class="col-md-auto align-self-center">
      <h1 class="text-center">Change Password</h1>
        <form class="form form-wrapper" name="form" ng-submit="vm.updatePassword(form)" novalidate>

          <div class="form-group">
            <label>New Password</label>
            <input type="password" name="newPassword" class="form-control input-md" ng-model="vm.user.newPassword"
                   ng-minlength="3"
                   required/>
            <p class="help-block"
               ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
              Password must be at least 3 characters.
            </p>
          </div>

          <div class="form-group">
            <label>Confirm New Password</label>

            <input type="password" name="confirmPassword" class="form-control input-md" ng-model="vm.user.confirmPassword"
                   match="vm.user.newPassword"
                   ng-minlength="3"
                   required=""/>
            <p class="help-block"
               ng-show="form.confirmPassword.$error.match && vm.submitted">
              Passwords must match.
            </p>
          </div>

          <div class="help-block" ng-show="vm.errors">
            <ul>
              <li ng-repeat="error in vm.errors">
                <p class="text-danger">{{ error.message }}</p>
              </li>
            </ul>
          </div>
          <button class="btn btn-lg btn-primary" type="submit">Save Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
