<div class="site">
  <navbar class="animated fadeInDown naked"></navbar>
  <header class="naked"></header>
  <section class="container site-content">
    <section class="row mb-5">
      <div class="col-md-12">
        <h2 class="subheader">Change Password</h2>
        <form class="form form-wrapper" style="margin:0;" name="form" ng-submit="vm.updatePassword(form)" novalidate>

          <div class="form-group">
            <label>New Password</label>

            <input type="password" style="width: 300px;" name="newPassword" class="form-control" ng-model="vm.user.newPassword"
                   ng-minlength="3"
                   required/>
            <p class="help-block"
               ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
              Password must be at least 3 characters.
            </p>
          </div>

          <div class="form-group">
            <label>Confirm New Password</label>

            <input type="password" style="width: 300px;" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                   match="vm.user.newPassword"
                   ng-minlength="3"
                   required=""/>
            <p class="help-block"
               ng-show="form.confirmPassword.$error.match && vm.submitted">
              Passwords must match.
            </p>
          </div>
          <p class="help-block" ng-show="form.newPassword.$error.mongoose">
            {{ vm.errors.newPassword }}
          </p>
          <button class="btn btn-lg btn-primary" type="submit">Save Password</button>
        </form>
      </div>
    </section>
  </section>
  <footer id="footer"></footer>
</div>
