<div class="request-access">
  <header class="naked"></header>
  <section class="container site-content">
    <section class="row mb-5 justify-content-md-center">
      <div class="col-md-auto align-self-center">
        <div ng-if="vm.fireDepartment">
          <div class="form-elements">
            <form class="form form-wrapper" name="form"
              <p>
                You're already assigned to {{vm.fireDepartment.name}}.
              </p>
            </form>
          </div>
        </div>
        <div ng-if="vm.requestedFireDepartment">
          <div class="form-elements">
            <form class="form form-wrapper" name="form"
              <p>
                Your request has already been submitted to {{vm.requestedFireDepartment.name}}.
                <br>
                Please follow up with your local administrator.
              </p>
            </form>
          </div>
        </div>
        <div ng-if="!vm.fireDepartment && !vm.requestedFireDepartment">
          <h2 class="subheader">Select Department</h2>
          <div class="form-elements">
            <form class="form form-wrapper" name="form" ng-submit="vm.requestAccess(form)" novalidate>

              <div class="form-group">
                <select ng-model="vm.selectedFireDepartment" class="form-control select-md">
                  <option class="input-md" ng-repeat="fd in vm.fireDepartments" value="{{fd._id}}">{{fd.name}}</option>
                </select>
              </div>

              <p class="help-block" ng-show="vm.message">
                {{ vm.message }}
              </p>
              <button class="btn btn-lg btn-primary" type="submit" ng-disabled="!vm.selectedFireDepartment">Request Access</button>
              <div class="col-12 form-extras">
                <span class="d-flex w-100" >Don't see your department? <a class="ml-3" ui-sref="statEngineDocumentation"> Lets get started <i class="fa fa-chevron-right"></i></a></span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>
