<div class="site-content department-admin-email">
  <header class="naked"></header>
  <section class="container site-content">
    <h4> Time Range Summary Email</h4>
    <form name="myForm">
      <strong>Select Configuration</strong>
      <br>

      <label ng-repeat="config in vm.reportConfigurations">
        <input type="radio" ng-model="vm.configurationId" ng-value="config._id">
        {{ config.config_json.name }}
        <br>
      </label>
      <br>

      <label>Start Date: </label>
      <input type="date"
       ng-model="vm.startDate"><br/>

      <label>
         <input type="checkbox" ng-model="vm.test">
         Test?
      </label><br/>

      <label>
         <input type="checkbox" ng-model="vm.previous">
         Previous? (data will be reported on the previous time period instead of active one - this is usually what you want!))
      </label><br/>
   </form>

    <button class="btn btn-primary" ng-click="vm.send()">Send</button>

  </section>
</div>
