<div class="weather-cube">
  <skycon icon="vm.weather.icon" size="110"></skycon>
  <h3> {{ vm.textSummaries.situational_awareness_summary }}</h3>
</div>

<div class="weather-summary">
  <h1 class="heavyheader"> {{ vm.weather.temperature | number : 0 }} &deg;</h1>
  <h4>{{ vm.incident.description.day_of_week }}</h4>
  <hr>
  <dl>
    <dt>Feels Like</dt>
    <dd>{{ vm.weather.apparentTemperature | number : 0  }} &deg;</dd>
  </dl>
  <dl ng-if="vm.weather.precipProbability">
    <dt>Precipitation</dt>
    <dd>{{ vm.weather.precipProbability*100 | number : 0 }}% chance of {{ vm.weather.precipType }}</dd>
  </dl>
  <dl>
    <dt>Wind</dt>
    <dd>{{ vm.weather.windSpeed | number : 0 }} mph with gusts up to {{ vm.weather.windGust | number : 0  }} mph</dd>
  </dl>
</div>
