<div class="admin-home">
  <navbar class="animated fadeInDown naked"></navbar>
  <header class="naked"></header>
  <section class="container site-content">
    <section id="department-users" class="fluid-container py-5">
      <div class="container">
        <h3 class="mb-2" >Fire Department</h3><button class="btn btn-success" ui-sref="site.admin.fireDepartment({ id: 'new' })"><span class="fa fa-plus">Add New</span></button>

        <div class="row">
          <div class="col-12 py-4">
            <div class="table mb-5">
              <div class="table-row header">
                <div class="cell">
                  Firecares Id
                </div>
                <div class="cell">
                  FD ID
                </div>
                <div class="cell">
                  Name
                </div>
                <div class="cell">
                  State
                </div>
                <div class="cell">
                  Timezone
                </div>
                <div class="cell">
                  Integration Complete
                </div>
                <div class="cell">
                  Integration Verified
                </div>
                <div class="cell">
                  Number of Users
                </div>
              </div>

              <div class="table-row" ng-repeat="fd in vm.fireDepartments | orderBy:'name'">
                <div class="cell" data-title="Firecares Id">
                  <a ui-sref="site.admin.fireDepartment({ id: fd._id })"> {{ fd.firecares_id }} </a>
                </div>
                <div class="cell" data-title="FD ID">
                  {{ fd.fd_id }}
                </div>
                <div class="cell" data-title="Name">
                  {{ fd.name }}
                </div>
                <div class="cell" data-title="State">
                  {{ fd.state }}
                </div>
                <div class="cell" data-title="Timezone">
                  {{ fd.timezone }}
                </div>
                <div class="cell" data-title="Integration Complete">
                  <span ng-if="fd.integration_complete"><span class="fa fa-check text-success"></span></span>
                </div>
                <div class="cell" data-title="Integration Verified">
                  <span ng-if="fd.integration_verified"><span class="fa fa-check text-success"></span></span>
                </div>
                <div class="cell" data-title="Number of Users">
                  {{ vm.departmentUsers[fd._id].length }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr>
    <section id="department-users" class="fluid-container py-5">
      <div class="container">
        <h3 class="mb-2" >Users</h3><button class="btn btn-success" ui-sref="site.admin.user({ id: 'new' })"><span class="fa fa-plus">Add New</span></button>
        <div class="row">
          <div class="col-12 py-4">
            <h4> Homeless Users </h4>
            <p> Users that have signed up, but not requested acceess to any department yet </p>
            <p ng-if="!vm.homelessUsers || vm.homelessUsers.length === 0" class="text-success"> No homeless users </p>
            <div ng-if="vm.homelessUsers.length > 0" class="table mb-5">
              <div class="table-row header">
                <div class="cell">
                  Username
                </div>
                <div class="cell">
                  Name
                </div>
                <div class="cell">
                  Email
                </div>
              </div>

              <div class="table-row" ng-repeat="user in vm.homelessUsers | orderBy:'first_name'">
                <div class="cell" data-title="Username">
                  <a ui-sref="site.admin.user({ id: user._id })"> {{ user.username }} </a>
                </div>
                <div class="cell" data-title="Name">
                  {{ user.first_name }} {{ user.last_name }}
                </div>
                <div class="cell" data-title="Email">
                  {{ user.email }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12 py-4">
            <h4> Pending Data Access Requests</h4>
            <p> Users that have requested acceess to a department, but haven't received approval</p>
            <p ng-if="!vm.pendingUsers || vm.pendingUsers.length === 0" class="text-success"> No pending requests </p>
            <div ng-if="vm.pendingUsers.length > 0" class="table mb-5">
              <div class="table-row header">
                <div class="cell">
                  Username
                </div>
                <div class="cell">
                  Name
                </div>
                <div class="cell">
                  Email
                </div>
                <div class="cell">
                  Requested Department
                </div>
                <div class="cell">
                  Actions
                </div>
              </div>

              <div class="table-row" ng-repeat="user in vm.pendingUsers | orderBy:'first_name'">
                <div class="cell" data-title="Username">
                  <a ui-sref="site.admin.user({ id: user._id })"> {{ user.username }} </a>
                </div>
                <div class="cell" data-title="Name">
                  {{ user.first_name }} {{ user.last_name }}
                </div>
                <div class="cell" data-title="Email">
                  {{ user.email }}
                </div>
                <div class="cell" data-title="Email">
                  {{ vm.fireDepartmentLookup[user.requested_fire_department_id].name }}
                </div>
                <div class="cell" data-title="Action">
                  <button class="btn-link" ng-click="vm.approveAccess(user)" ng-class="{'fa-disabled': user.FireDepartment }" uib-popover="Approve Access" popover-trigger="'mouseenter'"><i class="fa fa-2x fa-check-circle text-success"></i></button>
                  <button class="btn-link" ng-click="vm.revokeAccess(user)" uib-popover="Revoke Access" ng-class="{'fa-disabled': user.isDepartmentAdmin }" popover-trigger="'mouseenter'"><i class="fa fa-2x fa-times-circle text-danger"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12 py-4">
            <h4> Ingest Users</h4>
            <p> Spade Users </p>
            <p ng-if="!vm.ingestUsers || vm.ingestUsers.length === 0" class="text-success"> No spade users </p>
            <div ng-if="vm.ingestUsers.length > 0" class="table mb-5">
              <div class="table-row header">
                <div class="cell">
                  Username
                </div>
                <div class="cell">
                  Name
                </div>
                <div class="cell">
                  Email
                </div>
                <div class="cell">
                  Department
                </div>
              </div>

              <div class="table-row" ng-repeat="user in vm.ingestUsers | orderBy:'first_name'">
                <div class="cell" data-title="Username">
                  <a ui-sref="site.admin.user({ id: user._id })"> {{ user.username }} </a>
                </div>
                <div class="cell" data-title="Name">
                  {{ user.first_name }} {{ user.last_name }}
                </div>
                <div class="cell" data-title="Email">
                  {{ user.email }}
                </div>
                <div class="cell" data-title="Email">
                  {{ user.FireDepartment.name }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12 py-4">
            <h4> Admin Users</h4>.
            <div class="table mb-5">
              <div class="table-row header">
                <div class="cell">
                  Username
                </div>
                <div class="cell">
                  Name
                </div>
                <div class="cell">
                  Email
                </div>
              </div>

              <div class="table-row" ng-repeat="user in vm.adminUsers | orderBy:'first_name'">
                <div class="cell" data-title="Username">
                  <a ui-sref="site.admin.user({ id: user._id })"> {{ user.username }} </a>
                </div>
                <div class="cell" data-title="Name">
                  {{ user.first_name }} {{ user.last_name }}
                </div>
                <div class="cell" data-title="Email">
                  {{ user.email }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row" ng-repeat="(id, users) in vm.departmentUsers">
          <div ng-if="id !== 'undefined'">
            <div class="col-12 py-4">
              <h4 ng-if="id"> {{ id }} - {{ users[0].FireDepartment.name }} </h4>
              <div class="table tabemb-5">
                <div class="table-row header">
                  <div class="cell">
                    Username
                  </div>
                  <div class="cell">
                    Name
                  </div>
                  <div class="cell">
                    Email
                  </div>
                  <div class="cell">
                    Admin
                  </div>
                  <div class="cell">
                    Ingest
                  </div>
                  <div class="cell">
                    Dashboard
                  </div>
                  <div class="cell">
                    NFORS
                  </div>
                </div>

                <div class="table-row" ng-repeat="user in users | orderBy:'first_name'">
                  <div class="cell" data-title="Username">
                    <a ui-sref="site.admin.user({ id: user._id })"> {{ user.username }} </a>
                  </div>
                  <div class="cell" data-title="Name">
                    {{ user.first_name }} {{ user.last_name }}
                  </div>
                  <div class="cell" data-title="Email">
                    {{ user.email }}
                  </div>
                  <div class="cell" data-title="Department Admin">
                    <span ng-if="user.isDepartmentAdmin"><span class="fa fa-check text-success"></span></span>
                  </div>
                  <div class="cell" data-title="Admin">
                    <span ng-if="user.isIngest"><span class="fa fa-check text-success"></span></span>
                  </div>
                  <div class="cell" data-title="Kibana Admin">
                    <span ng-if="user.isKibanaAdmin"><span class="fa fa-check text-success"></span></span>
                  </div>
                  <div class="cell" data-title="NFORS">
                    <span ng-if="user.nfors"><span class="fa fa-check text-success"></span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <footer id="footer"></footer>
</div>
