<div class="root" ng-class="vm.theme">
  <div class="sidebar-overlay" ng-click="vm.hideSidebar()"></div>

  <div class="logo-container" ng-show="!!vm.theme" ng-if="vm.theme === 'nfors'">
    <img class="logo-expanded" src="/assets/images/nfors-branding.png" alt="logo">
    <img class="logo-collapsed" src="/assets/images/nfors-branding-symbol.png" alt="logo">
  </div>
  <div class="logo-container" ng-show="!!vm.theme" ng-if="vm.theme !== 'nfors'">
    <img class="logo-expanded" src="/assets/images/branding-alt.svg" alt="logo">
    <img class="logo-collapsed" src="/assets/images/branding-symbol.svg" alt="logo">
  </div>

  <div class="br-sideleft">
    <div class="br-sideleft-content">
      <!-- APP SECTION  -->
      <label class="sidebar-label pd-x-25 mg-t-20 op-3">App</label>
      <ul class="br-sideleft-menu">
        <li class="br-menu-item">
          <a href="#" ui-sref='site.user.home' class="br-menu-link" ng-class="{ active: vm.$state.current.name == 'site.user.home' }">
            <i class="menu-item-icon fa fa-home tx-20"></i>
            <span class="menu-item-label text-truncate">Control Center</span>
          </a>
        </li>
        <li class="br-menu-item" ng-show="vm.user.fire_department__id">
          <a href="#" ng-class="{ active: vm.$state.current.name == 'site.workspace.home' }" ng-click='vm.dashboard()' class="br-menu-link">
            <i class="menu-item-icon fa fa-bar-chart tx-20"></i>
            <span class="menu-item-label text-truncate">Workspaces</span>
          </a>
        </li>
        <li class="br-menu-item" ng-show="vm.user.fire_department__id">
          <a href="#" class="br-menu-link with-sub" ng-class="{ 'active': vm.$state.current.name.startsWith('site.incident') || vm.$state.current.name.startsWith('site.reporting') }">
            <i class="menu-item-icon fa fa-newspaper-o tx-20"></i>
            <span class="menu-item-label text-truncate">Reports</span>
          </a>
          <ul class="br-menu-sub" ng-show="vm.user.fire_department__id">
            <!-- TODO change incidents to reporting -->
            <li class="sub-item">
              <a class="sub-link" ng-class="{ 'active': (vm.$state.current.name == 'site.incident.search') }" href="#" ui-sref='site.incident.search'>
                Incidents
              </a>
            </li>
            <li class="sub-item">
              <a class="sub-link" ng-class="{ 'active': (vm.$state.current.name == 'site.reporting.unit') }" href="#" ui-sref="site.reporting.unit">
                Units&nbsp;
              </a>
            </li>
            <!--li class="sub-item"><a href="#" ui-sref="" class="sub-link">Stations&nbsp;<span class="badge badge-info">Coming Soon</span></a></li>
            <li class="sub-item"><a href="#" ui-sref="" class="sub-link">Batallions&nbsp;<span class="badge badge-info">Coming Soon</span></a></li>
            <li class="sub-item"><a href="#" ui-sref="" class="sub-link">Addressess&nbsp;<span class="badge badge-info">Coming Soon</span></a></li>-->
          </ul>
        </li>
        <li class="br-menu-item" ng-show="vm.user.fire_department__id">
          <a href="#" class="br-menu-link with-sub" ng-class="{ 'active': vm.$state.current.name.startsWith('site.twitter') }">
            <i class="menu-item-icon fa fa-braille tx-20"></i>
            <span class="menu-item-label text-truncate">Applications</span>
          </a>
          <ul class="br-menu-sub">
              <li class="sub-item">
                  <a class="sub-link" ng-class="{ 'active': (vm.$state.current.name == 'site.erf.analysis') }" href="#" ui-sref='site.erf.analysis'>
                    ERF&nbsp;<span class="badge badge-info">NEW</span>
                  </a>
                </li>
            <li class="sub-item">
              <a class="sub-link" ng-class="{ 'active': (vm.$state.current.name == 'site.twitter.home') }" href="#" ui-sref='site.twitter.home'>
                Twitter
              </a>
            </li>
            <!--<li class="sub-item"><a href="#" ui-sref="" class="sub-link">Weather</a></li>
            <li class="sub-item"><a href="#" ui-sref="" class="sub-link">Reporting</a></li>
            <li class="sub-item"><a href="#" ui-sref="" class="sub-link">Another App</a></li>-->
          </ul>
        </li>
        <li class="br-menu-item" ng-show="vm.user.fire_department__id">
          <a href="#" ui-sref='site.marketplace.home' class="br-menu-link" ng-class="{ active: vm.$state.current.name == 'site.marketplace.home' }">
            <i class="menu-item-icon fa fa-cart-plus tx-20"></i>
            <span class="menu-item-label text-truncate">Marketplace</span>
          </a>
        </li>
        <li class="br-menu-item">
          <a href="" ui-sref='site.user.settings' class="br-menu-link" ng-class="{ active: vm.$state.current.name == 'site.user.settings' }">
            <i class="menu-item-icon fa fa-gear tx-22"></i>
            <span class="menu-item-label text-truncate">Settings</span>
          </a>
        </li>
      </ul>

      <!-- ADMIN SECTION  -->
      <label ng-show="vm.user.isDepartmentAdmin || vm.user.isDepartmentAdmin" class="sidebar-label pd-x-25 mg-t-20 op-3">Admin</label>
      <ul class="br-sideleft-menu">
        <li class="br-menu-item">
          <a href="#" ui-sref="site.admin.home" class="br-menu-link" ng-show="vm.user.isAdmin">
            <i class="menu-item-icon fa fa-fire tx-22"></i>
            <span class="menu-item-label text-truncate">Fire Departments</span>
          </a>
        </li>
        <li class="br-menu-item" ng-show="vm.user.isDepartmentAdmin">
          <a href="#" ui-sref="site.departmentAdmin.home" class="br-menu-link">
            <i class="menu-item-icon fa fa-users tx-16"></i>
            <span class="menu-item-label text-truncate">My Department</span>
          </a>
        </li>
        <li class="br-menu-item" ng-show="vm.user.isDepartmentAdmin">
          <a href="/subscriptionPortal" target="_blank" class="br-menu-link">
            <i class="menu-item-icon fa fa-credit-card tx-16"></i>
            <span class="menu-item-label text-truncate">Manage Subscription</span>
          </a>
        </li>
      </ul>

      <!-- SUPPORT SECTION  -->
      <label class="sidebar-label pd-x-25 mg-t-20 op-3">Support</label>
      <ul class="br-sideleft-menu">
        <li class="br-menu-item">
          <a href="https://nfors.document360.io/docs/overview" target="_blank" class="br-menu-link">
            <i class="menu-item-icon icon ion-ios-paper tx-24"></i>
            <span class="menu-item-label text-truncate">Docs</span>
          </a>
        </li>
        <li class="br-menu-item">
          <a href="https://medium.com/statengine/archive" target="_blank" class="br-menu-link">
            <i class="menu-item-icon fa fa-medium tx-24"></i>
            <span class="menu-item-label text-truncate">Blog</span>
          </a>
        </li>
        <li class="br-menu-item">
          <a href="https://www.youtube.com/channel/UCPNnp0H7vpNiw-uzB13w7DA" target="_blank" class="br-menu-link">
            <i class="menu-item-icon fa fa-video-camera tx-20"></i>
            <span class="menu-item-label text-truncate">Webinars</span>
          </a>
        </li>
        <li class="br-menu-item">
          <a href="#" ui-sref="site.user.help" class="br-menu-link">
            <i class="menu-item-icon se-icon-help tx-20"></i>
            <span class="menu-item-label text-truncate">Help</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
