<div class="br-header">
  <div class="br-header-left">
    <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href="#"><i class="se-icon-collapse-sidebar tx-14"></i></a></div>
    <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
    <!-- <div class="input-group hidden-xs-down wd-170 transition">
      <input id="searchbox" type="text" class="form-control" placeholder="Search">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
      </span>
    </div> -->
  </div><!-- br-header-left -->
  <div class="br-header-right">
    <nav class="nav">
      <div class="search mg-r-15">
        <a href="" class="nav-link pd-x-7 pos-relative">
          <i class="fa fa-search tx-20"></i>
          <span class="square-8 bg-danger pos-absolute t-15 r-0 rounded-circle"></span>
        </a>
      </div><!-- Search -->
      <div class="dropdown notifications mg-r-15">
        <a href="" class="nav-link pd-x-7 pos-relative" data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-bell tx-20"></i>
          <span class="square-8 bg-danger pos-absolute t-15 r-5 rounded-circle"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-header" x-placement="bottom-start">
          <div class="dropdown-menu-label">
            <label>Notifications</label>
            <a href="">Mark All as Read</a>
          </div>

          <div class="media-list">
            <!-- loop starts here -->
            <a href="" class="media-list-link read">
              <div class="media">
                <img src="../img/img8.jpg" alt="">
                <div class="media-body">
                  <p class="noti-text"><strong>Suzzeth Bungaos</strong> tagged you and 18 others in a post.</p>
                  <span>October 03, 2017 8:45am</span>
                </div>
              </div><!-- media -->
            </a>
            <!-- loop ends here -->
            <a href="" class="media-list-link read">
              <div class="media">
                <img src="../img/img9.jpg" alt="">
                <div class="media-body">
                  <p class="noti-text"><strong>Mellisa Brown</strong> appreciated your work <strong>The Social Network</strong></p>
                  <span>October 02, 2017 12:44am</span>
                </div>
              </div><!-- media -->
            </a>
            <a href="" class="media-list-link read">
              <div class="media">
                <img src="../img/img10.jpg" alt="">
                <div class="media-body">
                  <p class="noti-text">20+ new items added are for sale in your <strong>Sale Group</strong></p>
                  <span>October 01, 2017 10:20pm</span>
                </div>
              </div><!-- media -->
            </a>
            <a href="" class="media-list-link read">
              <div class="media">
                <img src="../img/img5.jpg" alt="">
                <div class="media-body">
                  <p class="noti-text"><strong>Julius Erving</strong> wants to connect with you on your conversation with <strong>Ronnie Mara</strong></p>
                  <span>October 01, 2017 6:08pm</span>
                </div>
              </div><!-- media -->
            </a>
            <div class="dropdown-footer">
              <a href=""><i class="fa fa-angle-down"></i> Show All Notifications</a>
            </div>
          </div><!-- media-list -->
        </div><!-- dropdown-menu -->
      </div><!-- dropdown -->
      <div class="dropdown apps mg-r-5">
        <a href="" class="nav-link pd-x-7 pos-relative" data-toggle="dropdown" aria-expanded="false">
          <i class="se-icon-apps tx-20"></i>
          <!-- start: if statement -->
          <span class="square-8 bg-danger pos-absolute t-15 r-5 rounded-circle"></span>
          <!-- end: if statement -->
        </a>
      </div><!-- dropdown -->
      <div class="dropdown user mg-r-10">
        <a href="" class="nav-link nav-link-profile" data-toggle="dropdown" aria-expanded="false">
          <!-- TODO: Hookup functionality to pull avatar image. If no avatar exists, render generic user icon. -->
          <!-- <img src="../assets/images/icon-open-source.svg" class="wd-32 rounded-circle" alt=""> -->
          <span class="d-inline-block rounded-circle bg-gray-300 ht-40 wd-40"><i class="fa fa-user tx-22 pd-l-13 pd-t-8"></i></span>
          <span class="logged-name hidden-sm-down">Katherine</span>
        </a>
      </div><!-- dropdown -->
    </nav>
  </div>
</div><!-- br-header -->

<!-- ########## START: LEFT PANEL ########## -->
<div class="br-logo">
  <a href="">
    <img src="/assets/images/se-branding-mark.svg" class="se-logo-mark" alt="statengine logo mark">
    <img src="/assets/images/se-branding-text.svg" class="se-logo-text" alt="statengine logo text">
  </a>
</div>
<div class="br-sideleft overflow-y-auto">
  <label class="sidebar-label pd-x-25 mg-t-20 op-3">Navigation</label>
  <ul class="br-sideleft-menu">
    <li class="br-menu-item">
      <a href="#" ui-sref='site.user.home' class="br-menu-link" ng-class="{ active: vm.$state.current.name == 'site.user.home' }">
        <i class="menu-item-icon se-icon-control-center tx-20"></i>
        <span class="menu-item-label text-truncate">Control Center</span>
        </a><!-- br-menu-link -->
    </li><!-- br-menu-item -->
    <li class="br-menu-item">
      <a href="#" ui-sref='site.incident.search' class="br-menu-link">
        <i class="menu-item-icon se-icon-dashboard-alt tx-20"></i>
        <span class="menu-item-label text-truncate">Dashboard</span>
      </a><!-- br-menu-link -->
    </li><!-- br-menu-item -->
    <li class="br-menu-item">
      <a href="#" class="br-menu-link with-sub" ng-class="{ active: vm.$state.current.name.startsWith('site.incident') }">
        <i class="menu-item-icon se-icon-reports tx-20"></i>
        <span class="menu-item-label text-truncate">Reports</span>
      </a><!-- br-menu-link -->
      <ul class="br-menu-sub">
        <li class="sub-item"><a href="#" ui-sref='site.incident.search' class="sub-link">Incidents</a></li>
        <li class="sub-item"><a href="#" ui-sref="" class="sub-link">Apparatus</a></li>
        <li class="sub-item"><a href="#" ui-sref="" class="sub-link">Stations</a></li>
        <li class="sub-item"><a href="#" ui-sref="" class="sub-link">Batallions</a></li>
        <li class="sub-item"><a href="#" ui-sref="" class="sub-link">Addressess</a></li>
      </ul>
    </li><!-- br-menu-item -->
    <li class="br-menu-item">
      <a href="#" class="br-menu-link with-sub">
        <i class="menu-item-icon se-icon-apps tx-20"></i>
        <span class="menu-item-label text-truncate">Apps</span>
      </a><!-- br-menu-link -->
      <ul class="br-menu-sub">
        <li class="sub-item"><a href="#" ui-sref="" class="sub-link">Twitter</a></li>
        <li class="sub-item"><a href="#" ui-sref="" class="sub-link">Weather</a></li>
        <li class="sub-item"><a href="#" ui-sref="" class="sub-link">Reporting</a></li>
        <li class="sub-item"><a href="#" ui-sref="" class="sub-link">Another App</a></li>
      </ul>
    </li>
    <li class="br-menu-item">
      <a href="#" ui-sref='site.marketplace.home' class="br-menu-link" ng-class="{ active: vm.$state.current.name == 'site.marketplace.home' }">
        <i class="menu-item-icon se-icon-marketplace tx-20"></i>
        <span class="menu-item-label text-truncate">Marketplace</span>
      </a><!-- br-menu-link -->
    </li><!-- br-menu-item -->
    <li class="br-menu-item">
      <a href="#" class="br-menu-link">
        <i class="menu-item-icon se-icon-help tx-20"></i>
        <span class="menu-item-label text-truncate">Support</span>
      </a><!-- br-menu-link -->
    </li>
    </li><!-- br-menu-item -->
    <label class="sidebar-label pd-x-25 mg-t-20 op-3">Admin</label>
    <ul class="br-sideleft-menu">
      <li class="br-menu-item">
        <a href="#" class="br-menu-link">
          <i class="menu-item-icon se-icon-fire-departments tx-22"></i>
          <span class="menu-item-label text-truncate">Fire Departments</span>
        </a><!-- br-menu-link -->
      </li><!-- br-menu-item -->
      <li class="br-menu-item">
        <a href="#" class="br-menu-link">
          <i class="menu-item-icon se-icon-users tx-16"></i>
          <span class="menu-item-label text-truncate">Users</span>
        </a><!-- br-menu-link -->
  </ul><!-- br-sideleft-menu -->
</div><!-- br-sideleft -->
<!-- ########## END: LEFT PANEL ########## -->
