<div class="br-pageheader">
  <nav class="breadcrumb">
    <a class="breadcrumb-item" href="site.user.home">Home</a>
    <a class="breadcrumb-item active" ui-sref="site.workspace.home">Workspaces</a>
  </nav>
</div>
<div class="workspace-select">
  <loading-overlay ng-if="vm.isLoading" show-spinner="true"></loading-overlay>
  <section class="masthead">
    <div class="masthead-content">
      <h1>Workspaces</h1>
      <p>
        With workspaces, you can organize your dashboards, visualizations, and other saved objects into meaningful categories such as Operations, Accreditation, Battalion, or Station Dashboards.
        Once inside a workspace, you will only have access to the dashboards and visualizations that have been created in that workspace.
        When creating a workspace, you can grant other users read/write access, or keep the workspace only visible to yourself.
      </p>
    </div>
  </section>
  <section class="workspaces-content">
    <div class="br-pagetitle">
      <div class="d-flex justify-content-between align-items-center flex-wrap mb-2">
        <h2 class="mb-0 mr-3">My Workspaces</h2>
        <button class="btn btn-primary" ui-sref="site.workspace.edit({ id: 'new' })">Create New</button>
      </div>
      <div class="d-flex align-items-center">
        <i class="se-icon-info mr-2"></i>
        Existing customer dashboards and permissions have been migrated to the default workspace.
      </div>
    </div>
    <div class="br-pagebody">
      <div class="row align-items-center">
        <div ng-repeat="workspace in vm.workspaces | filter:query as filtered" class="col">
          <div ng-click="vm.select($event, workspace)" href="#" class="workspace-card shadow-sm">
            <div class="dropdown" ng-if="workspace.UserWorkspace.is_owner || vm.currentPrincipal.isAdmin">
              <div
                class="dropdown-button icon-btn icon-btn-primary"
                data-toggle="dropdown"
                ng-click="vm.dropdownClick($event)"
              >
                <i class="fa fa-angle-down"></i>
              </div>
              <div class="dropdown-menu dropdown-menu-right" ng-click="vm.dropdownClick($event)">
                <nav class="nav nav-style-2 flex-column">
                  <div class="nav-link" ng-click="vm.editWorkspace(workspace)">
                    <i class="fa fa-2x fa-edit"></i>
                    <span>Edit</span>
                  </div>
                  <div class="nav-link" ng-click="vm.deleteWorkspace(workspace)">
                    <i class="fa fa-2x fa-times-circle"></i>
                    <span>Delete</span>
                  </div>
                </nav>
              </div>
            </div>
            <div class="workspace-color" ng-style="{'background-color': workspace.color }"></div>
            <h5 class="heavyheader text-truncate">{{workspace.name}}</h5>
            <p>{{workspace.description}}</p>
          </div>
        </div>
        <div ng-if="filtered.length == 0" class="col">
          <h6 class="tx-semibold">
            No workspaces available! <a ui-sref="site.workspace.edit({ id: 'new' })" href="#">Create</a> one now.
          </h6>
        </div>
      </div>
    </div>
  </section>
</div>
