.workspace-select {
  header.naked {
    margin-bottom: 0;
  }
  .masthead-wrapper {
    background-image: linear-gradient(155deg,#002f62,#18496a 50%,#138b89)
  }

  .masthead {
    background-position: calc(50% - 550px) 3px,calc(50% + 550px) 3px;
    background-repeat: no-repeat,no-repeat;
    min-height: 335px;
  }
  .masthead-content {
    max-width: 800px;
    padding-top: 2rem;
    text-align: center;
    h1 {
      font-weight: 300;
      font-size: 45px;
    }
    > p {
      color: $color-pale-sky;
      font-size: 16px;
      margin: 1.5rem 0 2rem;
    }
  }
  .workspace-search {
  	position: relative;
    display: flex;
    .search-input {
      border-radius: 99rem;
      box-sizing: border-box;
      padding: 1.5rem;
    }
    .btn {
      position: relative;
      right: 1.2rem;
      top: 0;
      z-index: 5;
    }
  }
  .categories-sidenav {
    ul.nav {
      margin-left: -8px;
    }
    .nav li {
      width: 100%;
       a {
        &:hover, &:active, &:focus {
          background-color: lighten($color-pale-sky,50%);
          color: darken($color-cerulean,5%);
        }
      }
      &.active
      a {
        background-color: lighten($color-pale-sky,50%);
        color: darken($color-cerulean,5%);
      }
    }
  }
  .workspaces-content {
    a.card {
      color: inherit;
      padding: 1rem 1rem 1rem 7rem;
      &:hover, &:active, &:focus {
        text-decoration: none;
      }
      &:hover {
        transform: translateY(-5px);
      }
      button {
        position: absolute;
        left: 1rem;
        top: .8rem;
        width: 4.5rem;
        max-height: 4.5rem;
        height: 4.5rem;
      }
      h5 {
        font-size: 15px;
        line-height: 1.25;
        margin-bottom: 0.3rem;
      }
      p {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 0;

        // Line clamp code (keep it to 3 lines only)
  			-webkit-box-orient: vertical;
  			display: -webkit-box;
  			-webkit-line-clamp: 3;
  			overflow: hidden;
      }
    }
    .workspaces {
      .col {
        min-width: 50%;
        max-width: 50%;
        margin-bottom: 1.5rem;
        @include media-breakpoint-down(lg) {
          min-width: 100%;
          width: 100%;
       }
      }
      a.card {
        width: 100%;
        height: 100px;

        @include media-breakpoint-down(lg) {
          max-width: 100%;
         width: 100%;
        }
      }
    }
  }
}
