<div class="container-fluid signup-container">
  <div class="row animated fadeInLeft">
    <div class="col-auto mr-auto mt-3">
      <button class="btn btn-outline btn-sm btn-oblong hvr-backward w80" ui-sref="site.main.main"><i class="fa fa-arrow-left"></i> Back</button>
    </div>
  </div>
  <div class="row my-5 justify-content-center animated fadeIn">
    <div class="col-md-auto align-self-center">
      <h1 class="text-center">Sign Up</h1>

      <form class="form form-wrapper" name="form" ng-submit="vm.register(form)" id="signup-form" novalidate>

        <div class="form-group">
          <label>Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.user.username" required minlength='3' maxlength='20' mongoose-error="mongoose-error"/>
        </div>

        <div class="form-group">
          <label>First Name</label>
          <input type="text" name="first_name" class="form-control" ng-model="vm.user.first_name" required/>
        </div>

        <div class="form-group">
          <label>Last Name</label>
          <input type="text" name="last_name" class="form-control" ng-model="vm.user.last_name" required/>
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="email" name="email" class="form-control" ng-model="vm.user.email" required mongoose-error="mongoose-error"/>
        </div>

        <div class="form-group">
          <label>Department</label>
          <select ng-options="fd as fd.name for fd in vm.fireDepartments | orderBy: 'name' track by fd._id" ng-model="vm.user.requested_fire_department_id" class="form-control select-md">
            <option value="">-- New Department --</option>
          </select>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" id="password1" name="password1" data-parsley-minlength="8" data-parsley-uppercase="1" data-parsley-lowercase="1" data-parsley-number="1" required class="form-control" ng-model="vm.user.password" mongoose-error="mongoose-error"/>
        </div>

        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" id="password2" name="password2" data-parsley-equalto="#password1" required class="form-control" data-parsley-trigger="keyup" ng-model="vm.user.confirmPassword"/>
        </div>

        <div>
          <p class="help-block" ng-show="this.errors">
            <ul>
              <li ng-repeat="error in vm.errors">
                <p class="text-danger">{{ error.message }}</p>
              </li>
            </ul>
          </p>
          <button id='signup-sign-up' class="btn btn-primary btn-lg btn-oblong hvr-float w180 signup" type="submit">
            Sign up
          </button>
        </div>
        <div class="col-12 form-extras">
          <span class="d-flex w-100" >Already have an account? <a class="ml-3" ui-sref="site.account.login"> Sign In <i class="fa fa-chevron-right"></i></a></span>
        </div>
      </form>
    </div>
  </div>
</div>
