.signup-container {
  background: linear-gradient(135deg, #124265, #0b223c);
  position: fixed;
  color: white;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  h1 {
    margin-top: 0;
  }
  button.signup {
    min-width: 138px;
  }
}
.btn-register {
  min-width: inherit;
  margin-left: 1rem;
}
