.signup-container {
    background: linear-gradient(135deg, #124265, #0b223c);
    height: 100%;
    position: absolute;
    color: white;
  }

  .btn-register {
    min-width: inherit;
    margin-left: 1rem;
  }
