$statengine-font-path: /assets/fonts/statengine !default;

$se-icon-dashboard: \e900;
$se-icon-help: \e901;
$se-icon-user: \e902;
$se-icon-buildings: \e903;
$se-icon-year: \e904;
$se-icon-dwelling-value: \e905;
$se-icon-land-area: \e906;
$se-icon-census-tract: \e907;
$se-icon-census-block: \e908;
$se-icon-land-use: \e909;
$se-icon-info: \e910;
$se-icon-circle-checkmark: \e911;
$se-icon-circle-exclamation: \e912;
$se-icon-circle-x: \e913;
$se-icon-control-center: \e914;
$se-icon-apps: \e915;
$se-icon-marketplace: \e916;
$se-icon-dashboard-alt: \e917;
$se-icon-reports: \e918;
$se-icon-fire-departments: \e919;
$se-icon-users: \e920;
$se-icon-collapse-sidebar: \e921;
$se-icon-clock: \e922;
$se-icon-rank: \e923;
$se-icon-circle-x-alt: \e90a;
$se-icon-add-dashboard: \e90b;
$se-icon-duplicate: \e90c;
