<section class="container py-5">
  <section class="row mb-12 justify-content-md-center">
    <div class="col-md-auto align-self-center">
      <h2 class="subheader">Edit Fire Department</h2>
      <div class="form-elements">
        <form class="form form-wrapper ng-pristine ng-invalid ng-invalid-required" name="fdForm" ng-submit="vm.updateFireDepartment(fdForm)" novalidate="">

          <div ng-if="vm.fireDepartment._id" class="form-group " ng-class="{ 'has-success': fdForm.customer_id.$valid && vm.submitted,'has-error': fdForm.customer_id.$invalid && vm.submitted }">
            <label>Customer ID</label>
            <input type="text" name="customer_id" class="form-control input-md" ng-model="vm.fireDepartment.customer_id"/>
            <p class="help-block" ng-show="fdForm.customer_id.$error.required && vm.submitted">
                Customer ID is required
            </p>
          </div>

          <div class="form-group " ng-class="{ 'has-success': fdForm.firecares_id.$valid && vm.submitted,'has-error': fdForm.firecares_id.$invalid && vm.submitted }">
            <label>Firecares ID</label>
            <input type="text" name="firecares_id" class="form-control input-md" ng-model="vm.fireDepartment.firecares_id" required="required"/>
            <p class="help-block" ng-show="fdForm.firecares_id.$error.required && vm.submitted">
              Firecares ID is required
            </p>
          </div>

          <div class="form-group " ng-class="{ 'has-success': fdForm.fd_id.$valid && vm.submitted,'has-error': fdForm.fd_id.$invalid && vm.submitted }">
            <label>FD ID</label>
            <input type="text" name="fd_id" class="form-control input-md" ng-model="vm.fireDepartment.fd_id" required="required"/>
            <p class="help-block" ng-show="fdForm.fd_id.$error.required && vm.submitted">
              FD ID is required
            </p>
          </div>

          <div class="form-group " ng-class="{ 'has-success': fdForm.name.$valid && vm.submitted,'has-error': fdForm.name.$invalid && vm.submitted }">
            <label>Name</label>
            <input type="text" name="name" class="form-control input-md" ng-model="vm.fireDepartment.name" required="required"/>
            <p class="help-block" ng-show="fdForm.name.$error.required && vm.submitted">
              Name is required
            </p>
          </div>

          <div class="form-group " ng-class="{ 'has-success': fdForm.state.$valid && vm.submitted,'has-error': fdForm.state.$invalid && vm.submitted }">
            <label>State</label>
            <input type="text" name="state" class="form-control input-md" ng-model="vm.fireDepartment.state" required="required"/>
            <p class="help-block" ng-show="fdForm.state.$error.required && vm.submitted">
              State is required
            </p>
          </div>

          <div class="form-group " ng-class="{ 'has-success': fdForm.latitude.$valid && vm.submitted,'has-error': fdForm.latitude.$invalid && vm.submitted }">
            <label>Latitude</label>
            <input type="number" name="latitude" class="form-control input-md" ng-model="vm.fireDepartment.latitude" required="required"/>
            <p class="help-block" ng-show="fdForm.latitude.$error.required && vm.submitted">
              Latitude is required
            </p>
          </div>

          <div class="form-group " ng-class="{ 'has-success': fdForm.longitude.$valid && vm.submitted,'has-error': fdForm.longitude.$invalid && vm.submitted }">
            <label>Longitude</label>
            <input type="number" name="longitude" class="form-control input-md" ng-model="vm.fireDepartment.longitude" required="required"/>
            <p class="help-block" ng-show="fdForm.longitude.$error.required && vm.submitted">
              Longitude is required
            </p>
          </div>

          <div class="form-group " ng-class="{ 'has-success': fdForm.longitude.$valid && vm.submitted,'has-error': fdForm.longitude.$invalid && vm.submitted }">
            <label>Logo Link</label>
            <input type="text" name="logo_link" class="form-control input-md" ng-model="vm.fireDepartment.logo_link"/>
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-alt-2 btn-sm" ngf-select="vm.setFile($file)" ng-model="file">Upload Logo</button>
          </div>

          <div class="form-group" ng-show="!file.$error && file">
            <img ngf-src="!file.$error && file" ngf-resize="{width: 100, height: 100, quality: 0.9}"/>
          </div>

          <div class="form-group " ng-class="{ 'has-success': fdForm.timezone.$valid && vm.submitted,'has-error': fdForm.timezone.$invalid && vm.submitted }">
            <label>Timezone</label>
            <select name="timezone" class="form-control input-md" ng-model="vm.fireDepartment.timezone" required>
              <option ng-repeat="timezone in vm.timezones" value="{{timezone}}">{{timezone}}</option>
            </select>
            <p class="help-block" ng-show="fdForm.timezone.$error.required && vm.submitted">
              Timezone is required
            </p>
          </div>

          <div class="form-group " ng-class="{ 'has-success': fdForm.integration_complete.$valid && vm.submitted,'has-error': fdForm.integration_complete.$invalid && vm.submitted }">
            <label>Integration Complete</label>
            <input type="checkbox" name="integration_complete" class="form-control input-md" ng-model="vm.fireDepartment.integration_complete"/>
          </div>

          <div class="form-group " ng-class="{ 'has-success': fdForm.integration_verified.$valid && vm.submitted,'has-error': fdForm.integration_verified.$invalid && vm.submitted }">
            <label>Integration Verified</label>
            <input type="checkbox" name="integration_verified" class="form-control input-md" ng-model="vm.fireDepartment.integration_verified"/>
          </div>

          <div>
            <div class="help-block" ng-show="vm.errors">
              <ul>
                <li ng-repeat="error in vm.errors">
                  <p class="text-danger">{{ error.message }}</p>
                </li>
              </ul>
            </div>
            <span><button id='save_user_profile_btn' type="submit" class="btn btn-alt-2 btn-sm">Save Changes</button></span>
          </div>
        </form>
      </div>
    </div>
  </section>
</section>
