/*!
 * Bracket Plus Responsive Dashboard Template
 * Version: 1.1.0
 * Author: ThemePixels (@themepixels)
 * URL: http://themepixels.me/bracketplus
 *
 * TABLE OF CONTENTS
 *
 * 1.   GOOGLE FONTS IMPORT
 *
 * 2.   BOOTSTRAP FRAMEWORK
 *
 * 3.   BOOTSTRAP OVERRIDES
 *        3.1   Alerts
 *        3.2   Buttons
 *        3.3   Cards
 *        3.4   Carousel
 *        3.5   Custom
 *        3.6   Custom Forms
 *        3.7   Forms
 *        3.8   Form Layouts
 *        3.9   Modal
 *        3.10  Navigation
 *        3.11  Pagination
 *        3.12  Popover
 *        3.13  Progress
 *        3.14  Tooltip
 *        3.15  Tables
 *        3.16  Widgets
 *
 * 4.   CUSTOM VENDOR STYLES
 *        4.1   Chartist
 *        4.2   Codemirror
 *        4.3   Datatables
 *        4.4   Flot
 *        4.5   IonRangeSlider
 *        4.6   jQuery Steps
 *        4.7   jQuery UI
 *        4.8   JQVMap
 *        4.9   Leaflet
 *        4.10  Medium Editor
 *        4.11  Morris
 *        4.12  Parsley
 *        4.13  Perfect Scrollbar
 *        4.14  Rickshaw
 *        4.15  Select2
 *        4.16  Sparkline
 *        4.17  Spectrum
 *        4.18  Summernote
 *        4.19  Switch Buttons
 *        4.20  TagsInput
 *        4.21  Toggles
 *
 * 5.   BRACKET PLUS CORE STYLES
 *
 * 6.   FULL RTL SUPPORT
 *
 * 7.   UTILITIES / HELPER CLASSES
 *        7.1   Background
 *        7.2   Border
 *        7.3   Height
 *        7.4   Hover
 *        7.5   Margin
 *        7.6   Misc
 *        7.7   Padding
 *        7.8   Position
 *        7.9   Typography
 *        7.10  Width
 *
**/

// Bootstrap variable overrides
@import "bootstrap/variables";

/* ------------------------------------------------------ */
/* ############### 2. BOOTSTRAP FRAMEWORK ############### */
/* ------------------------------------------------------ */
@import "~bootstrap/scss/bootstrap";

// Custom mixins for bootstrap
@import "bootstrap/mixins";

/* ------------------------------------------------------ */
/* ############### 3. BOOTSTRAP OVERRIDES ############### */
/* ------------------------------------------------------ */
//@import "bootstrap/alerts";
@import "bootstrap/buttons";
//@import "bootstrap/card";
//@import "bootstrap/carousel";
//@import "bootstrap/custom";
//@import "bootstrap/custom-forms";
//@import "bootstrap/forms";
//@import "bootstrap/form-layouts";
//@import "bootstrap/modal";
@import "bootstrap/nav";
//@import "bootstrap/pagination";
//@import "bootstrap/popover";
//@import "bootstrap/progress";
//@import "bootstrap/tooltip";
//@import "bootstrap/tables";
//@import "bootstrap/widgets";

// Custom mixins for lib styles
//@import "lib/mixins";

/* ------------------------------------------------------- */
/* ############### 4. CUSTOM VENDOR STYLES ############### */
/* ------------------------------------------------------- */
//@import "lib/chartist";
//@import "lib/codemirror";
//@import "lib/datatables";
//@import "lib/flot";
//@import "lib/ionrangeslider";
//@import "lib/jquery-steps";
//@import "lib/jqvmap";
//@import "lib/jquery-ui";
//@import "lib/leaflet";
//@import "lib/medium-editor";
//@import "lib/morris";
//@import "lib/parsley";
//@import "lib/perfect-scrollbar";
//@import "lib/rickshaw";
//@import "lib/select2";
//@import "lib/sparkline";
//@import "lib/spectrum";
//@import "lib/summernote";
//@import "lib/switchbutton";
//@import "lib/tagsinput";
//@import "lib/toggles";


/* ----------------------------------------------------------- */
/* ############### 5. BRACKET PLUS CORE STYLES ############### */
/* ----------------------------------------------------------- */
@import "app";

/* --------------------------------------------------- */
/* ############### 6. FULL RTL SUPPORT ############### */
/* --------------------------------------------------- */
//@import "rtl";

// INTRO PAGE
//@import "intro";

/* ------------------------------------------------------------- */
/* ############### 7. UTILITIES / HELPER CLASSES ############### */
/* ------------------------------------------------------------- */
@import "util/background";
@import "util/border";
@import "util/height";
@import "util/hover";
@import "util/margin";
@import "util/misc";
@import "util/padding";
@import "util/position";
@import "util/typography";
@import "util/width";
