.badge-success-light {
  color: #25ad46;
  background-color: #e9ffee;
  border: 1px solid #25ad46;
}

.badge-danger-light {
    color: #dd3241;
    background-color: #fdebed;
    border: 1px solid #dd3241;
}

.badge-icon {
  font-size: .75rem;
}
