.vis-timeline {
  border: 0;
}

.vis-labelset .vis-label {
  border-bottom: 0;
  text-align: right;
  .vis-inner {
    padding: 1rem 1.5rem;
    b {
      color: $color-pickled-bluewood;
      font-weight: normal;
    }
  }
}

.vis-panel.vis-left {
  border-bottom: 0;
}

.vis-panel.vis-center,
.vis-panel.vis-left,
.vis-panel.vis-right,
.vis-panel.vis-top,
.vis-panel.vis-bottom,
.vis-foreground .vis-group {
  border-color: $color-geyser;
  border-right: 1px solid #D7DEE3;
}

.vis-foreground .vis-group:first-child {
  border-top: 1px solid $color-geyser;
}

.vis-item.point {
  border-color: #2E3E47;
}

.vis-item.vis-range {
  border-radius: 0;
}

.vis-item .vis-item-content {
  padding: 0;
}

.vis-time-axis.vis-foreground {
  border-bottom: 1px solid $color-geyser;
  border-right: 1px solid $color-geyser;
}

.vis-time-axis .vis-grid.vis-major {
  border-color: $color-geyser;
}

.vis-time-axis .vis-text {
  color: $color-pickled-bluewood;
}

.vis-item.vis-background .vis-item-content b  {
  display: none;
}

.vis-item.alarm-answering-duration {
  background-color: $color-celery;
  border-color: darken($color-celery,25%);
}

.vis-item.alarm-processing-duration {
  background-color: $color-wisteria;
  border-color: darken($color-wisteria,25%);
}

.vis-item.unit-turnout-duration {
  background-color: $color-tulip-tree;
  border-color: darken($color-tulip-tree,25%);
}

.vis-item.unit-travel-duration {
  background-color: $color-di-serria;
  border-color: darken($color-di-serria,25%);
}

.vis-item.unit-transport-duration {
  background-color: $color-pickled-bluewood;
  border-color: darken($color-pickled-bluewood,25%);
}

.vis-item.unit-post-transport-duration {
  background-color: $color-pale-sky;
  border-color: darken($color-pale-sky,25%);
}

.vis-item.unit-cancelled-duration {
  background-color: $color-cranberry;
  border-color: darken($color-cranberry,25%);
}

.vis-item.unit-intervention-duration {
  background-color: $color-pelorous;
  border-color: darken($color-pelorous,25%);
}

.vis-item.unit-event-duration {
  background-color: $color-pelorous;
  border-color: darken($color-pelorous,25%);
}

.vis-item.event-duration {
  background-color: rgba(205, 218, 224, 0.3);
}

.vis.timeline .item.dot {
  border: 0;
  background: transparent;
}

.vis.timeline .item.point .content {
    margin-left: 0px !important;
}
.vis.timeline .item.point .content .fa {
    margin-right: 5px;
}
.vis.timeline .item.dot {
    display: none;
}

.mapboxgl-canvas {
  @media print {
    width: 100% !important;
    height: 100% !important;
  }
}

.mapboxgl-control-container {
  @media print {
    display: none;
  }
}
