.twitter-home {
  .tweet-cell {
    max-width: 350px;
  }

  .action-cell {
    min-width: 175px;
  }

  .twitter-media {
    width: 200px;
    height: 100px;
  }

  .badge-danger {
    background-color: $color-brand-danger;
  }

  .badge-primary {
    background-color: #5bc0de;
  }

  .badge-success {
    background-color: #28a745;
  }

  .badge-warning {
    background-color: #ffc107;
  }
}
