<div>
  <navbar class="animated fadeInDown naked"></navbar>
  <header class="naked"></header>
  <section class="fluid-container py-5">
    <div class="container">
      <section class="row" ng-if="!vm.authorized">
        <div class="col-md-6">
          <h2 class="subheader text-center">
          Please authorize StatEngine to use your Twitter account
          </h2>
          <p class="text-center">
            <button class="btn btn-primary" ng-click="vm.authorize()"> Authorize </button>
          </p>
        </div>
        <div id="intro-image" class="col-md-5 ml-auto">
          <img src="/assets/images/Twitter_Logo_Blue.svg" class="twitter-logo">
        </div>
      </section>
      <section ng-if="vm.authorized">
        <div class="row">
          <div class="col-sm-5">
            <label>Twitter Account:</label> {{ vm.twitterProfile.name }}
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <h3 class="mb-2" >Tweet Recommendations</h3>
            <p>Tweet any of our recommendations directly to <a href="http://twitter.com" target="_blank">Twitter</a>. You can also discard, preview, or edit any recommendations prior to tweeting.</p>
          </div>
          <div class="col-12 py-4">
            <div class="table mb-5">
              <div class="table-row header">
                <div class="cell tweet-cell">
                  Text
                </div>
                <div class="cell">
                  Media
                </div>
                <div class="cell">
                  Date Recommended
                </div>
                <div class="cell">
                  Date Tweeted
                </div>
                <div class="cell">
                  Status
                </div>
                <div class="cell">
                  Actions
                </div>
              </div>
              <div class="table-row" ng-repeat="tweet in vm.tweets">
                <div class="cell tweet-cell" data-title="Text">
                  {{tweet.tweet_json.status}}
                </div>
                <div class="cell" data-title="Media">
                  {{tweet.media_path || '-'}}
                </div>
                <div class="cell" data-title="Media">
                  {{tweet.date_created | date: 'medium'}}
                </div>
                <div class="cell" data-title="Media">
                  {{tweet.date_tweeted | date: 'medium'}}
                </div>
                <div class="cell" data-title="Status">
                  <span ng-class="{'badge-danger': tweet.status === 'FAILED', 'badge-success': tweet.status === 'PENDING', 'badge-primary': tweet.status === 'TWEETED'}" class="badge">
                    {{tweet.status}}
                  </span>
                </div>
                <div class="cell" data-title="Actions">
                  <button class="btn-link" ng-click="vm.editTweet(tweet)" ng-class="{'fa-disabled': tweet.date_tweeted }" ng-disabled="tweet.date_tweeted" uib-popover="Edit" popover-trigger="'mouseenter'"><i class="fa fa-2x fa-pencil text-warning"></i></button>
                  <button class="btn-link" ng-click="vm.previewTweet(tweet)" uib-popover="Preview/View" popover-trigger="'mouseenter'"><i class="fa fa-2x fa-eye text-success"></i></button>
                  <button class="btn-link" ng-click="vm.postTweet(tweet)" ng-class="{'fa-disabled': tweet.date_tweeted }" ng-disabled="tweet.date_tweeted" uib-popover="Tweet" popover-trigger="'mouseenter'"><i class="fa fa-2x fa-twitter text-primary"></i></button>
                  <button class="btn-link" ng-click="vm.deleteTweet(tweet)" ng-class="{'fa-disabled': tweet.date_tweeted }" ng-disabled="tweet.date_tweeted" uib-popover="Delete" popover-trigger="'mouseenter'"><i class="fa fa-2x fa-trash text-danger"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <footer id="footer"></footer>
</div>
