<div class="site">
  <navbar class="animated fadeInDown naked"></navbar>
  <header class="naked"></header>
  <section class="fluid-container pt-5 pb-3 site-content">
    <div class="container">
      <section class="row" ng-if="!vm.authorized">
        <div class="col-md-10 col-md-offset-1 text-center">
          <h3 class="subheader mb-4 pb-4">Please authorize StatEngine to use your Twitter account.</h3>
          <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <p class="text-left">This application <strong class="text-success">will be able to</strong>:</p>
              <ul class="statengine ml-5 text-left">
                <li>Read tweets from your timeline</li>
                <li>See who you follow</li>
                <li>Post tweets on your behalf</li>
              </ul>
            </div>
            <div class="col-md-4">
              <p class="text-left">This application <strong class="text-danger">will NOT be able to</strong>:</p>
              <ul class="statengine ml-5 text-left">
                <li>Access your private messages</li>
                <li>See your password</li>
                <li>Update your profile</li>
              </ul>
            </div>
          </div>
          <button class="btn btn-primary mt-4 mb-5" ng-click="vm.authorize()">Authorize this Integration</button>
        </div>

        <div id="intro-image" class="col-md-5">
          <!-- <img src="/assets/images/Twitter_Logo_Blue.svg" class="twitter-logo"> -->

        </div>
      </section>
      <section ng-if="vm.authorized">
        <div class="row">
          <div class="col text-center">
            <h1>{{ vm.twitterProfile.name }}</h1>
            <img src={{vm.twitterProfile.profile_image_url_https}}></img>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-md-8">
            <h3 class="mb-2" >Tweet Recommendations</h3>
            <p>Tweet any of our recommendations directly to <a href="http://twitter.com" target="_blank">Twitter</a>. You can also discard, preview, or edit any recommendations prior to tweeting.</p>
          </div>
          <div class="col-12 py-4">
            <div class="table mb-5">
              <div class="table-row header">
                <div class="cell tweet-cell">
                  Text
                </div>
                <div class="cell">
                  Media
                </div>
                <div class="cell">
                  Date Recommended
                </div>
                <div class="cell">
                  Date Tweeted
                </div>
                <div class="cell">
                  Status
                </div>
                <div class="cell">
                  Actions
                </div>
              </div>
              <div class="table-row" ng-repeat="tweet in vm.tweets">
                <div class="cell tweet-cell" data-title="Text">
                  {{tweet.tweet_json.status}}
                </div>
                <div class="cell" data-title="Media">
                  {{tweet.media_path || '-'}}
                </div>
                <div class="cell" data-title="Media">
                  {{tweet.date_created | date: 'medium'}}
                </div>
                <div class="cell" data-title="Media">
                  {{tweet.date_tweeted | date: 'medium'}}
                </div>
                <div class="cell" data-title="Status">
                  <span ng-class="{'badge-danger': tweet.status === 'FAILED', 'badge-success': tweet.status === 'PENDING', 'badge-primary': tweet.status === 'TWEETED'}" class="badge">
                    {{tweet.status}}
                  </span>
                </div>
                <div class="cell" data-title="Actions">
                  <button class="btn-link" ng-click="vm.editTweet(tweet)" ng-class="{'fa-disabled': tweet.date_tweeted }" ng-disabled="tweet.date_tweeted" uib-popover="Edit" popover-trigger="'mouseenter'"><i class="fa fa-2x fa-pencil text-warning"></i></button>
                  <button class="btn-link" ng-click="vm.previewTweet(tweet)" uib-popover="Preview/View" popover-trigger="'mouseenter'"><i class="fa fa-2x fa-eye text-success"></i></button>
                  <button class="btn-link" ng-click="vm.postTweet(tweet)" ng-class="{'fa-disabled': tweet.date_tweeted }" ng-disabled="tweet.date_tweeted" uib-popover="Tweet" popover-trigger="'mouseenter'"><i class="fa fa-2x fa-twitter text-primary"></i></button>
                  <button class="btn-link" ng-click="vm.deleteTweet(tweet)" ng-class="{'fa-disabled': tweet.date_tweeted }" ng-disabled="tweet.date_tweeted" uib-popover="Delete" popover-trigger="'mouseenter'"><i class="fa fa-2x fa-trash text-danger"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <footer id="footer"></footer>
</div>
