.twitter-home {
  .tweet-cell {
    max-width: 350px;
  }

  .action-cell {
    min-width: 175px;
  }

  .badge-danger {
    background-color: $color-brand-danger;
  }

  .badge-primary {
    background-color: #5bc0de;
  }

  .badge-success {
    background-color: $color-brand-success;
  }

  .badge-warning {
    background-color: #ffc107;
  }

  .extension-logo img {
    max-width: 14rem;
  }

  .authorize {
    background-color: white;
    border-radius: 6px;
    box-shadow: 1px 2px 15px rgba(34, 53, 77, 0.1);
    padding: 2.5rem 4rem;
  }

  .extension-attribution,
  i:before {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }

  .extension-attribution i:before {
    font-size: 24px;
    position: relative;
    top: 3px;
  }

  .twitter-account-info {
    .avatar {
      max-width: 93px;
      min-width: 90px;

      img {
        border-radius: 999rem;
      }
    }

    .checkmark {
      background: white;
      border-radius: 9999rem;
      padding-top: 2px;
      position: absolute;

      &::before {
        font-size: 26px;
      }
    }
  }

  .recommendations .intro i::before {
    font-size: 22px;
    margin: 0 0.15rem 0 0.35rem;
  }

  .tweet-card-yellow {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    }

  .tweet-card {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    overflow: hidden;
    text-align: left;
    transition: all 0.2s ease-in-out;
    word-wrap: break-word;
    box-shadow: none;

    &:hover {
      box-shadow: 1px 6px 14px #e0e2e3b8;
      transform: translateY(-2px);
    }

    .tweet-actions {
      align-self: flex-end;
      display: flex;
      justify-self: end;
      margin-top: 1.5rem;
      width: 100%;

      button {
        color: lighten($color-pale-sky,25%);
        margin-right: 1.5rem;

        &:hover {
          color: $color-cerulean;
        }
      }

      i::before {
        font-size: 22px;
      }
    }
  }

  .recent-activity {
    .table .table-row .cell {
      border-bottom: 0;
    }

    .table .table-row.header {
      color: $color-pickled-bluewood;
    }
  }

  .disclaimer h5 {
    font-size: 13px;
    line-height: 1.5;
  }
}

.twitter-media {
  width: 200px;
  height: 100px;
}
