@mixin table-controls($breakpoint: 768px) {
  button {
    @include media-breakpoint-down(xs) {
      @include btn-sm();
    }
  }

  loading-spinner {
    margin-left: 2rem;

    @include media-breakpoint-down(xs) {
      width: 30px;
      height: 30px;
    }
  }

  .root {
    display: grid;

    &.position-top {
      grid-template-areas:
        'empty sort'
        'page  page-size';

      .sort-control {
        margin-bottom: 1rem;
      }

      @media screen and (max-width: $breakpoint) {
        grid-template-areas:
          'sort'
          'page-size'
          'page';

        .page-size-control {
          margin-bottom: 1rem;
        }
      }

      margin-bottom: 1rem;
    }

    &.position-bottom {
      grid-template-areas:
        'page  page-size'
        'empty sort';

      .page-control {
        margin-bottom: 1rem;
      }

      .page-size-control {
        margin-bottom: 1rem;
      }

      @media screen and (max-width: $breakpoint) {
        grid-template-areas:
          'page'
          'page-size'
          'sort';
      }

      margin-top: 1rem;
    }
  }

  .page-control {
    grid-area: page;
    display: flex;
    align-items: center;
    position: relative;

    .page-number {
      margin: 0 1rem;

      .page-number-select {
        display: inline-block !important;
        width: auto !important;
        vertical-align: middle !important;

        @include media-breakpoint-down(xs) {
          @include form-control-sm();
        }
      }
    }
  }

  .sort-control {
    grid-area: sort;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media screen and (max-width: $breakpoint) {
      justify-content: flex-start;
    }

    .sort-select {
      display: inline-block !important;
      width: auto !important;
      vertical-align: middle !important;

      @include media-breakpoint-down(xs) {
        @include form-control-sm();
      }
    }
  }

  .page-size-control {
    grid-area: page-size;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media screen and (max-width: $breakpoint) {
      justify-content: flex-start;
    }

    .page-size-select {
      display: inline-block !important;
      width: auto !important;
      vertical-align: middle !important;

      @include media-breakpoint-down(xs) {
        @include form-control-sm();
      }
    }
  }
}

table-controls {
  @include table-controls();
}
