<div class="site-content">
  <header class="naked mb-2"></header>
  <div class="container">
    <div class="row text-center" ng-if="!vm.authorized">
      <div class="col-md-8 col-md-offset-2 mt-5">
        <!-- Integration Info & Description -->
        <div class="extension-logo pb-3">
          <img src="../assets/images/extensions/extension-reporting.svg" alt="Reporting">
        </div>
        <br>
      </div>
    </div>
  </div>
  <section class="fluid-container py-5 nfpa-analysis">
    <div class="container">
      <h3 class="mb-2">Safety Message</h3>
      <h5>Enter a custom safety message below or <button ng-click="vm.getRandomSafetyMessage()" class="btn btn-primary btn-sm">use one of ours</button>.</h5>
      <div class="row">
        <div class="col-12 py-4">
          <div summernote ng-model="vm.safetyMessage"></div>
        </div>
        Debug:
        {{vm.safetyMessage}}
      </div>
    </div>
  </section>

  <section class="fluid-container py-5 nfpa-analysis">
    <div class="container">
      <h3 class="mb-2">Weather</h3>
      <h5>What's on tap for today?</h5>
      <div class="row">
        <div class="col-12 py-4">
          <div summernote ng-model="vm.training"></div>
        </div>
        Debug:
        {{vm.training}}
      </div>
    </div>
  </section>
</div>
