<div class="site-content">
  <header class="naked mb-2"></header>
  <div class="container">
    <div class="row text-center" ng-if="!vm.authorized">
      <div class="col-md-8 col-md-offset-2 mt-5">
        <!-- Integration Info & Description -->
        <div class="extension-logo pb-3">
          <img src="../assets/images/extensions/extension-reporting.svg" alt="Reporting">
        </div>
        <br>
      </div>
    </div>
    <h1 class="text-center"> Daily Message for {{ vm.now.format('MMM Do, YYYY') }} </h1>
  </div>
  <hr>
  <section class="fluid-container">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <h3 class="mb-2">Safety Message</h3>
          <h5>Enter a custom safety message below or <button ng-click="vm.refreshSafetyMessage()" class="btn btn-primary btn-sm">use one of ours</button>.</h5>
        </div>
        <div class="col-9 py-4">
          <div summernote ng-model="vm.safetyMessage"></div>
        </div>
      </div>
    </div>
  </section>
  <hr>

  <section class="fluid-container">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <h3 class="mb-2">Weather Commentary</h3>
          icon placeholder <br>
          <label> Summary: </label> {{ vm.weatherForcast.daily.data[0].summary }} <br>
          <label> Sunrise: </label> {{ vm.weatherForcast.daily.data[0].sunriseTime }} <br>
          <label> Sunset: </label> {{ vm.weatherForcast.daily.data[0].sunsetTime }} <br>
          <label> Low: </label> {{ vm.weatherForcast.daily.data[0].temperatureLow }}<br>
          <label> High: </label> {{ vm.weatherForcast.daily.data[0].temperatureHigh }}<br>

          <label> Precipiation: </label> {{ vm.weatherForcast.daily.data[0].precipProbability*100 }} % of {{ vm.weatherForcast.daily.data[0].precipType }}<br>
          <label> Wind: </label> {{ vm.weatherForcast.daily.data[0].windSpeed }} mph with gusts up to {{ vm.weatherForcast.daily.data[0].windGust }} mph<br>

          <p>

          <label> Alerts: </label> {{ vm.weatherForcast.daily.alerts }} <br>
        </div>
        <div class="col-9 py-4">
          <summernote ng-model="vm.weatherCommentary" height="250" config="{ placeholder: 'Any special precautions?'}"></summernote>
        </div>
      </div>
    </div>
  </section>
  <hr>

  <section class="fluid-container">
    <div class="container">
      <h3 class="mb-2">Incident Summary</h3>
      <stats-table data="vm.incidentSummary"></stats-table>
      <br>
      <h3 class="mb-2">Unit Summary</h3>
      <stats-table data="vm.unitSummary"></stats-table>

      <div class="row">
        <div class="col-12 py-4">
          <div summernote ng-model="vm.incidentCommentary" config="{ placeholder: 'Any special remarks?'}"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="container py-2 pt-3 mt-4">
    <button class="btn btn-default" ng-click="vm.reset()">Reset</button>
    <button class="btn btn-primary" ng-click="vm.save()">Save</button>
  </section>
</div>
