reporting-unit-list {

  .br-mailbox-list {
    position: unset;
    top: unset;
    bottom: unset;
    left: unset;
    z-index: unset;
    height: 100%;
    max-height: 100%;

    .br-mailbox-list-item {
      &::before {
        background-color: $color-cerulean;
      }

      &.selected {
        background-color: white !important;

        &::before {
          top: -1px;
          bottom: -1px;
          opacity: 1;
        }
      }
    }
  }

  .br-mailbox-list-sort {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 20px;
  }
}
