<div class="alert alert-danger" role="alert">
    <h3>Validation Errors: {{ vm.incidents.count }}</h3> 
    <ul>
        <li ng-repeat='error in vm.incidents.items | limitTo: 5'>
            <p class="text-danger"> - {{ error._source.validation.errorsText }}</p>
        </li>
    </ul>

    <a class="btn btn-danger" target="_blank" href="/_plugin/kibana/app/kibana#/discover?_g=(refreshInterval:(pause:!f,value:5000),time:(from:now-5y,mode:quick,to:now))&_a=(columns:!(_source),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,interval:auto,query:(language:lucene,query:''),sort:!(description.event_opened,desc))">Go to Discovery</a>
</div>