/////////////////////////////////
// KITCHEN SINK STYLES //
////////////////////////////////

// GENERIC
.kitchen-sink {
  h1.demo {
    border-bottom: 1px solid #bac0c4;
    font-family: Montserrat-bold;
    font-size: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;

    + p {
      margin-bottom: 2rem;
    }
  }
}

em {
  font-size: 80%;
  opacity: .6;
}

.ks-container {
  margin: 6rem 0;
}

// GRID
.grid-example {
  .row {
    margin: 0;
    div {
      background: #c9efe6;
      border: 1px solid #7ba59b;
      padding: 1rem;
    }
  }
}

// BUTTONS
.button-demo > button {
  margin-right: 2rem;
}

// FORMS
.form-elements {
  display: flex;
  width: 100%;
  .form-wrapper {
    background: rgba(0,0,0,0.05);
    margin: 0;
  }
}


.demo-contact-form {
  h3, span{
    color: white;
  }
}

.form-demo {
  background: rgba(8, 53, 99, 1.000);
	display: flex;
	align-items: center;
	justify-content: center;
  padding: 8rem;
}
