.department-admin-home {
  .badge-danger {
    background-color: $color-brand-danger;
  }

  .badge-primary {
    background-color: #5bc0de;
  }

  .badge-success {
    background-color: #28a745;
  }

  .badge-warning {
    background-color: #ffc107;
  }

  .action-message {
    text-align: center;
    margin-top: 2rem;
  }

  .department-users {
    @include media-breakpoint-down(sm) {
      padding-top: 1.5rem;
    }

    .department-users-table {
      @include table(1300px);
      @extend .my-4;

      .cell {
        vertical-align: middle;

        &.name {
          max-width: 215px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &.email {
          max-width: 300px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &.admin,
        &.ingest,
        &.dashboard-admin,
        &.dashboard-readonly {
          text-align: center;

          @media screen and (max-width: 1200px) {
            text-align: left;
          }
        }

        &.status {
          font-size: 14px;
          text-transform: uppercase;
        }

        &.action {
          .dropdown {
            display: inline-block;
            margin-left: 8px;

            @media screen and (max-width: 1200px) {
              margin-left: 0;
            }

            .dropdown-button {
              display: flex;
              align-items: center;
              justify-content: center;
              background: white;
              color: $gray-800;
              border: solid 1px $input-border-color;
              width: 30px;
              height: 30px;
              cursor: pointer;
              transition: filter 0.25s;

              &:hover {
                filter: brightness(0.95);
              }
            }
          }

          &.current-user {
            @media screen and (max-width: 1200px) {
              display: none;
            }

            .dropdown {
              display: none !important;
            }
          }
        }
      }
    }
  }
}
